Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

Added quote to english.json
  frontend/static/quotes/english.json
Labels: frontend

Added quote to english.json
  frontend/static/quotes/english.json
Labels: frontend

fix themes
  frontend/static/themes/aurora.css
  frontend/static/themes/fire.css
  frontend/static/themes/grape.css
  frontend/static/themes/rainbow_trail.css
  frontend/static/themes/rgb.css
  frontend/static/themes/shadow.css
  frontend/static/themes/trance.css
Labels: frontend

reorder sections
  frontend/src/html/pages/account-settings.html
Labels: frontend

show message if already set streak hour offset
  frontend/src/html/pages/account-settings.html
  frontend/src/styles/account-settings.scss
  frontend/src/ts/pages/account-settings.ts
Labels: frontend

strings
  frontend/src/html/popups.html
Labels: frontend

chore: release v24.34.0
  packages/release/package.json
Labels: packages

changed buttons to checkboxes, need to fix state change
  frontend/src/html/popups.html
  frontend/src/styles/popups.scss
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/modals/edit-preset.ts
Labels: frontend

fix: switch fancy dash to regular
  frontend/static/quotes/albanian.json
  frontend/static/quotes/bangla.json
  frontend/static/quotes/english.json
  frontend/static/quotes/estonian.json
  frontend/static/quotes/french.json
  frontend/static/quotes/german.json
  frontend/static/quotes/lithuanian.json
  frontend/static/quotes/nepali.json
  frontend/static/quotes/norwegian_bokmal.json
  frontend/static/quotes/portuguese.json
  frontend/static/quotes/russian.json
  frontend/static/quotes/swedish.json
  frontend/static/quotes/turkish.json
  frontend/static/quotes/ukrainian.json
Labels: frontend

fix: x2 quote-in-a-row
  frontend/static/quotes/russian.json
  frontend/static/quotes/turkish.json
Labels: frontend

fix: trim ends for code, format
  frontend/static/quotes/code_arduino.json
  frontend/static/quotes/code_assembly.json
  frontend/static/quotes/code_c++.json
  frontend/static/quotes/code_c.json
  frontend/static/quotes/code_csharp.json
  frontend/static/quotes/code_css.json
  frontend/static/quotes/code_cuda.json
  frontend/static/quotes/code_go.json
  frontend/static/quotes/code_java.json
  frontend/static/quotes/code_javascript.json
  frontend/static/quotes/code_julia.json
  frontend/static/quotes/code_kotlin.json
  frontend/static/quotes/code_lua.json
  frontend/static/quotes/code_nim.json
  frontend/static/quotes/code_php.json
  frontend/static/quotes/code_python.json
  frontend/static/quotes/code_r.json
  frontend/static/quotes/code_ruby.json
  frontend/static/quotes/code_rust.json
  frontend/static/quotes/code_systemverilog.json
Labels: frontend

cleanup
  backend/__tests__/api/controllers/quotes.spec.ts
  backend/__tests__/utils/misc.spec.ts
  backend/src/api/routes/quotes.ts
  backend/src/dal/new-quotes.ts
  packages/contracts/src/schemas/quotes.ts
Labels: backend, packages

style: fix some themes not working well with the new header menu
  frontend/static/themes/9009.css
  frontend/static/themes/aether.css
  frontend/static/themes/beach.css
  frontend/static/themes/chaos_theory.css
  frontend/static/themes/desert_oasis.css
  frontend/static/themes/dmg.css
  frontend/static/themes/dots.css
  frontend/static/themes/dracula.css
  frontend/static/themes/dualshot.css
  frontend/static/themes/froyo.css
  frontend/static/themes/fruit_chew.css
  frontend/static/themes/future_funk.css
  frontend/static/themes/graen.css
  frontend/static/themes/horizon.css
  frontend/static/themes/metropolis.css
  frontend/static/themes/milkshake.css
  frontend/static/themes/moonlight.css
  frontend/static/themes/oblivion.css
  frontend/static/themes/retrocast.css
  frontend/static/themes/sewing_tin.css
  frontend/static/themes/sewing_tin_light.css
  frontend/static/themes/snes.css
  frontend/static/themes/taro.css
  frontend/static/themes/terrazzo.css
  frontend/static/themes/trackday.css
Labels: frontend

refactor: move mini result chart to the new modal system
  frontend/src/html/pages/account.html
  frontend/src/html/popups.html
  frontend/src/styles/account.scss
  frontend/src/styles/popups.scss
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/event-handlers/global.ts
  frontend/src/ts/modals/mini-result-chart.ts
  frontend/src/ts/pages/account.ts
Labels: frontend

tag visibility
  backend/scripts/openapi.ts
Labels: backend

feat: add kessoku theme
  frontend/static/themes/_list.json
  frontend/static/themes/kessoku.css
Labels: frontend

feat: new caret color
  frontend/static/themes/kessoku.css
Labels: frontend

fixed checkbox bug
  frontend/src/ts/config.ts
  frontend/src/ts/modals/edit-preset.ts
Labels: frontend

cleaned up css
  frontend/src/styles/popups.scss
Labels: frontend

removed todos
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/modals/edit-preset.ts
Labels: frontend

removed console logs
  frontend/src/ts/modals/edit-preset.ts
Labels: frontend

fixed legacy values
  frontend/src/ts/controllers/preset-controller.ts
Labels: frontend

fixed tests
  backend/__tests__/api/controllers/preset.spec.ts
Labels: backend

style: remove unused keyframe
  frontend/static/themes/kessoku.css
Labels: frontend

review comments
  backend/src/api/controllers/result.ts
  backend/src/utils/result.ts
  frontend/src/ts/modals/last-signed-out-result.ts
  frontend/src/ts/utils/results.ts
Labels: backend, frontend

chore(server): warn if object hash check is disabled
  backend/src/api/controllers/result.ts
Labels: backend

review comments
  frontend/src/ts/test/test-logic.ts
Labels: frontend

not fixed
  backend/src/api/controllers/result.ts
Labels: backend

fixed
  backend/src/api/controllers/result.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/test/test-logic.ts
Labels: backend, frontend

better type
  frontend/src/ts/test/test-stats.ts
Labels: frontend

fixes
  backend/src/api/controllers/result.ts
  frontend/src/ts/elements/account-button.ts
  packages/contracts/src/results.ts
  packages/contracts/src/schemas/results.ts
Labels: backend, frontend, packages

fix notSignedInLastResult getting send outside the modal
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/modals/google-sign-up.ts
  frontend/src/ts/modals/last-signed-out-result.ts
  frontend/src/ts/test/test-logic.ts
Labels: frontend

added option for full configs
  backend/__tests__/api/controllers/preset.spec.ts
  frontend/src/html/popups.html
  frontend/src/styles/popups.scss
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/modals/edit-preset.ts
  packages/contracts/src/schemas/presets.ts
Labels: backend, frontend, packages

added requested look changes
  frontend/src/html/popups.html
  frontend/src/styles/popups.scss
  frontend/src/ts/modals/edit-preset.ts
Labels: frontend

fixed behavior spelling
  frontend/src/ts/modals/edit-preset.ts
Labels: frontend

made setting groups optional, testing pending
  frontend/src/ts/modals/edit-preset.ts
  frontend/src/ts/types/types.d.ts
  packages/contracts/src/schemas/presets.ts
Labels: frontend, packages

docs: replace npm commands with pnpm
  docs/CONTRIBUTING_ADVANCED.md
Labels: docs

fix(funbox): choo choo not working
  frontend/static/funbox/choo_choo.css
Labels: frontend

fix anticheat
  backend/src/anticheat/index.ts
  backend/src/api/controllers/result.ts
Labels: backend

impr: use tsrest for configuration endpoints (@fehmer)
  backend/__tests__/api/controllers/configurations.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/routes/configuration.ts
  backend/src/constants/base-configuration.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/utility.ts
  packages/contracts/src/configurations.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/configurations.ts
  packages/shared-types/src/index.ts
Labels: backend, packages

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]
