Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

fix
  backend/src/api/controllers/configuration.ts
  backend/src/api/routes/configuration.ts
  backend/src/api/routes/index.ts
  backend/src/init/configuration.ts
  backend/src/middlewares/utility.ts
  packages/contracts/src/configurations.ts
  packages/contracts/src/index.ts
Labels: backend, packages

refactor
  backend/src/api/routes/configuration.ts
  backend/src/middlewares/auth.ts
Labels: backend

stuff
  backend/__tests__/__testData__/auth.ts
  backend/__tests__/api/controllers/configurations.spec.ts
  backend/__tests__/middlewares/auth.spec.ts
  backend/src/api/controllers/admin.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/configuration.ts
  backend/src/dal/user.ts
  backend/src/init/configuration.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/configuration.ts
  backend/src/middlewares/permission.ts
  backend/src/queues/later-queue.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
  frontend/src/ts/ape/endpoints/configuration.ts
  frontend/src/ts/ape/server-configuration.ts
  packages/contracts/src/configurations.ts
  packages/contracts/src/schemas/api.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

todo
  backend/src/api/routes/index.ts
Labels: backend

frontend
  frontend/src/ts/ape/endpoints/configuration.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/server-configuration.ts
Labels: frontend

cleanup
  backend/src/api/controllers/configuration.ts
  backend/src/api/routes/index.ts
Labels: backend

tag visibility
  backend/scripts/openapi.ts
Labels: backend

rename to configuration
  backend/__tests__/__testData__/auth.ts
  backend/__tests__/api/controllers/configuration.spec.ts
  backend/src/api/controllers/admin.ts
  backend/src/api/controllers/configuration.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/configuration.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/init/configuration.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/configuration.ts
  backend/src/queues/later-queue.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
  frontend/src/ts/ape/server-configuration.ts
  packages/contracts/src/configuration.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/configuration.ts
Labels: backend, frontend, packages

strings
  backend/scripts/openapi.ts
  packages/contracts/src/configuration.ts
  packages/contracts/src/schemas/api.ts
Labels: backend, packages

refactor: rename val to getVal and replace forEach loop with for of
  frontend/src/ts/modals/share-test-settings.ts
Labels: frontend

refactor: updateURL function
  frontend/src/ts/modals/share-test-settings.ts
Labels: frontend

fix ValidModeRuleSchema
  packages/contracts/src/schemas/configuration.ts
Labels: packages

fix: server not logging exceptions
  backend/src/utils/logger.ts
Labels: backend

refactor checkIfUserIsAdmin
  backend/src/middlewares/permission.ts
Labels: backend

impr: use tsrest for configurations endpoint (@fehmer) (#5796)
  backend/__tests__/__testData__/auth.ts
  backend/__tests__/api/controllers/configuration.spec.ts
  backend/__tests__/middlewares/auth.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/admin.ts
  backend/src/api/controllers/configuration.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/configuration.ts
  backend/src/api/routes/index.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/init/configuration.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/configuration.ts
  backend/src/middlewares/permission.ts
  backend/src/middlewares/utility.ts
  backend/src/queues/later-queue.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
  frontend/src/ts/ape/endpoints/configuration.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/server-configuration.ts
  packages/contracts/src/configuration.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/configuration.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

impr: use tsrest for dev endpoints (@fehmer)
  backend/__tests__/api/controllers/dev.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/dev.ts
  backend/src/api/routes/dev.ts
  backend/src/api/routes/index.ts
  frontend/src/ts/ape/endpoints/dev.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/dev.d.ts
  frontend/src/ts/modals/simple-modals.ts
  packages/contracts/src/dev.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/api.ts
Labels: backend, frontend, packages

cleanup
  backend/__tests__/api/controllers/dev.spec.ts
  backend/src/api/controllers/dev.ts
  backend/src/api/routes/dev.ts
  backend/src/middlewares/utility.ts
Labels: backend

tests
  backend/__tests__/api/controllers/dev.spec.ts
Labels: backend

tag visibility
  backend/scripts/openapi.ts
  backend/src/api/controllers/dev.ts
  backend/src/middlewares/utility.ts
  packages/contracts/src/schemas/api.ts
Labels: backend, packages

refactor: updateURL function for improved maintainability (@anthonypz) (#5817)
  frontend/src/ts/modals/share-test-settings.ts
Labels: frontend

impr: use tsrest for dev endpoints (@fehmer) (#5800)
  backend/__tests__/api/controllers/dev.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/dev.ts
  backend/src/api/routes/dev.ts
  backend/src/api/routes/index.ts
  backend/src/middlewares/utility.ts
  frontend/src/ts/ape/endpoints/dev.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/dev.d.ts
  frontend/src/ts/modals/simple-modals.ts
  packages/contracts/src/dev.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/api.ts
Labels: backend, frontend, packages

partial and full preset flow complete
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/modals/edit-preset.ts
Labels: frontend

restored old preset tests, added additional tests
  backend/__tests__/api/controllers/preset.spec.ts
Labels: backend

added additional tests
  backend/__tests__/api/controllers/preset.spec.ts
Labels: backend

added additional tests
  backend/__tests__/api/controllers/preset.spec.ts
Labels: backend

added frontend test, failing for now
  frontend/__tests__/utils/config.spec.ts
Labels: frontend

fixed frontend test
  frontend/__tests__/root/config.spec.ts
  frontend/__tests__/utils/config.spec.ts
Labels: frontend

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]
