Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

allow wide hints to overflow horizontally when tapeMode=off
  frontend/src/ts/test/test-ui.ts
Labels: frontend

chore: add more recommended extensions
  .vscode/extensions.json
Labels: none

chore: fix eslint in dev script
  backend/package.json
Labels: backend

refactor: use single client for whole contract on frontend (@fehmer) (#5752)
  frontend/src/ts/ape/index.ts
  frontend/src/ts/pages/about.ts
Labels: frontend

fix: documentation link in settings (@fehmer)
  frontend/src/html/pages/settings.html
Labels: frontend

fix: documentation link in settings (@fehmer) (#5755)
  frontend/src/html/pages/settings.html
Labels: frontend

Update english_1k.json
  frontend/static/languages/english_1k.json
Labels: frontend

ls with schema
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/tag-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/elements/psa.ts
  frontend/src/ts/modals/cookies.ts
  frontend/src/ts/states/arabic-lazy-mode.ts
  frontend/src/ts/states/version.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/utils/local-storage-with-schema.ts
  frontend/src/ts/utils/logger.ts
  packages/contracts/src/schemas/users.ts
  packages/shared-types/src/index.ts
Labels: frontend, packages

fix(caret): not working in zen mode
  frontend/src/ts/test/caret.ts
Labels: frontend

style: sliiiightly increase the horizontal word margin
  frontend/src/styles/test.scss
Labels: frontend

add on schema fail
  frontend/src/ts/utils/local-storage-with-schema.ts
Labels: frontend

add fallback move migrate to constructor
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/tag-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/elements/merch-banner.ts
  frontend/src/ts/elements/psa.ts
  frontend/src/ts/modals/cookies.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/states/arabic-lazy-mode.ts
  frontend/src/ts/states/version.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/utils/config.ts
  frontend/src/ts/utils/local-storage-with-schema.ts
  frontend/src/ts/utils/logger.ts
Labels: frontend

fix: save custom text button not enabled (#5692)
  frontend/src/ts/modals/save-custom-text.ts
Labels: frontend

fix path
  packages/contracts/src/leaderboards.ts
Labels: packages

tests (need to update)
  frontend/__tests__/utils/local-storage-with-schema.spec.ts
Labels: frontend

style: only apply error underline when moving to the next word
  frontend/src/ts/test/test-ui.ts
Labels: frontend

tests
  frontend/__tests__/utils/local-storage-with-schema.spec.ts
Labels: frontend

error, passing zod issues through
  frontend/src/ts/utils/local-storage-with-schema.ts
Labels: frontend

fix result filter types
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/config.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/types/types.d.ts
  packages/contracts/src/schemas/users.ts
Labels: frontend, packages

fix(server): incorrect apekeys permission check
  backend/src/api/routes/ape-keys.ts
Labels: backend

chore: add vitest workspace configuration file
  package.json
  pnpm-lock.yaml
  vitest.workspace.json
Labels: none

feat: add dev langauge
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/dev.json
Labels: frontend

Update filipino.json
  frontend/static/languages/filipino.json
Labels: frontend

fix(caret): not working in zen mode
  frontend/src/ts/test/caret.ts
Labels: frontend

fix(server): incorrect apekeys permission check
  backend/src/api/routes/ape-keys.ts
Labels: backend

refactor: use single client for whole contract on frontend (@fehmer) (#5752)
  frontend/src/ts/ape/index.ts
  frontend/src/ts/pages/about.ts
Labels: frontend

style: sliiiightly increase the horizontal word margin
  frontend/src/styles/test.scss
Labels: frontend

style: only apply error underline when moving to the next word
  frontend/src/ts/test/test-ui.ts
Labels: frontend

chore: add vitest workspace configuration file
  package.json
  pnpm-lock.yaml
  vitest.workspace.json
Labels: none

fix: documentation link in settings (@fehmer) (#5755)
  frontend/src/html/pages/settings.html
Labels: frontend

remove console logs
  frontend/src/ts/config.ts
Labels: frontend

remove comment
  frontend/src/ts/config.ts
Labels: frontend

move function back
  frontend/src/ts/config.ts
  frontend/src/ts/utils/config.ts
Labels: frontend

chore: add test case for apekey permission bug (@fehmer)
  backend/__tests__/api/controllers/ape-key.spec.ts
Labels: backend

fix console log
  frontend/src/ts/config.ts
Labels: frontend

add isobject util
  frontend/__tests__/test/misc.spec.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend

make sure value is an object first, use default config if not
  frontend/src/ts/config.ts
Labels: frontend

chore: add test case for apekey permission bug (@fehmer) (#5762)
  backend/__tests__/api/controllers/ape-key.spec.ts
Labels: backend

chore: fix test coverage not working with vitest workspaces (@fehmer)
  package.json
  pnpm-lock.yaml
  vitest.config.js
Labels: none

fix zod record
  frontend/src/ts/test/custom-text.ts
Labels: frontend

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]
