Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]

fix import
  backend/src/dal/user.ts
Labels: backend

chore: fix test coverage not working with vitest workspaces (@fehmer) (#5764)
  package.json
  pnpm-lock.yaml
  vitest.config.js
Labels: none

fix order
  frontend/src/ts/config.ts
Labels: frontend

Add 3 Paulo Coelho qutoes to german.json
  frontend/static/quotes/german.json
Labels: frontend

fix(save custom text modal): save button not being enabled (@brenob6) (#5759)
  frontend/src/ts/modals/save-custom-text.ts
Labels: frontend

fix(language): add one thousandth word to english 1k (@avick-saha) (#5757)
  frontend/static/languages/english_1k.json
Labels: frontend

impr: update filipino word list (@Killer8Hyper) (#5761)
  frontend/static/languages/filipino.json
Labels: frontend

impr(quotes): add 3 german quotes (@neinja007) (#5767)
  frontend/static/quotes/german.json
Labels: frontend

review comments
  backend/src/dal/leaderboards.ts
  backend/src/utils/daily-leaderboards.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/types/types.d.ts
Labels: backend, frontend

review comments
  backend/src/dal/leaderboards.ts
  backend/src/utils/daily-leaderboards.ts
Labels: backend

impr: use tsrest for leaderboard endpoints (@fehmer) (#5717)
  backend/__tests__/__testData__/auth.ts
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/api/controllers/public.spec.ts
  backend/__tests__/dal/leaderboards.spec.ts
  backend/package.json
  backend/scripts/openapi.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/dal/leaderboards.ts
  backend/src/documentation/internal-swagger.json
  backend/src/documentation/public-swagger.json
  backend/src/jobs/update-leaderboards.ts
  backend/src/queues/george-queue.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/utils/daily-leaderboards.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/leaderboards.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/leaderboards.d.ts
  frontend/src/ts/config.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/types/types.d.ts
  packages/contracts/src/index.ts
  packages/contracts/src/leaderboards.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/configs.ts
  packages/contracts/src/schemas/leaderboards.ts
  packages/contracts/src/schemas/util.ts
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: backend, frontend, packages

as any
  frontend/__tests__/utils/local-storage-with-schema.spec.ts
Labels: frontend

change parameter to object
  frontend/__tests__/utils/local-storage-with-schema.spec.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/tag-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/elements/merch-banner.ts
  frontend/src/ts/elements/psa.ts
  frontend/src/ts/modals/cookies.ts
  frontend/src/ts/states/arabic-lazy-mode.ts
  frontend/src/ts/states/version.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/utils/local-storage-with-schema.ts
  frontend/src/ts/utils/logger.ts
Labels: frontend

chore: allow expressions in explicit-function-return-type rule
  packages/eslint-config/index.js
Labels: packages

id schema
  packages/contracts/src/schemas/users.ts
Labels: packages

modeschema
  packages/contracts/src/schemas/users.ts
Labels: packages

impr: update filipino word list (@Killer8Hyper)
  frontend/static/languages/filipino.json
Labels: frontend

add migrate funciton, start on tests
  frontend/__tests__/elements/account/result-filters.spec.ts
  frontend/src/ts/elements/account/result-filters.ts
Labels: frontend

impr: deep copy constant objects when retrieving them
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/constants/default-result-filters.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
Labels: frontend

fix: play sound on error on hover in settings pop up menu
  frontend/src/ts/commandline/lists/sound-on-error.ts
  frontend/src/ts/controllers/sound-controller.ts
Labels: frontend

update tests
  frontend/__tests__/elements/account/result-filters.spec.ts
  frontend/src/ts/constants/default-result-filters.ts
Labels: frontend

impr: update filipino word list (@Killer8Hyper) (#5768)
  frontend/static/languages/filipino.json
Labels: frontend

name
  frontend/src/ts/controllers/sound-controller.ts
Labels: frontend

impr(commandline): preview error sound on hover (@Bretis2019) (#5769)
  frontend/src/ts/commandline/lists/sound-on-error.ts
  frontend/src/ts/controllers/sound-controller.ts
Labels: frontend

chore: update vitest to 2.0.5 (@fehmer)
  backend/package.json
  backend/vitest.config.js
  frontend/package.json
  package.json
  pnpm-lock.yaml
Labels: backend, frontend

impr: add local storage with schema class to improve type safety (@miodec) (#5763)
  backend/src/dal/user.ts
  frontend/__tests__/elements/account/result-filters.spec.ts
  frontend/__tests__/test/misc.spec.ts
  frontend/__tests__/utils/local-storage-with-schema.spec.ts
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-result-filters.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/tag-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/elements/merch-banner.ts
  frontend/src/ts/elements/psa.ts
  frontend/src/ts/modals/cookies.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/states/arabic-lazy-mode.ts
  frontend/src/ts/states/version.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/local-storage-with-schema.ts
  frontend/src/ts/utils/logger.ts
  frontend/src/ts/utils/misc.ts
  packages/contracts/src/schemas/users.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

chore: update vitest to 2.0.5 (@fehmer) (#5770)
  backend/package.json
  backend/vitest.config.js
  frontend/package.json
  package.json
  pnpm-lock.yaml
Labels: backend, frontend

impr: add req.method to dev slowdown log
  backend/src/api/routes/index.ts
Labels: backend

ci: skip semantic pr title for dependabot (@fehmer)
  .github/workflows/semantic-pr-title.yml
Labels: none

impr: log unknown validation errors (@fehmer)
  backend/src/api/routes/index.ts
Labels: backend

impr: create zen_huhn.css
  frontend/static/themes/zen_huhn.css
Labels: frontend

Update _list.json
  frontend/static/themes/_list.json
Labels: frontend

format zen_huhn with prettier
  frontend/static/themes/zen_huhn.css
Labels: frontend

correct indentation
  frontend/static/themes/zen_huhn.css
Labels: frontend

chore: add icloud typos
  frontend/src/ts/utils/typo-list.ts
Labels: frontend

ci: skip semantic pr title for dependabot (@fehmer) (#5776)
  .github/workflows/semantic-pr-title.yml
Labels: none

impr(server): log unknown validation errors (@fehmer) (#5777)
  backend/src/api/routes/index.ts
Labels: backend

fix(dev): mark dev tasks as persistent
  turbo.json
Labels: none

revert removal of forks pool
  backend/vitest.config.js
Labels: backend

ci: fix backend vitest.config (@fehmer) (#5780)
  backend/vitest.config.js
Labels: backend
