Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]

feat(layout): add the romak layout (@rafaelromao) (#5741)
  frontend/static/layouts/_list.json
Labels: frontend

chore: run anticheat for banned accounts
  backend/src/api/controllers/result.ts
Labels: backend

chore: run anticheat for banned accounts
  backend/src/api/controllers/result.ts
Labels: backend

ci: fix prettier failing on removed files (@fehmer)
  .github/workflows/monkey-ci.yml
Labels: none

ci: fix prettier failing on removed files (@fehmer) (#5742)
  .github/workflows/monkey-ci.yml
Labels: none

fix(caret): jumping in word tape mode and RTL position issues (@NadAlaba) (#5726)
  frontend/src/ts/test/caret.ts
Labels: frontend

use uppercase PSA, plural contract
  backend/src/api/routes/psas.ts
  backend/src/dal/psa.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/elements/psa.ts
  packages/contracts/src/index.ts
  packages/contracts/src/psas.ts
  packages/contracts/src/schemas/psas.ts
Labels: backend, frontend, packages

move to package
  package.json
  packages/eslint-config/index.js
  packages/release/.eslintrc.cjs
  packages/release/bin/deployBackend.sh
  packages/release/bin/purgeCfCache.sh
  packages/release/package.json
  packages/release/src/buildChangelog.js
  packages/release/src/index.js
  pnpm-lock.yaml
Labels: packages

add changelog dev script
  packages/release/package.json
Labels: packages

packages
  packages/release/package.json
  pnpm-lock.yaml
Labels: packages

remove unnecessary scripts
  packages/release/package.json
Labels: packages

fix dev script
  packages/release/package.json
Labels: packages

add function to run command in project root, add --no-sync-check
  packages/release/src/index.js
Labels: packages

remove scripts
  packages/release/package.json
Labels: packages

move deps to dev
  packages/release/package.json
  pnpm-lock.yaml
Labels: packages

impr: use tsrest for psa endpoints (@fehmer) (#5712)
  backend/__tests__/api/controllers/psa.spec.ts
  backend/__tests__/utils/misc.spec.ts
  backend/package.json
  backend/redocly.yaml
  backend/scripts/openapi.ts
  backend/src/api/controllers/psa.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/psas.ts
  backend/src/dal/psa.ts
  backend/src/documentation/internal-swagger.json
  backend/src/utils/misc.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/psas.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/elements/psa.ts
  packages/contracts/src/index.ts
  packages/contracts/src/psas.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/psas.ts
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: backend, frontend, packages

tests
  backend/__tests__/api/controllers/public.spec.ts
  backend/src/dal/public.ts
Labels: backend

wip
  backend/__tests__/api/controllers/public.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/public.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/public.ts
  backend/src/dal/public.ts
  frontend/src/ts/ape/endpoints/public.ts
  frontend/src/ts/pages/about.ts
  packages/contracts/src/index.ts
  packages/contracts/src/public.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/public.ts
  packages/contracts/src/schemas/shared.ts
  packages/contracts/src/schemas/util.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

error messages, tests
  backend/__tests__/api/controllers/public.spec.ts
  packages/contracts/src/public.ts
  packages/contracts/src/schemas/shared.ts
Labels: backend, packages

frontend
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/public.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/pages/about.ts
Labels: frontend

fix
  backend/src/api/controllers/public.ts
Labels: backend

fix
  backend/__tests__/api/controllers/public.spec.ts
Labels: backend

prod deps, ocotokit version
  packages/release/package.json
Labels: packages

lock
  pnpm-lock.yaml
Labels: none

make eslint happy again
  backend/src/api/controllers/public.ts
  backend/src/utils/pb.ts
  backend/src/utils/prometheus.ts
  frontend/src/ts/modals/pb-tables.ts
  frontend/src/ts/modals/share-test-settings.ts
  frontend/src/ts/test/pace-caret.ts
Labels: backend, frontend

🤔
  backend/__tests__/dal/admin-uids.spec.ts
Labels: backend

refactor: move release code to a package (@miodec) (#5743)
  backend/__tests__/dal/admin-uids.spec.ts
  package.json
  packages/eslint-config/index.js
  packages/release/.eslintrc.cjs
  packages/release/bin/deployBackend.sh
  packages/release/bin/purgeCfCache.sh
  packages/release/package.json
  packages/release/src/buildChangelog.js
  packages/release/src/index.js
  pnpm-lock.yaml
Labels: backend, packages

fix: incorrect paths
  packages/release/src/index.js
Labels: packages

chore: add more badges to readme (@fehmer)
  README.md
Labels: docs

get rid of miodec
  README.md
Labels: docs

chore: add more badges to readme (@fehmer) (#5744)
  README.md
Labels: docs

impr: notify user that captcha api failed to respond instead of throwing a server error
  backend/src/api/controllers/user.ts
Labels: backend

impr: export cf purge script
  package.json
  packages/release/package.json
Labels: packages

fix: sh scripts sometimes not finding .env file
  packages/release/bin/deployBackend.sh
  packages/release/bin/purgeCfCache.sh
Labels: packages

fix: remove tailing slashes from new endpoint urls (@fehmer)
  packages/contracts/src/admin.ts
  packages/contracts/src/ape-keys.ts
  packages/contracts/src/configs.ts
  packages/contracts/src/psas.ts
Labels: packages

don't skip authentication on public endpoints
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

fix(quote): user reports
  frontend/static/quotes/code_csharp.json
  frontend/static/quotes/english.json
  frontend/static/quotes/indonesian.json
  frontend/static/quotes/russian.json
Labels: frontend

chore: quote lengths script
  frontend/static/quotes/russian.json
Labels: frontend

fix
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

fix: remove tailing slashes from new endpoint urls (@fehmer) (#5745)
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
  packages/contracts/src/admin.ts
  packages/contracts/src/ape-keys.ts
  packages/contracts/src/configs.ts
  packages/contracts/src/psas.ts
Labels: frontend, packages
