Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]

fix(ci): errors when running on push
  .github/workflows/monkey-ci.yml
Labels: none

treat blind mode and hide extra letters the same
  frontend/src/ts/test/caret.ts
Labels: frontend

change naming and fix tape word
  frontend/src/ts/test/caret.ts
Labels: frontend

fix ts
  frontend/src/ts/test/test-input.ts
  frontend/src/ts/utils/ip-addresses.ts
  frontend/src/ts/utils/search-service.ts
Labels: frontend

chore: add search ignore paths
  monkeytype.code-workspace
Labels: none

only ignore user not found on sendForgotPasswordEmail
  backend/__tests__/api/controllers/admin.spec.ts
  backend/src/utils/auth.ts
Labels: backend

ci: reduce checkout for prettier (@fehmer)
  .github/workflows/monkey-ci.yml
Labels: none

trigggger
  backend/src/server.ts
Labels: backend

fix?
  .github/workflows/monkey-ci.yml
Labels: none

fix??
  .github/workflows/monkey-ci.yml
Labels: none

fix????
  .github/workflows/monkey-ci.yml
  frontend/static/languages/english.json
Labels: frontend

manual
  .github/workflows/monkey-ci.yml
Labels: none

join newline
  .github/workflows/monkey-ci.yml
Labels: none

ci: skip cache download on prime-cache job
  .github/workflows/monkey-ci.yml
Labels: none

ci: skip full checkout on pre-ci on pull requests (@fehmer)
  .github/workflows/monkey-ci.yml
Labels: none

upgrade eslint ts parser
  backend/src/dal/user.ts
Labels: backend

upgrade eslint parser
  backend/src/middlewares/validation.ts
  frontend/package.json
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/settings/settings-group.ts
  frontend/src/ts/elements/test-activity-calendar.ts
  frontend/src/ts/test/funbox/funbox-validation.ts
  frontend/src/ts/types/types.d.ts
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: backend, frontend, packages

ci: skip cache download on prime-cache job (@fehmer) (#5737)
  .github/workflows/monkey-ci.yml
Labels: none

review comments
  .github/workflows/monkey-ci.yml
Labels: none

ci: skip full checkout on pre-ci on pull requests (@fehmer) (#5738)
  .github/workflows/monkey-ci.yml
Labels: none

merge
  pnpm-lock.yaml
Labels: none

eslint-plugin ugrade
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: packages

fix test for first day in june
  frontend/__tests__/elements/test-activity-calendar.spec.ts
Labels: frontend

final refactor
  frontend/src/ts/test/caret.ts
Labels: frontend

fir lint errors
  backend/src/api/controllers/user.ts
  backend/src/api/ts-rest-adapter.ts
  backend/src/init/email-client.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/utils/misc.ts
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/commandline/lists/navigation.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/modals/version-history.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/test/funbox/funbox-validation.ts
  frontend/src/ts/test/pace-caret.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/utils/arrays.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/url-handler.ts
  packages/eslint-config/index.js
Labels: backend, frontend, packages

change naming
  frontend/src/ts/test/caret.ts
Labels: frontend

fix no double month for for 16th june
  frontend/__tests__/elements/test-activity-calendar.spec.ts
Labels: frontend

dont show empty notification
  frontend/src/ts/controllers/account-controller.ts
Labels: frontend

nope, cleaner version doesn't work
  frontend/src/ts/test/caret.ts
Labels: frontend

chore: fix tests using machine timezone (@fehmer)
  .eslintignore
  backend/__tests__/global-setup.ts
  frontend/__tests__/global-setup.ts
  frontend/vitest.config.js
Labels: backend, frontend

|| instead of ?? for letter.offsetTop
  frontend/src/ts/test/caret.ts
Labels: frontend

reduce unneeded code
  frontend/src/ts/test/caret.ts
Labels: frontend

Add the Romak layout
  frontend/static/layouts/_list.json
Labels: frontend

chore: fix tests using machine timezone (@fehmer) (#5740)
  .eslintignore
  backend/__tests__/global-setup.ts
  frontend/__tests__/global-setup.ts
  frontend/vitest.config.js
Labels: backend, frontend

add tests for admin-uids
  backend/__tests__/dal/admin-uids.spec.ts
  backend/src/dal/admin-uids.ts
Labels: backend

throw custom error instead
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/db.ts
Labels: frontend

fix
  backend/src/api/ts-rest-adapter.ts
Labels: backend

impr: use tsrest for admin endpoint (@fehmer) (#5713)
  backend/__tests__/api/controllers/admin.spec.ts
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/__tests__/dal/admin-uids.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/admin.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/admin.ts
  backend/src/api/routes/index.ts
  backend/src/dal/admin-uids.ts
  backend/src/utils/auth.ts
  packages/contracts/src/admin.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/api.ts
Labels: backend, packages

impr: use tsrest for psa endpoints (@fehmer)
  backend/__tests__/api/controllers/psa.spec.ts
  backend/__tests__/utils/misc.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/psa.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/psas.ts
  backend/src/dal/psa.ts
  backend/src/utils/misc.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/psas.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/elements/psa.ts
  packages/contracts/src/index.ts
  packages/contracts/src/psas.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/psas.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

remove unused tags from public.json
  backend/package.json
  backend/redocly.yaml
  backend/src/documentation/internal-swagger.json
  pnpm-lock.yaml
Labels: backend
