Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

build(backend): activate inspector to allow attaching debugger (@NadAlaba)
  backend/package.json
Labels: backend

Add Star Trek quotes from under-represented series
  frontend/static/quotes/english.json
Labels: frontend

Fix spelling mistake added by profanity filter
  frontend/static/quotes/english.json
Labels: frontend

wip
  backend/scripts/openapi.ts
  packages/contracts/src/schemas/api.ts
Labels: backend, packages

backend
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/src/api/controllers/ape-key.ts
  backend/src/api/routes/ape-keys.ts
  backend/src/api/routes/index.ts
  backend/src/dal/ape-keys.ts
  backend/src/types/types.d.ts
  packages/contracts/src/ape-keys.ts
  packages/shared-types/src/index.ts
Labels: backend, packages

api tests
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/src/dal/ape-keys.ts
Labels: backend

wip
  backend/scripts/openapi.ts
  packages/contracts/src/ape-keys.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/ape-keys.ts
Labels: backend, packages

frontend
  frontend/src/ts/ape/endpoints/ape-keys.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/ape-keys.d.ts
  frontend/src/ts/modals/ape-keys.ts
  frontend/src/ts/modals/simple-modals.ts
  packages/contracts/src/ape-keys.ts
  packages/contracts/src/schemas/ape-keys.ts
Labels: frontend, packages

docs
  backend/src/documentation/internal-swagger.json
Labels: backend

review comments
  backend/src/api/routes/ape-keys.ts
  backend/src/dal/ape-keys.ts
  frontend/src/ts/modals/simple-modals.ts
Labels: backend, frontend

note on ape key creation
  frontend/src/ts/modals/simple-modals.ts
Labels: frontend

note on ape key creation
  frontend/src/ts/modals/simple-modals.ts
Labels: frontend

impr(ci): verify pr titles include author name (@rizwanmustafa) (#5695)
  .github/workflows/semantic-pr-title.yml
Labels: none

logs
  backend/src/api/controllers/user.ts
  backend/src/dal/user.ts
  backend/src/jobs/delete-old-logs.ts
  backend/src/utils/logger.ts
Labels: backend

refactor
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/dal/logs.ts
  backend/src/dal/user.ts
  backend/src/middlewares/error.ts
  backend/src/utils/logger.ts
  backend/src/workers/email-worker.ts
Labels: backend

or
  backend/src/jobs/delete-old-logs.ts
Labels: backend

delete
  backend/src/api/controllers/user.ts
  backend/src/dal/logs.ts
Labels: backend

refactor part 2: electric boogaloo
  backend/src/api/controllers/quote.ts
  backend/src/dal/leaderboards.ts
  backend/src/init/configuration.ts
  backend/src/jobs/delete-old-logs.ts
Labels: backend

wrong function
  backend/src/api/controllers/user.ts
Labels: backend

not storing important: false in the db
  backend/src/dal/logs.ts
Labels: backend

unused import
  backend/src/jobs/delete-old-logs.ts
Labels: backend

fix pr template to align with new github action
  .github/pull_request_template.md
Labels: docs

fix: make fetch timeout optional for very old browsers (@fehmer)
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

edit pr template checking point too
  .github/pull_request_template.md
Labels: docs

build(backend): activate inspector to allow attaching debugger (@NadAlaba) (#5704)
  backend/package.json
Labels: backend

fix: pr template to align with new github action (@NadAlaba) (#5710)
  .github/pull_request_template.md
Labels: docs

impr(ci): verify pr titles include author name (@rizwanmustafa) (#5707)
  .github/pull_request_template.md
  .github/workflows/semantic-pr-title.yml
Labels: docs

impr(server): store some logs forever (@miodec) (#5708)
  backend/src/api/controllers/quote.ts
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/dal/leaderboards.ts
  backend/src/dal/logs.ts
  backend/src/dal/user.ts
  backend/src/init/configuration.ts
  backend/src/jobs/delete-old-logs.ts
  backend/src/middlewares/error.ts
  backend/src/utils/logger.ts
  backend/src/workers/email-worker.ts
Labels: backend

impr: use tsrest for ape-keys endpoint (@fehmer) (#5706)
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/ape-key.ts
  backend/src/api/routes/ape-keys.ts
  backend/src/api/routes/index.ts
  backend/src/dal/ape-keys.ts
  backend/src/documentation/internal-swagger.json
  backend/src/types/types.d.ts
  frontend/src/ts/ape/endpoints/ape-keys.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/ape-keys.d.ts
  frontend/src/ts/modals/ape-keys.ts
  frontend/src/ts/modals/simple-modals.ts
  packages/contracts/src/ape-keys.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/ape-keys.ts
  packages/contracts/src/schemas/api.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

fix: not being able to make requests on very old browsers (@fehmer) (#5711)
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

build(contracts): fix output paths for windows (@NadAlaba) (#5700)
  packages/contracts/esbuild.config.js
Labels: packages

tests, mild refactoring
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/src/api/controllers/admin.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/admin.ts
Labels: backend

tests, mild refactoring
  backend/__tests__/api/controllers/admin.spec.ts
Labels: backend

backend
  backend/__tests__/api/controllers/admin.spec.ts
  backend/src/api/controllers/admin.ts
  backend/src/api/routes/index.ts
  packages/contracts/src/admin.ts
Labels: backend, packages

backend, wip
  backend/scripts/openapi.ts
  backend/src/api/routes/admin.ts
  packages/contracts/src/admin.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/api.ts
Labels: backend, packages

cleanup imports
  backend/src/api/controllers/quote.ts
  backend/src/api/controllers/user.ts
  backend/src/dal/user.ts
  backend/src/utils/logger.ts
Labels: backend

run prettier, ignore pnpm yaml files
  .prettierignore
Labels: none

setTimeout approach
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

better approach
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

impr(pace caret): add tags pb mode (@NadAlaba)
  frontend/src/html/pages/settings.html
  frontend/src/ts/commandline/lists/pace-caret.ts
  frontend/src/ts/commandline/lists/tags.ts
  frontend/src/ts/config.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/test/pace-caret.ts
  packages/contracts/src/schemas/configs.ts
Labels: frontend, packages

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]
