Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]

add message about setting being moved
  frontend/src/html/pages/settings.html
  frontend/src/styles/account.scss
  frontend/src/styles/settings.scss
  frontend/src/ts/elements/settings/account-settings-notice.ts
  frontend/src/ts/index.ts
  frontend/src/ts/pages/settings.ts
Labels: frontend

query
  frontend/src/styles/media-queries-blue.scss
  frontend/src/styles/settings.scss
Labels: frontend

style: increase margin
  frontend/src/styles/account.scss
Labels: frontend

remove import
  frontend/src/ts/utils/url-handler.ts
Labels: frontend

convert ape keys modal to
  frontend/src/html/pages/account-settings.html
  frontend/src/html/popups.html
  frontend/src/styles/account-settings.scss
  frontend/src/ts/elements/account-settings/ape-key-table.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/pages/account-settings.ts
Labels: frontend

fix(config): some settings sometimes being reset on refresh
  frontend/__tests__/utils/config.spec.ts
  frontend/src/ts/utils/config.ts
Labels: frontend

chore: add todo
  frontend/src/ts/config.ts
Labels: frontend

fix: account verification notice duplicating
  frontend/src/ts/pages/account.ts
Labels: frontend

fix: tape mode sometimes showing two cut off lines
  frontend/src/ts/test/test-ui.ts
Labels: frontend

fix: tape mode sometimes showing two cut off lines (for real this time)
  frontend/src/ts/test/test-ui.ts
Labels: frontend

chore: add todo
  frontend/src/ts/config.ts
Labels: frontend

fix(config): some settings sometimes being reset on refresh
  frontend/__tests__/utils/config.spec.ts
  frontend/src/ts/utils/config.ts
Labels: frontend

fix: account verification notice duplicating
  frontend/src/ts/pages/account.ts
Labels: frontend

fix: tape mode sometimes showing two cut off lines
  frontend/src/ts/test/test-ui.ts
Labels: frontend

fix: tape mode sometimes showing two cut off lines (for real this time)
  frontend/src/ts/test/test-ui.ts
Labels: frontend

remove comment
  frontend/src/html/pages/settings.html
Labels: frontend

redirect to login if not authenticated
  frontend/src/ts/controllers/route-controller.ts
Labels: frontend

show opted out message instead of removing section
  frontend/src/html/pages/account-settings.html
  frontend/src/styles/account-settings.scss
  frontend/src/ts/pages/account-settings.ts
Labels: frontend

move simple modal to its own file hook up edit and delete ape key to modals
  frontend/src/ts/elements/account-settings/ape-key-table.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/pages/account-settings.ts
  frontend/src/ts/utils/simple-modal.ts
Labels: frontend

remove todo
  frontend/src/ts/elements/account-settings/ape-key-table.ts
Labels: frontend

show lost access message
  frontend/src/html/pages/account-settings.html
  frontend/src/styles/account-settings.scss
  frontend/src/ts/elements/account-settings/ape-key-table.ts
Labels: frontend

remove todo
  frontend/src/ts/elements/account-settings/ape-key-table.ts
Labels: frontend

remove comments
  frontend/src/ts/pages/account-settings.ts
Labels: frontend

adding new presets now working
  frontend/src/html/popups.html
  frontend/src/ts/modals/edit-preset.ts
  frontend/src/ts/types/types.d.ts
  packages/contracts/src/schemas/presets.ts
Labels: frontend, packages

edit now fetches active setting groups
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/modals/edit-preset.ts
Labels: frontend

wip
  backend/__tests__/api/controllers/quotes.spec.ts
Labels: backend

tests....
  backend/__tests__/api/controllers/quotes.spec.ts
  backend/src/api/controllers/quote.ts
  backend/src/api/routes/quotes.ts
Labels: backend

impr: optimize permissions middleware (@fehmer)
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/src/api/routes/ape-keys.ts
  backend/src/api/routes/quotes.ts
  backend/src/api/routes/users.ts
  backend/src/middlewares/permission.ts
Labels: backend

more tests, some failing on purpose
  backend/__tests__/api/controllers/quotes.spec.ts
  backend/src/api/controllers/quote.ts
  backend/src/api/routes/quotes.ts
  backend/src/dal/new-quotes.ts
  packages/shared-types/src/index.ts
Labels: backend, packages

migrate backend
  backend/__tests__/api/controllers/quotes.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/quote.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/quotes.ts
  backend/src/dal/new-quotes.ts
  backend/src/documentation/internal-swagger.json
  backend/src/types/types.d.ts
  packages/contracts/src/index.ts
  packages/contracts/src/quotes.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/quotes.ts
  packages/contracts/src/schemas/util.ts
Labels: backend, packages

impr(language): add common Java classes and words
  frontend/static/languages/code_java.json
Labels: frontend

created setting to setting gorup mapping, filtered config save now working
  frontend/src/html/popups.html
  frontend/src/ts/modals/edit-preset.ts
  packages/contracts/src/schemas/presets.ts
Labels: frontend, packages

added partial preset apply
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/modals/edit-preset.ts
  frontend/src/ts/utils/config.ts
Labels: frontend

cleanup
  backend/__tests__/api/controllers/quotes.spec.ts
  backend/src/api/controllers/quote.ts
  backend/src/api/routes/quotes.ts
  backend/src/dal/new-quotes.ts
  backend/src/dal/quote-ratings.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  frontend/src/ts/event-handlers/global.ts
  frontend/src/ts/utils/misc.ts
  packages/contracts/src/schemas/quotes.ts
Labels: backend, frontend, packages

fix types, migrate frontend
  backend/src/api/routes/quotes.ts
  backend/src/dal/new-quotes.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/quotes.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/quotes.d.ts
  frontend/src/ts/modals/quote-approve.ts
  frontend/src/ts/modals/quote-rate.ts
  frontend/src/ts/modals/quote-report.ts
  frontend/src/ts/modals/quote-search.ts
  frontend/src/ts/modals/quote-submit.ts
  packages/contracts/src/quotes.ts
  packages/contracts/src/schemas/quotes.ts
Labels: backend, frontend, packages

revert: thai ligature rendering
  frontend/static/languages/thai.json
Labels: frontend

impr: optimize permissions middleware (@fehmer) (#5801)
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/src/api/routes/ape-keys.ts
  backend/src/api/routes/quotes.ts
  backend/src/api/routes/users.ts
  backend/src/middlewares/permission.ts
Labels: backend

chore: make sure MongoDbMock is using the same configuration (@fehmer) (#5792)
  backend/__tests__/global-setup.ts
  backend/__tests__/setup-tests.ts
Labels: backend

fix(hints): hide hints in blind mode and update position on some config changes (@NadAlaba) (#5754)
  frontend/src/styles/test.scss
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/ui.ts
Labels: frontend

impr(language): add common Java classes and words (#5803)
  frontend/static/languages/code_java.json
Labels: frontend
