Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

types cleanup
  backend/src/api/schemas/result-schema.ts
  backend/src/dal/user.ts
  backend/src/utils/pb.ts
  frontend/src/ts/ape/endpoints/results.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/modals/custom-text.ts
  frontend/src/ts/modals/last-signed-out-result.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-stats.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/results.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

fix frontend
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account/mini-result-chart.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/modals/google-sign-up.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/results.ts
  packages/contracts/src/schemas/results.ts
Labels: frontend, packages

cleanup
  backend/src/api/controllers/result.ts
  backend/src/middlewares/ape-rate-limit.ts
  backend/src/types/types.d.ts
  backend/src/utils/result.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/types/types.d.ts
  packages/contracts/src/results.ts
  packages/contracts/src/schemas/results.ts
Labels: backend, frontend, packages

cleanup
  backend/src/api/controllers/result.ts
  backend/src/middlewares/ape-rate-limit.ts
Labels: backend

impr(account page): automatically enable results if both results and accuracy are disabled to avoid confusion
  frontend/__tests__/root/config.spec.ts
  frontend/src/html/pages/account.html
  frontend/src/ts/config.ts
  frontend/src/ts/pages/account.ts
Labels: frontend

add type for XpBreakdown
  backend/src/api/controllers/result.ts
  frontend/src/ts/elements/account-button.ts
  packages/contracts/src/schemas/results.ts
Labels: backend, frontend, packages

refactor: move all account button related code to one file
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/user-flag-controller.ts
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/modals/google-sign-up.ts
  frontend/src/ts/modals/simple-modals.ts
Labels: frontend

replace frontend client
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/results.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/results.d.ts
  frontend/src/ts/db.ts
  frontend/src/ts/modals/edit-result-tags.ts
  frontend/src/ts/modals/last-signed-out-result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/results.ts
  packages/contracts/src/schemas/results.ts
Labels: frontend, packages

pretty swagger files
  backend/src/documentation/internal-swagger.json
  backend/src/documentation/public-swagger.json
  monkeytype.code-workspace
Labels: backend

chore: make sure MongoDbMock is using the same configuration (@fehmer)
  backend/__tests__/global-setup.ts
  backend/__tests__/setup-tests.ts
Labels: backend

updated popup html
  frontend/src/html/popups.html
Labels: frontend

updated popup css and js
  frontend/src/styles/popups.scss
  frontend/src/ts/modals/edit-preset.ts
Labels: frontend

refactor(sign in out button): move dom modifying code to the element file
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/elements/sign-in-out-button.ts
  frontend/src/ts/ready.ts
Labels: frontend

refactor(account button): dont access snapshot directly, accept parameters instead
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/utils/url-handler.ts
Labels: frontend

boom
  frontend/src/html/header.html
  frontend/src/styles/account.scss
  frontend/src/styles/media-queries-blue.scss
  frontend/src/styles/media-queries-green.scss
  frontend/src/styles/media-queries.scss
  frontend/src/styles/nav.scss
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/elements/sign-in-out-button.ts
  frontend/src/ts/modals/dev-options.ts
  frontend/src/ts/ready.ts
  frontend/static/themes/dots.css
Labels: frontend

remove .account class
  frontend/src/html/header.html
  frontend/src/styles/media-queries-purple.scss
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/elements/account-button.ts
  frontend/static/funbox/crt.css
  frontend/static/themes/rainbow_trail.css
Labels: frontend

remove commented code
  frontend/src/styles/media-queries-green.scss
Labels: frontend

remove comments
  frontend/src/ts/elements/account-button.ts
Labels: frontend

strings
  frontend/src/html/header.html
  frontend/src/styles/nav.scss
Labels: frontend

page
  frontend/src/html/header.html
  frontend/src/html/pages/account-settings.html
  frontend/src/index.html
  frontend/src/ts/controllers/page-controller.ts
  frontend/src/ts/controllers/route-controller.ts
  frontend/src/ts/pages/account-settings.ts
  frontend/src/ts/types/types.d.ts
Labels: frontend

initial page setup
  frontend/src/html/pages/account-settings.html
  frontend/src/styles/account-settings.scss
  frontend/src/styles/index.scss
Labels: frontend

feat: add suisei theme
  frontend/static/themes/_list.json
  frontend/static/themes/suisei.css
Labels: frontend

class
  frontend/src/styles/account-settings.scss
Labels: frontend

feat(layout): add Belgian AZERTY layout
  frontend/static/layouts/_list.json
Labels: frontend

simple modals update ui
  frontend/src/html/pages/account-settings.html
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/pages/account-settings.ts
  frontend/src/ts/pages/settings.ts
Labels: frontend

event listeners
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/modals/simple-modals.ts
Labels: frontend

tab animation
  frontend/src/html/pages/account-settings.html
  frontend/src/ts/pages/account-settings.ts
Labels: frontend

remove from settings
  frontend/src/html/pages/settings.html
Labels: frontend

rename tabs move discord
  frontend/src/html/pages/account-settings.html
  frontend/src/html/pages/settings.html
  frontend/src/styles/account-settings.scss
  frontend/src/styles/media-queries-blue.scss
  frontend/src/styles/settings.scss
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/pages/account-settings.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/utils/url-handler.ts
Labels: frontend

update account name
  frontend/src/html/pages/account-settings.html
  frontend/src/html/pages/settings.html
  frontend/src/ts/modals/simple-modals.ts
Labels: frontend

streak
  frontend/src/html/pages/account-settings.html
  frontend/src/html/pages/settings.html
  frontend/src/ts/event-handlers/settings.ts
  frontend/src/ts/pages/account-settings.ts
Labels: frontend

reset personal bests
  frontend/src/html/pages/account-settings.html
  frontend/src/html/pages/settings.html
  frontend/src/ts/modals/simple-modals.ts
Labels: frontend

lb opt out
  frontend/src/html/pages/account-settings.html
  frontend/src/html/pages/settings.html
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/pages/account-settings.ts
  frontend/src/ts/pages/settings.ts
Labels: frontend

add danger zone
  frontend/src/html/pages/account-settings.html
Labels: frontend

reset delete
  frontend/src/html/pages/account-settings.html
  frontend/src/html/pages/settings.html
  frontend/src/ts/modals/simple-modals.ts
Labels: frontend

apekeys
  frontend/src/html/pages/account-settings.html
  frontend/src/html/pages/settings.html
  frontend/src/ts/event-handlers/settings.ts
  frontend/src/ts/pages/account-settings.ts
Labels: frontend

check before opening modal
  frontend/src/ts/modals/ape-keys.ts
Labels: frontend

media queries
  frontend/src/styles/media-queries-blue.scss
  frontend/src/styles/media-queries-green.scss
  frontend/src/styles/media-queries-purple.scss
  frontend/src/styles/media-queries-yellow.scss
Labels: frontend

cleanup
  backend/__tests__/api/controllers/result.spec.ts
  frontend/src/ts/pages/account.ts
  packages/contracts/src/results.ts
  packages/contracts/src/schemas/results.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

style: update email not verified warning styling
  frontend/src/styles/account.scss
  frontend/src/styles/media-queries-purple.scss
  frontend/src/ts/pages/account.ts
Labels: frontend

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]
