Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]

impr: add email typo to the list
  frontend/src/ts/utils/typo-list.ts
Labels: frontend

impr: add "student" to education email regex
  frontend/src/ts/pages/login.ts
Labels: frontend

review comments
  backend/__tests__/api/controllers/admin.spec.ts
  backend/src/api/controllers/admin.ts
  packages/contracts/src/admin.ts
Labels: backend, packages

feat: last signed out result modal
  frontend/src/html/popups.html
  frontend/src/styles/popups.scss
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/modals/last-signed-out-result.ts
Labels: frontend

rebuild trigger
  backend/src/server.ts
  frontend/src/ts/modals/last-signed-out-result.ts
Labels: backend, frontend

sparse checkout
  .github/workflows/monkey-ci.yml
Labels: none

trigger
  backend/src/server.ts
  frontend/src/ts/test/test-logic.ts
Labels: backend, frontend

triggeeeer
  backend/src/server.ts
  frontend/src/ts/test/test-logic.ts
Labels: backend, frontend

fix syntax
  .github/workflows/monkey-ci.yml
Labels: none

checkout
  .github/workflows/monkey-ci.yml
Labels: none

revert triggers
  backend/src/server.ts
  frontend/src/ts/modals/last-signed-out-result.ts
  frontend/src/ts/test/test-logic.ts
Labels: backend, frontend

build fail
  frontend/src/ts/modals/last-signed-out-result.ts
Labels: frontend

revert fail
  frontend/src/ts/modals/last-signed-out-result.ts
Labels: frontend

prettier on changed files
  .github/workflows/monkey-ci.yml
Labels: none

prettier trigger?
  frontend/static/quotes/english.json
Labels: frontend

missing step, missing packages checkout
  .github/workflows/monkey-ci.yml
Labels: none

broken prettier
  backend/src/server.ts
  frontend/src/ts/test/test-logic.ts
  frontend/static/quotes/english.json
Labels: backend, frontend

prettier fix
  backend/src/server.ts
  frontend/src/ts/test/test-logic.ts
  frontend/static/quotes/english.json
Labels: backend, frontend

revert
  frontend/static/quotes/english.json
Labels: frontend

remove unused steps
  .github/workflows/monkey-ci.yml
Labels: none

only install prettier for the prettier step
  .github/workflows/monkey-ci.yml
Labels: none

trigger
  backend/src/server.ts
Labels: backend

revert
  backend/src/server.ts
Labels: backend

be trigger
  backend/src/server.ts
Labels: backend

exact version
  .github/workflows/monkey-ci.yml
Labels: none

v7
  .github/workflows/monkey-ci.yml
Labels: none

revert
  backend/src/server.ts
Labels: backend

ci: run time improvements (@miodec) (#5727)
  .github/workflows/monkey-ci.yml
  backend/src/server.ts
Labels: backend

Revert "ci: run time improvements (@miodec) (#5727)"
  .github/workflows/monkey-ci.yml
  backend/src/server.ts
Labels: backend

ci: run time improvements (@miodec) (#5730)
  .github/workflows/monkey-ci.yml
Labels: none

refactor assignmet in conditional and remove console.log
  frontend/src/ts/test/caret.ts
Labels: frontend

missing merge
  packages/contracts/src/schemas/configs.ts
Labels: packages

merge fix
  frontend/src/ts/config.ts
  packages/contracts/src/schemas/configs.ts
Labels: frontend, packages

move left calculation in tape mode to getTargetPositionLeft
  frontend/src/ts/test/caret.ts
Labels: frontend

fix: thai ligature rendering
  frontend/static/languages/thai.json
Labels: frontend

no need to calculate left 2 times in tape mode
  frontend/src/ts/test/caret.ts
Labels: frontend

chore: release v24.32.0
  package.json
Labels: none

style(settings page): fix pace caret buttons text overflow
  frontend/src/styles/settings.scss
Labels: frontend

prophylactically consider future changes of hide extra letters
  frontend/src/ts/test/caret.ts
Labels: frontend

refactor: change hideExtraLetters from being html based to css based
  frontend/src/styles/test.scss
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend
