Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]

chore: export deploy backend script
  package.json
  packages/release/package.json
Labels: packages

chore: add test for recordClientVersion (@fehmer)
  backend/__tests__/api/controllers/psa.spec.ts
  packages/contracts/src/presets.ts
Labels: backend, packages

chore: add test for recordClientVersion (@fehmer) (#5746)
  backend/__tests__/api/controllers/psa.spec.ts
  packages/contracts/src/presets.ts
Labels: backend, packages

fix: don't send authentication if user is not authenticated (@fehmer
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

fix: don't send authentication if user is not authenticated (@fehmer (#5747)
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

chore: remove word from profanities list
  backend/src/constants/profanities.ts
Labels: backend

impr(tape mode): support RTL languages (@NadAlaba)
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/ui.ts
Labels: frontend

use variables instead of repeated DOM querying
  frontend/src/ts/test/test-ui.ts
Labels: frontend

refactor: move psa check to after auth was initialised
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/ready.ts
Labels: frontend

refactor: implement recordClientVersion as middleware (@fehmer)
  backend/src/api/routes/index.ts
  backend/src/api/routes/psas.ts
  backend/src/middlewares/record-client-version.ts
Labels: backend

impr: use authentication state instead of the dom
  frontend/src/ts/commandline/lists/navigation.ts
Labels: frontend

move csp for docs into docs route
  backend/src/api/routes/docs.ts
  backend/src/api/routes/index.ts
Labels: backend

fix
  backend/src/api/routes/index.ts
Labels: backend

validation messages
  backend/__tests__/api/controllers/public.spec.ts
  backend/src/api/routes/index.ts
  packages/contracts/src/schemas/util.ts
Labels: backend, packages

impr: use tsrest for public endpoints (@fehmer) (#5716)
  backend/__tests__/api/controllers/public.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/public.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/public.ts
  backend/src/dal/public.ts
  backend/src/utils/pb.ts
  backend/src/utils/prometheus.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/public.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/modals/pb-tables.ts
  frontend/src/ts/modals/share-test-settings.ts
  frontend/src/ts/pages/about.ts
  frontend/src/ts/test/pace-caret.ts
  packages/contracts/src/index.ts
  packages/contracts/src/public.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/public.ts
  packages/contracts/src/schemas/shared.ts
  packages/contracts/src/schemas/util.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

refactor: getLocalPb returns pb object instead of just wpm
  frontend/src/ts/db.ts
  frontend/src/ts/test/pace-caret.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
Labels: frontend

chore: add ts-check script
  package.json
Labels: none

mild refactoring, tests
  backend/__tests__/__testData__/auth.ts
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/dal/leaderboards.spec.ts
  backend/package.json
  backend/src/api/controllers/leaderboard.ts
  backend/src/dal/leaderboards.ts
  backend/src/jobs/update-leaderboards.ts
  backend/src/queues/george-queue.ts
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: backend, packages

tests for daily
  backend/__tests__/api/controllers/leaderboard.spec.ts
Labels: backend

tests for weekly xp
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/services/weekly-xp-leaderboard.ts
Labels: backend

tests for weekly xp rank
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/dal/leaderboards.ts
  backend/src/documentation/public-swagger.json
  backend/src/queues/george-queue.ts
  backend/src/utils/daily-leaderboards.ts
  frontend/src/ts/ape/types/leaderboards.d.ts
  frontend/src/ts/config.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/types/types.d.ts
  packages/contracts/src/index.ts
  packages/contracts/src/leaderboards.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/configs.ts
  packages/contracts/src/schemas/leaderboards.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

add weekly xp
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/documentation/internal-swagger.json
  backend/src/services/weekly-xp-leaderboard.ts
  packages/contracts/src/leaderboards.ts
  packages/contracts/src/schemas/leaderboards.ts
Labels: backend, packages

frontend
  backend/__tests__/api/controllers/leaderboard.spec.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/leaderboards.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/leaderboards.d.ts
  frontend/src/ts/elements/leaderboards.ts
  packages/contracts/src/schemas/util.ts
Labels: backend, frontend, packages

chore: move example.env to release package
  packages/release/example.env
Labels: packages

test validation messages, cleanup
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/api/controllers/public.spec.ts
  packages/contracts/src/schemas/util.ts
Labels: backend, packages

fix
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/api/controllers/public.spec.ts
Labels: backend

adjust tape on zero width characters
  frontend/src/ts/test/caret.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend

remove some, move some
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: packages

version
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: packages

chore: remove some unnecessary root dependencies, move to correct packages (@miodec) (#5751)
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: packages

chore: replace all eslint warnings with errors
  packages/eslint-config/index.js
Labels: packages

remove remaining old response type
  backend/src/api/controllers/leaderboard.ts
  backend/src/utils/daily-leaderboards.ts
Labels: backend

review comments
  backend/src/api/routes/psas.ts
  backend/src/middlewares/record-client-version.ts
  backend/src/middlewares/utility.ts
Labels: backend

refactor: implement recordClientVersion as middleware (@fehmer) (#5750)
  backend/src/api/routes/docs.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/psas.ts
  backend/src/middlewares/utility.ts
Labels: backend

refactor: use single client for whole contract on frontend (@fehmer)
  frontend/src/ts/ape/index.ts
  frontend/src/ts/pages/about.ts
Labels: frontend

chore: rebuild all files instead of just what changed
  frontend/vite.config.js
  packages/contracts/esbuild.config.js
Labels: frontend, packages

review comments
  frontend/src/ts/ape/index.ts
Labels: frontend

fix(hints): update hints position on blind mode and hide extra letters (@NadAlaba)
  frontend/src/ts/test/test-ui.ts
Labels: frontend

update hints position on font family preview
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/ui.ts
Labels: frontend

hide hints in blind mode
  frontend/src/styles/test.scss
Labels: frontend
