Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

impr(ls with schema): verify schema after migration
  frontend/__tests__/utils/local-storage-with-schema.spec.ts
  frontend/src/ts/utils/local-storage-with-schema.ts
Labels: frontend

fix: default result filters not passing schema
  frontend/src/ts/constants/default-result-filters.ts
  frontend/src/ts/elements/account/result-filters.ts
Labels: frontend

chore: set dependabot to use pnpm
  .github/dependabot.yml
Labels: none

revert: set dependabot to use pnpm
  .github/dependabot.yml
Labels: none

generate lock
  pnpm-lock.yaml
Labels: none

fix(release package): incorrect path
  packages/release/src/index.js
Labels: packages

chore: release v24.33.0
  packages/release/package.json
Labels: packages

chore(release package): catch github release api error, notify user
  packages/release/src/index.js
Labels: packages

chore: hide merch banner for now
  frontend/src/ts/elements/merch-banner.ts
Labels: frontend

chore: log zod issues, not zod error
  frontend/src/ts/utils/local-storage-with-schema.ts
Labels: frontend

ci: skip semantic pr title for dependabot (@fehmer)
  .github/workflows/semantic-pr-title.yml
Labels: none

fix: result filters getting reset on page load (@fehmer)
  frontend/src/ts/elements/account/result-filters.ts
Labels: frontend

chore: add eslint warning for no-shadow (@fehmer)
  packages/eslint-config/index.js
Labels: packages

trigger
  backend/src/server.ts
  frontend/src/ts/db.ts
Labels: backend, frontend

fix: legacy values in config not getting migrated (@fehmer)
  frontend/src/ts/config.ts
Labels: frontend

fix: result filters getting reset on page load (@fehmer) (#5788)
  frontend/src/ts/elements/account/result-filters.ts
Labels: frontend

ci: skip semantic pr title for dependabot (@fehmer) (#5786)
  .github/workflows/semantic-pr-title.yml
Labels: none

force ci
  .github/workflows/monkey-ci.yml
Labels: none

trigger
  backend/src/server.ts
Labels: backend

add force full ci
  .github/workflows/monkey-ci.yml
Labels: none

blah
  backend/src/server.ts
Labels: backend

full
  .github/workflows/monkey-ci.yml
Labels: none

remove trigger
  backend/src/server.ts
Labels: backend

impr(ci): add ability to run ci on draft pull requests (@miodec) (#5791)
  .github/workflows/monkey-ci.yml
Labels: none

cleanup, combine merge and migrate
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/modals/import-export-settings.ts
  frontend/src/ts/utils/config.ts
Labels: frontend

rename, fix/add tests
  frontend/__tests__/utils/config.spec.ts
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/modals/import-export-settings.ts
  frontend/src/ts/utils/config.ts
Labels: frontend

fix: legacy values in config not getting migrated (@fehmer) (#5790)
  frontend/__tests__/utils/config.spec.ts
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/modals/import-export-settings.ts
  frontend/src/ts/utils/config.ts
Labels: frontend

chore: bump chartjs-plugin-annotation to 2.2.1
  frontend/package.json
  frontend/src/ts/test/result.ts
Labels: frontend

chore: bump swagger-stats to 0.99.7
  backend/package.json
  pnpm-lock.yaml
Labels: backend

impr: use ts-rest for results endpoint (@fehmer)
  backend/__tests__/api/controllers/result.spec.ts
Labels: backend

schema
  backend/scripts/openapi.ts
  backend/src/api/schemas/result-schema.ts
  backend/src/types/types.d.ts
  packages/contracts/src/results.ts
  packages/contracts/src/schemas/results.ts
  packages/contracts/src/schemas/util.ts
  packages/shared-types/src/index.ts
Labels: backend, packages

stuff
  backend/package.json
  backend/redocly.yaml
  backend/scripts/openapi.ts
  backend/src/documentation/internal-swagger.json
  backend/src/documentation/public-swagger.json
  packages/contracts/package.json
  packages/contracts/src/index.ts
  packages/contracts/src/results.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/results.ts
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: backend, packages

all tests are broken
  backend/__tests__/api/controllers/result.spec.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/results.ts
  backend/src/dal/result.ts
  backend/src/middlewares/ape-rate-limit.ts
  packages/contracts/src/results.ts
  packages/contracts/src/schemas/results.ts
Labels: backend, packages

fix
  backend/redocly.yaml
  backend/src/api/routes/results.ts
  frontend/package.json
  pnpm-lock.yaml
Labels: backend, frontend

erm?
  .husky/pre-commit
  backend/src/api/controllers/result.ts
  backend/src/dal/result.ts
  backend/src/types/types.d.ts
  backend/src/utils/result.ts
  frontend/src/ts/test/result.ts
  packages/contracts/src/schemas/results.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

fix schema, update tests
  backend/__tests__/api/controllers/result.spec.ts
  packages/contracts/src/schemas/results.ts
  packages/shared-types/src/index.ts
Labels: backend, packages

stuff
  packages/contracts/src/schemas/results.ts
Labels: packages

make backend happy?
  .husky/pre-commit
  backend/src/api/controllers/result.ts
  backend/src/types/types.d.ts
  backend/src/utils/prometheus.ts
  backend/src/utils/result.ts
  backend/src/utils/validation.ts
  packages/contracts/src/schemas/results.ts
Labels: backend, packages

stuff
  backend/__tests__/api/controllers/result.spec.ts
  backend/src/api/controllers/result.ts
  backend/src/utils/prometheus.ts
  backend/src/utils/result.ts
  backend/src/utils/validation.ts
  frontend/src/ts/ape/endpoints/results.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/modals/edit-result-tags.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/misc.ts
  packages/contracts/src/schemas/results.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

stuff
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-stats.ts
  packages/shared-types/src/index.ts
Labels: frontend, packages

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]
