Repository monkeytypegame/monkeytype, changes with the labels that .github/labeler.yml gives for each.
All labels: api, backend, docs, frontend, packages, local dev

remove console log
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

fix(caret): incorrect placement in tape mode: word
  frontend/src/ts/test/caret.ts
Labels: frontend

better polyfill check
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

fix(frontend api adapter): use abortcontroller.abort when abortsignal.timeout is not available (@miodec) (#5714)
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

chore: fix dirname not defined in nodejs modules
  bin/release.mjs
Labels: none

chore: release v24.31.3
  package.json
Labels: none

impr: remove ñ from lazy mode replacements
  frontend/src/ts/test/lazy-mode.ts
Labels: frontend

update modes notice when clear tags from commandline
  frontend/src/html/pages/settings.html
  frontend/src/ts/commandline/lists/tags.ts
  frontend/src/ts/db.ts
Labels: frontend

impr(quotes): add star trek quotes (@266-750Balloons) (#5705)
  frontend/static/quotes/english.json
Labels: frontend

feat(languages): add portuguese 320k and 550k (@jeffersonjpr) (#5698)
  .prettierignore
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
Labels: frontend

remove all mode because it grabs only 1k results
  frontend/src/ts/db.ts
Labels: frontend

short circuit tag.active
  frontend/src/ts/db.ts
Labels: frontend

used SettingsGroup instead of custom class, minor css change
  frontend/src/html/pages/settings.html
  frontend/src/styles/settings.scss
  frontend/src/ts/elements/volume.ts
  frontend/src/ts/pages/settings.ts
Labels: frontend

use common structure, remove css
  frontend/src/html/pages/settings.html
  frontend/src/styles/settings.scss
Labels: frontend

notify if sound volume is out of range
  frontend/src/ts/config.ts
Labels: frontend

command input goes from 0 to 1
  frontend/src/ts/commandline/lists/sound-volume.ts
Labels: frontend

fix test
  frontend/__tests__/root/config.spec.ts
Labels: frontend

impr(settings): replace sound volume with a slider (@amarnathsama) (#5702)
  frontend/__tests__/root/config.spec.ts
  frontend/src/html/pages/settings.html
  frontend/src/ts/commandline/lists/sound-volume.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/pages/settings.ts
  packages/contracts/src/schemas/configs.ts
Labels: frontend, packages

update setting name
  frontend/src/html/pages/settings.html
  frontend/src/ts/commandline/lists/pace-caret.ts
  frontend/src/ts/commandline/lists/tags.ts
  frontend/src/ts/config.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/test/pace-caret.ts
  packages/contracts/src/schemas/configs.ts
Labels: frontend, packages

impr(pace caret): add tags pb mode (@NadAlaba) (#5715)
  frontend/src/html/pages/settings.html
  frontend/src/ts/commandline/lists/pace-caret.ts
  frontend/src/ts/commandline/lists/tags.ts
  frontend/src/ts/config.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/test/pace-caret.ts
  packages/contracts/src/schemas/configs.ts
Labels: frontend, packages

chore: fix lint warnings
  backend/src/api/controllers/quote.ts
  backend/src/api/controllers/user.ts
  backend/src/dal/user.ts
  backend/src/utils/logger.ts
Labels: backend

review comments
  backend/src/api/controllers/admin.ts
  backend/src/api/controllers/user.ts
  backend/src/utils/auth.ts
Labels: backend

fix
  backend/__tests__/api/controllers/admin.spec.ts
Labels: backend

fix: csp preventing new documentation unable to display logo
  backend/src/api/routes/index.ts
  backend/src/app.ts
Labels: backend

fix: csp preventing new documentation unable to display logo
  backend/src/api/routes/index.ts
Labels: backend

refactor: run prettier
  package-lock.json
Labels: none

feat(funbox): added hexadecimal
  backend/src/constants/funbox-list.ts
  frontend/__tests__/utils/generate.spec.ts
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/utils/generate.ts
Labels: backend, frontend

fix(caret): jumping in word tape mode (@NadAlaba)
  frontend/src/ts/test/caret.ts
Labels: frontend

fix(caret): diacritics getting caret width of last letter
  frontend/src/ts/test/caret.ts
Labels: frontend

fix(caret): hide extra letters in RTL languages
  frontend/src/ts/test/caret.ts
Labels: frontend

fix(caret): add space width for non-mono fonts
  frontend/src/ts/test/caret.ts
Labels: frontend

optimize getting space width
  frontend/src/ts/test/caret.ts
Labels: frontend

chore: missing min string length causing firebase to throw errors
  backend/src/api/routes/users.ts
Labels: backend

fix: csp preventing new documentation unable to display logo (@fehmer) (#5719)
  backend/src/api/routes/index.ts
Labels: backend

missing list definition
  frontend/static/funbox/_list.json
Labels: frontend

lower max to 4
  frontend/src/ts/utils/generate.ts
Labels: frontend

feat(funbox): add hexadecimal (@asasine) (#5724)
  backend/src/constants/funbox-list.ts
  frontend/__tests__/utils/generate.spec.ts
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/utils/generate.ts
  frontend/static/funbox/_list.json
Labels: backend, frontend

fix(pb crown): incorrect class names causing ineligible warning or pending state to not show
  frontend/src/styles/test.scss
Labels: frontend

chore: remove unused code
  frontend/src/ts/test/result.ts
Labels: frontend

refactor: move pb crown aria-label text update to a function
  frontend/src/ts/test/result.ts
Labels: frontend

.github/labeler.yml:

api:
  - any: ["frontend/src/ts/ape/**/*", "backend/src/api/**/*"]

assets:
  - any: ["frontend/static/**/*"]
    all: ["!frontend/static/**/*.html"]

backend:
  - any: ["backend/**/*"]

docs:
  - any: ["**/*.md"]

frontend:
  - any: ["frontend/**/*"]

packages:
  - any: ["packages/**/*"]

local dev:
  - any: ["**/gulpfile.js", "**/tsconfig.json"]
