Repository monkeytypegame/monkeytype, pull requests merged in 2022-04, with the labels that each got.

#2792 New punctuation functionality allowing words to end with -n't
  frontend/src/scripts/test/english-punctuation.ts
  frontend/src/scripts/test/test-logic.ts
  frontend/static/languages/english_punctuation.json
Labels: waiting for review

#2819 changed: period->comma
  frontend/static/quotes/portuguese.json
Labels: frontend, assets

#2797 Add Theme - Mexican
  frontend/static/themes/_list.json
  frontend/static/themes/mexican.css
Labels: waiting for update, frontend, assets

#2827 Replace "sorani" with "kurdish_central"
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/kurdish_central.json
Labels: frontend, assets

#2831 Fix some typos in the kurdish_central list
  frontend/static/languages/kurdish_central.json
Labels: frontend, assets

#2821 Convert UserDAO to typescript & rename to UserDAL
  backend/api/controllers/quote.ts
  backend/api/controllers/result.ts
  backend/api/controllers/user.ts
  backend/dao/result.js
  backend/dao/user.js
  backend/dao/user.ts
  backend/middlewares/api-utils.ts
  backend/types/types.d.ts
  backend/utils/pb.ts
  frontend/src/scripts/db.ts
Labels: backend

#2826 (Backend) Ability to make Quotes Favorite
  backend/api/controllers/user.ts
  backend/api/routes/quotes.ts
  backend/api/routes/users.ts
  backend/constants/base-configuration.ts
  backend/dao/user.ts
  backend/middlewares/rate-limit.ts
  backend/types/types.d.ts
Labels: backend

#2830 (Frontend) Ability to make Quotes Favorite
  frontend/src/scripts/ape/endpoints/users.ts
  frontend/src/scripts/ape/types/ape.d.ts
  frontend/src/scripts/constants/default-snapshot.ts
  frontend/src/scripts/db.ts
  frontend/src/scripts/popups/quote-search-popup.ts
  frontend/src/scripts/test/result.ts
  frontend/src/scripts/test/test-logic.ts
  frontend/src/scripts/types/types.d.ts
  frontend/src/scripts/utils/misc.ts
  frontend/src/styles/popups.scss
  frontend/src/styles/test.scss
  frontend/src/styles/z_media-queries.scss
  frontend/static/html/pages/test.html
  frontend/static/html/popups.html
Labels: frontend

#2847 Remove JavaScript and CSS from the README
  README.md
Labels: docs

#2843 Converted leaderboards DAO to typescript
  backend/api/controllers/leaderboard.ts
  backend/dao/leaderboards.js
  backend/dao/leaderboards.ts
  backend/jobs/update-leaderboards.ts
  backend/types/types.d.ts
Labels: backend

#2850 Reformatting wikipedia.ts
  frontend/src/scripts/test/wikipedia.ts
Labels: frontend

#2846 Create romanian quotes
  frontend/static/quotes/romanian.json
Labels: waiting for update, frontend, assets

#2844 Converted new quotes to typescript
  backend/api/controllers/quote.ts
  backend/dao/new-quotes.js
  backend/dao/new-quotes.ts
  backend/types/types.d.ts
Labels: backend

#2853 Save exact for all packages
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Labels: local dev

#2856 Fix favorite quote not showing up bug
  frontend/src/scripts/popups/quote-search-popup.ts
  frontend/src/scripts/test/result.ts
Labels: frontend

#2859 Made username non optional
  backend/api/controllers/user.ts
  backend/api/routes/users.ts
  backend/dao/user.ts
  backend/types/types.d.ts
  backend/utils/validation.ts
  frontend/src/scripts/controllers/account-controller.ts
  frontend/src/scripts/index.ts
  frontend/src/scripts/observables/google-sign-up-event.ts
  frontend/src/scripts/pages/login.ts
  frontend/src/scripts/popups/google-sign-up-popup.ts
  frontend/src/styles/popups.scss
  frontend/static/html/popups.html
Labels: backend, frontend

#2861 improved toki pono or whatever it is
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/toki_pona_ku_lili.json
  frontend/static/languages/toki_pona_ku_suli.json
Labels: frontend, assets

#2864 Fix Collection Types
  backend/api/controllers/ape-key.ts
  backend/api/controllers/quote.ts
  backend/dao/leaderboards.ts
  backend/dao/new-quotes.ts
  backend/dao/user.ts
  backend/init/configuration.ts
  backend/init/db.ts
  backend/types/types.d.ts
  backend/utils/logger.ts
Labels: backend

#2855 Add script for starting live version locally
  frontend/package-lock.json
  frontend/package.json
  package.json
Labels: waiting for update, local dev

#2870 Added popup to share test settings through url
  frontend/package-lock.json
  frontend/package.json
  frontend/src/scripts/controllers/account-controller.ts
  frontend/src/scripts/elements/commandline-lists.ts
  frontend/src/scripts/popups/share-test-settings-popup.ts
  frontend/src/scripts/utils/url-handler.ts
  frontend/src/styles/popups.scss
  frontend/static/html/popups.html
Labels: new feature, frontend
