Repository monkeytypegame/monkeytype, pull requests merged in 2022-05, with the labels that each got.

#2918 Enforce save exact
  .npmrc
Labels: local dev

#2905 Create husqy.css
  frontend/static/themes/_list.json
  husqy.css
Labels: waiting for review

#2940 Remove class syntax from db client
  backend/dal/ape-keys.ts
  backend/dal/bot.ts
  backend/dal/config.ts
  backend/dal/leaderboards.ts
  backend/dal/new-quotes.ts
  backend/dal/preset.ts
  backend/dal/psa.ts
  backend/dal/public-stats.ts
  backend/dal/quote-ratings.ts
  backend/dal/report.ts
  backend/dal/result.ts
  backend/dal/user.ts
  backend/init/configuration.ts
  backend/init/db.ts
  backend/jobs/delete-old-logs.ts
  backend/middlewares/error.ts
  backend/server.ts
  backend/utils/logger.ts
Labels: backend

#2935 Remove class syntax from george
  backend/api/controllers/result.ts
  backend/api/controllers/user.ts
  backend/jobs/update-leaderboards.ts
  backend/server.ts
  backend/tasks/george.ts
  backend/utils/misc.ts
Labels: backend, waiting for review

#2942 Add test step in pr-check action
  .github/workflows/pr-check.yml
  backend/jest.config.ts
  backend/package.json
  package.json
Labels: improvement, waiting for review

#2938 Convert Spaces to Underscores for Preset and Tag Names
  frontend/src/ts/account/result-filters.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/commandline-lists.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/popups/edit-preset-popup.ts
  frontend/src/ts/popups/edit-tags-popup.ts
  frontend/src/ts/popups/result-tags-popup.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/types/types.d.ts
Labels: frontend, waiting for review

#2936 make the bg color a bit darker* 🕳
  frontend/static/themes/moonlight.css
Labels: waiting for update, assets

#2895 Preparing for George Update
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/bot.ts
  backend/src/jobs/update-leaderboards.ts
  backend/src/tasks/george.ts
  backend/src/types/types.d.ts
Labels: backend

#2953 Delete bot dal
  backend/src/dal/bot.ts
Labels: backend

#2956 install-all fix in contributing
  CONTRIBUTING.md
Labels: docs

#2958 Add backend logic to handle duplicate names
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
Labels: backend

#2959 Add new Theme "Peach blossom"
  frontend/static/themes/_list.json
  frontend/static/themes/peach_blossom.css
Labels: frontend, assets

#2957 Create preset addition in presets in command line
  frontend/src/ts/elements/commandline-lists.ts
Labels: waiting for update, frontend

#2945 Add favorite quotes mode
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/quotes-controller.ts
  frontend/src/ts/elements/commandline-lists.ts
  frontend/src/ts/popups/quote-search-popup.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-config.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/misc.ts
  frontend/static/html/pages/test.html
  frontend/static/html/top.html
Labels: frontend

#2965 Add more tests
  backend/__tests__/dal/user.spec.ts
  backend/jest.config.ts
  backend/src/dal/user.ts
  backend/src/utils/validation.ts
Labels: backend

#2960 Added english quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#2964 Update CODE_OF_CONDUCT.md to new verison
  CODE_OF_CONDUCT.md
Labels: docs

#2969 Small edits to Basic Contributing documentation
  CONTRIBUTING_BASIC.md
Labels: docs

#2966 Added Perl language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_perl.json
Labels: frontend, assets

#2970 Add additional Hebrew word lists
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/hebrew_10k.json
  frontend/static/languages/hebrew_1k.json
  frontend/static/languages/hebrew_5k.json
Labels: frontend, assets

#2971 Add user creation flow test
  backend/__tests__/api/controllers/user.spec.ts
  backend/jest.config.ts
  backend/src/api/controllers/user.ts
  backend/src/middlewares/auth.ts
Labels: backend

#2975 Added more quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#2963 Added the brainfck programming language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_brainfck.json
Labels: waiting for update, frontend, assets

#2981 Dinosaur Theme
  frontend/static/themes/_list.json
  frontend/static/themes/dino.css
Labels: frontend, assets

#2982 Proper addition of something like tag display in alerts
  frontend/src/ts/popups/edit-preset-popup.ts
  frontend/src/ts/popups/edit-tags-popup.ts
Labels: frontend

#2984 Auto ban
  backend/__tests__/dal/user.spec.ts
  backend/jest.config.ts
  backend/src/api/controllers/result.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
Labels: backend

#2978 Added the F# programming language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_fsharp.json
Labels: frontend, assets

#2991 Dutch word list: Remove duplicate words, add random new words
  frontend/static/languages/dutch.json
Labels: frontend, assets

#2992 replace german ß accent with ss
  frontend/src/ts/test/lazy-mode.ts
Labels: frontend

#2990 Add pretty check
  .github/workflows/pr-check.yml
  .prettierignore
  backend/src/tasks/george.ts
  frontend/static/languages/_groups.json
  frontend/static/languages/amharic.json
  frontend/static/languages/azerbaijani.json
  frontend/static/languages/azerbaijani_1k.json
  frontend/static/languages/hebrew_10k.json
  frontend/static/languages/hebrew_1k.json
  frontend/static/languages/hebrew_5k.json
  frontend/static/languages/indonesian_10k.json
  frontend/static/languages/kurdish_central.json
  frontend/static/languages/latin.json
  frontend/static/languages/portuguese_acentos_e_cedilha.json
  frontend/static/languages/sinhala.json
  frontend/static/languages/toki_pona_ku_lili.json
  frontend/static/quotes/romanian.json
  package.json
Labels: backend, frontend, assets

#2998 Remove uid from last result
  backend/src/dal/result.ts
Labels: backend

#2995 adds language validation check
  frontend/scripts/json-validation.js
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_bash.json
  frontend/static/languages/code_brainfck.json
  frontend/static/languages/code_html.json
  frontend/static/languages/russian_10k.json
Labels: frontend, assets

#2987 Setup daily leaderboards backend
  backend/__tests__/utils/daily-leaderboards.spec.ts
  backend/__tests__/utils/misc.spec.ts
  backend/package-lock.json
  backend/package.json
  backend/redis-scripts/add-result.lua
  backend/setup-tests.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/constants/base-configuration.ts
  backend/src/init/redis.ts
  backend/src/server.ts
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
  backend/src/utils/misc.ts
Labels: backend

#2997 Add Ape endpoint for daily leaderboard
  frontend/src/ts/ape/endpoints/leaderboards.ts
  frontend/src/ts/ape/types/ape.d.ts
Labels: frontend

#3000 added code_julia language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_julia.json
Labels: frontend, assets

#3003 Fix errors on the newtribe merge
  frontend/src/ts/popups/tribe-browse-public-rooms-popup.ts
  frontend/src/ts/popups/tribe-room-code-popup.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/tribe/tribe-results.ts
  frontend/src/ts/tribe/tribe-stats.ts
  frontend/src/ts/tribe/tribe.ts
  frontend/src/ts/types/tribe.d.ts
  frontend/src/ts/utils/url-handler.ts
Labels: frontend

#3004 Begin conversion of tribe-chart-controller to typescript
  frontend/src/ts/tribe/tribe-chart-controller.ts
Labels: frontend

#3006 Daily leaderboards pagination
  backend/redis-scripts/add-result.lua
  backend/redis-scripts/get-results.lua
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/utils/daily-leaderboards.ts
Labels: backend

#3012 Fix bug
  frontend/src/ts/popups/mobile-test-config-popup.ts
Labels: frontend

#3011 Add checks for password and email on signup and add field indicators for them
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/pages/login.ts
  frontend/static/html/pages/login.html
Labels: frontend

#3016 Added more quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3015 Add more long english quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3014 Add daily leaderboard rank
  backend/__tests__/dal/ape-keys.spec.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/utils/daily-leaderboards.ts
  frontend/src/ts/ape/endpoints/leaderboards.ts
  frontend/src/ts/ape/types/ape.d.ts
  frontend/src/ts/elements/leaderboards.ts
Labels: backend, frontend

#3020 Disable signup button by default and enable only on all correct checks
  frontend/src/ts/elements/input-indicator.ts
  frontend/src/ts/pages/login.ts
  frontend/static/html/pages/login.html
Labels: frontend

#3019 fix word typo
  frontend/static/languages/georgian.json
Labels: frontend, assets

#3018 Language Added, Vim: U
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_vim.json
Labels: frontend, assets

#3017 Announce top daily leaderboard results
  backend/__tests__/utils/daily-leaderboards.spec.ts
  backend/src/constants/base-configuration.ts
  backend/src/jobs/announce-daily-leaderboards.ts
  backend/src/jobs/index.ts
  backend/src/tasks/george.ts
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
Labels: backend

#3022 Add rank in daily leaderboard results
  backend/src/utils/daily-leaderboards.ts
Labels: backend

#3002 use interfaces instead of types
  backend/src/constants/monkey-status-codes.ts
  backend/src/dal/new-quotes.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/controllers/verification-controller.ts
  frontend/src/ts/elements/monkey-power.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/popups/cookie-popup.ts
  frontend/src/ts/popups/quote-approve-popup.ts
  frontend/src/ts/popups/quote-rate-popup.ts
  frontend/src/ts/popups/quote-report-popup.ts
  frontend/src/ts/popups/simple-popups.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/test/test-input.ts
  frontend/src/ts/test/test-stats.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/misc.ts
Labels: backend, frontend

#3024 Fix logic errors due to shift in loop strucrtures during the `newtribe` merge into `dev`
  frontend/src/ts/tribe/tribe-bars.ts
  frontend/src/ts/tribe/tribe-chart-controller.ts
  frontend/src/ts/tribe/tribe-delta.ts
  frontend/src/ts/tribe/tribe-results.ts
  frontend/src/ts/tribe/tribe.ts
Labels: tribe, frontend

#3023 Add daily leaderboards
  backend/__tests__/dal/ape-keys.spec.ts
  backend/__tests__/utils/daily-leaderboards.spec.ts
  backend/__tests__/utils/misc.spec.ts
  backend/package-lock.json
  backend/package.json
  backend/redis-scripts/add-result.lua
  backend/redis-scripts/get-results.lua
  backend/setup-tests.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/constants/base-configuration.ts
  backend/src/init/redis.ts
  backend/src/jobs/announce-daily-leaderboards.ts
  backend/src/jobs/index.ts
  backend/src/server.ts
  backend/src/tasks/george.ts
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
  backend/src/utils/misc.ts
  frontend/src/styles/leaderboards.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/ape/endpoints/leaderboards.ts
  frontend/src/ts/ape/types/ape.d.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/test/test-logic.ts
  frontend/static/html/popups.html
Labels: backend, frontend

#3027 Fix sounds
  frontend/src/ts/tribe/tribe-sound.ts
  frontend/static/sound/tribe-sounds/alert.wav
  frontend/static/sound/tribe-sounds/cd.wav
  frontend/static/sound/tribe-sounds/cd2.wav
  frontend/static/sound/tribe-sounds/cd_go.wav
  frontend/static/sound/tribe-sounds/cd_go2.wav
  frontend/static/sound/tribe-sounds/chat.wav
  frontend/static/sound/tribe-sounds/chat_mention.wav
  frontend/static/sound/tribe-sounds/finish.wav
  frontend/static/sound/tribe-sounds/finish_win.wav
  frontend/static/sound/tribe-sounds/glow.wav
  frontend/static/sound/tribe-sounds/join.wav
  frontend/static/sound/tribe-sounds/leave.wav
  frontend/static/sound/tribe-sounds/start.wav
Labels: frontend, assets

#3030 Use better score metric for daily leaderboards
  backend/__tests__/utils/misc.spec.ts
  backend/src/utils/daily-leaderboards.ts
  backend/src/utils/misc.ts
Labels: backend

#3031 Fix daily leaderboard score
  backend/__tests__/utils/misc.spec.ts
  backend/src/utils/misc.ts
Labels: backend

#3033 Code of conduct link fix
  README.md
Labels: docs

#3034 Add maintenance check for cron jobs
  backend/src/jobs/announce-daily-leaderboards.ts
  backend/src/jobs/delete-old-logs.ts
  backend/src/jobs/update-leaderboards.ts
Labels: backend

#3035 Center align paste roomcode icon
  frontend/src/styles/popups.scss
Labels: frontend

#3039 Fix punctuation and spelling mistakes on Morshu's quote.
  frontend/static/quotes/english.json
Labels: frontend, assets

#3044 Russian Language 25k and 50k addition
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/russian_25k.json
  frontend/static/languages/russian_50k.json
Labels: frontend, assets

#3045 Added more malayalam quotes
  frontend/static/quotes/malayalam.json
Labels: frontend, assets

#3047 Added more quotes
  frontend/static/quotes/malayalam.json
Labels: frontend, assets

#3046 Added english quote
  frontend/static/quotes/english.json
Labels: frontend, assets
