Repository monkeytypegame/monkeytype, pull requests merged in 2022-01, with the labels that each got.

#2340 Fix bug that prevented sw cache from being deleted
  gulpfile.js
  static/sw.js
Labels: in review

#2356 Refactor routing configuration
  backend/api/routes/index.js
  backend/server.js
Labels: in review

#2366 Added GMK Fleuriste theme
  static/themes/_list.json
  static/themes/fleuriste.css
Labels: waiting for update

#2374 changed spanish 200
  static/languages/spanish.json
  static/languages/spanish_10k.json
Labels: frontend

#2385 Add Dynamic Server Configuration
  backend/api/routes/quotes.js
  backend/constants/base-configuration.js
  backend/constants/quote-languages.js
  backend/dao/configuration.js
  backend/jobs/delete-old-logs.js
  backend/jobs/index.js
  backend/jobs/update-leaderboards.js
  backend/middlewares/api-utils.js
  backend/middlewares/context.js
  backend/server.js
  package-lock.json
  package.json
Labels: in review, backend
