Repository monkeytypegame/monkeytype, pull requests merged in 2022-11, with the labels that each got.

#3714 Adding kazakh_1k
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/kazakh_1k.json
Labels: frontend, assets

#3717 Add polish 5k, 10k, 20k, 40k
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/polish_10k.json
  frontend/static/languages/polish_20k.json
  frontend/static/languages/polish_40k.json
  frontend/static/languages/polish_5k.json
Labels: frontend, assets

#3725 prevent redirect to /profile/undefined when going to the page of a non-existing profile
  frontend/src/ts/pages/profile.ts
Labels: frontend

#3731 Added more quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3732 Added more quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3730 added Georgian quotes
  frontend/static/quotes/georgian.json
Labels: waiting for update, frontend, assets

#3728 Add code_python 1k, 2k, 5k
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_python_1k.json
  frontend/static/languages/code_python_2k.json
  frontend/static/languages/code_python_5k.json
Labels: waiting for update, frontend, assets

#3737 Add some python quotes
  frontend/static/quotes/code_python.json
Labels: frontend, assets

#3736 Fixed two typos in Georgian quotes
  frontend/static/quotes/georgian.json
Labels: frontend, assets

#3741 add Ukrainian quotes
  frontend/static/quotes/ukrainian.json
Labels: frontend, assets

#3740 Fix docker documentation
  CONTRIBUTING_ADVANCED.md
Labels: docs

#3747 Fix spelling errors in Vietnamese quotes
  frontend/static/quotes/vietnamese.json
Labels: frontend, assets

#3754 Preserve case and symbols in code_ languages
  frontend/src/ts/test/test-logic.ts
Labels: frontend

#3753 Add data structures and algorithm quotes for C#
  frontend/static/quotes/code_csharp.json
Labels: frontend, assets

#3752 Add data structures and algorithm quotes for Java
  frontend/static/quotes/code_java.json
Labels: frontend, assets

#3758 Add attribution to polish 5k, 10k, 20k, 40k
  frontend/static/languages/polish_10k.json
  frontend/static/languages/polish_20k.json
  frontend/static/languages/polish_40k.json
  frontend/static/languages/polish_5k.json
Labels: frontend, assets

#3757 Add elixir lang code
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_elixir.json
  frontend/static/languages/code_lua.json
Labels: waiting for update, frontend, assets

#3756 Adding new theme earthsong and fixing typo on THEMES.md
  THEMES.md
  frontend/static/themes/_list.json
  frontend/static/themes/earthsong.css
Labels: frontend, docs, assets

#3763 Remove "telecharger" from `english_10k`
  frontend/static/languages/english_10k.json
Labels: frontend, assets

#3766 Add Ubuntu and Ubuntu Mono fonts
  frontend/src/styles/core.scss
  frontend/static/fonts/_list.json
Labels: frontend, assets

#3769 Added more quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3774 Add bulgarian and bulgarian_phonetic_traditional layouts
  frontend/static/layouts/_list.json
Labels: frontend, assets

#3775 Add C# 11 keywords
  frontend/static/languages/code_csharp.json
Labels: frontend, assets

#3777 Added more quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3772 adding quotes from Genshin Impact
  frontend/static/quotes/english.json
Labels: frontend, assets

#3511 Add weekly xp leaderboards
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/services/weeky-xp-leaderboard.spec.ts
  backend/__tests__/utils/daily-leaderboards.spec.ts
  backend/__tests__/utils/misc.spec.ts
  backend/private/script.js
  backend/private/style.css
  backend/redis-scripts/add-result-increment.lua
  backend/redis-scripts/get-results.lua
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/constants/base-configuration.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
  backend/src/utils/misc.ts
Labels: backend, waiting for review

#3778 Refactor ape rate limiter
  backend/src/api/routes/results.ts
  backend/src/middlewares/ape-rate-limit.ts
  backend/src/middlewares/rate-limit.ts
Labels: backend

#3779 add spacing between sentences
  frontend/static/html/pages/settings.html
Labels: frontend

#3780 Fix weekly leaderboard timestamp logic
  backend/src/utils/misc.ts
Labels: backend

#3578 Multiple funboxes
  backend/src/api/controllers/result.ts
  backend/src/constants/base-configuration.ts
  backend/src/constants/funbox.ts
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
  backend/src/utils/pb.ts
  frontend/scripts/json-validation.js
  frontend/src/styles/animations.scss
  frontend/src/ts/account/result-filters.ts
  frontend/src/ts/commandline/commands.ts
  frontend/src/ts/commandline/index.ts
  frontend/src/ts/commandline/lists/custom-themes-list.ts
  frontend/src/ts/commandline/lists/funbox.ts
  frontend/src/ts/commandline/lists/presets.ts
  frontend/src/ts/commandline/lists/tags.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/elements/keymap.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/observables/keymap-event.ts
  frontend/src/ts/observables/tts-event.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/pages/test.ts
  frontend/src/ts/popups/custom-word-amount-popup.ts
  frontend/src/ts/test/funbox.ts
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/src/ts/test/funbox/funbox-memory.ts
  frontend/src/ts/test/funbox/funbox-validation.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/test/funbox/memory-funbox-timer.ts
  frontend/src/ts/test/poetry.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-stats.ts
  frontend/src/ts/test/test-timer.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/test/tts.ts
  frontend/src/ts/test/weak-spot.ts
  frontend/src/ts/test/wikipedia.ts
  frontend/src/ts/test/wordset.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/misc.ts
  frontend/static/funbox/_list.json
Labels: backend, frontend, assets

#3783 Refactor queues
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/jobs/announce-daily-leaderboards.ts
  backend/src/jobs/update-leaderboards.ts
  backend/src/queues/george-queue.ts
  backend/src/queues/index.ts
  backend/src/queues/monkey-queue.ts
  backend/src/server.ts
  backend/src/tasks/george.ts
Labels: backend

#3782 Add code_zig for Zig programming language, for great justice
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_zig.json
Labels: frontend, assets

#3788 Added more quotes
  frontend/static/quotes/english.json
Labels: frontend, assets
