Repository monkeytypegame/monkeytype, pull requests merged in 2022-02, with the labels that each got.

#2396 'Leather' theme
  static/themes/_list.json
  static/themes/leather.css
Labels: waiting for update

#2401 Add config schema
  backend/api/routes/config.js
  backend/api/schemas/config-schema.js
Labels: in review, backend

#2423 Add request validation to user endpoints
  backend/api/controllers/core.js
  backend/api/controllers/user.js
  backend/api/routes/config.js
  backend/api/routes/core.js
  backend/api/routes/leaderboards.js
  backend/api/routes/preset.js
  backend/api/routes/psa.js
  backend/api/routes/quotes.js
  backend/api/routes/result.js
  backend/api/routes/user.js
  backend/middlewares/api-utils.js
  src/js/controllers/account-controller.js
  src/js/db.js
  src/js/pages/account.js
  src/js/popups/edit-tags-popup.js
  src/js/popups/simple-popups.js
Labels: backend

#2427 Feat:Update response structure
  backend/api/controllers/config.js
  backend/api/controllers/leaderboards.js
  backend/api/controllers/new-quotes.js
  backend/api/controllers/preset.js
  backend/api/controllers/psa.js
  backend/api/controllers/quote-ratings.js
  backend/api/controllers/quotes.js
  backend/api/controllers/result.js
  backend/api/controllers/user.js
  backend/handlers/response.js
  backend/middlewares/api-utils.js
Labels: on hold, backend

#2467 Language documentation
  CONTRIBUTING.md
  LANGUAGES.md
  THEMES.md
Labels: waiting for update

#2509 Frontend Typescript: Convert theme-picker.js to ts
  frontend/src/scripts/settings/theme-picker.ts
Labels: waiting for update, frontend

#2494 TypeScript FrontEnd: Add Account Files
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .prettierrc
  frontend/src/scripts/account/all-time-stats.ts
  frontend/src/scripts/account/mini-result-chart.ts
  frontend/src/scripts/account/pb-tables.ts
  frontend/src/scripts/account/result-filters.ts
  frontend/src/scripts/account/sign-out-button.ts
  frontend/src/scripts/config.ts
  frontend/src/scripts/controllers/account-controller.js
  frontend/src/scripts/controllers/input-controller.js
  frontend/src/scripts/controllers/tag-controller.js
  frontend/src/scripts/controllers/verification-controller.js
  frontend/src/scripts/db.ts
  frontend/src/scripts/elements/commandline-lists.ts
  frontend/src/scripts/elements/commandline.ts
  frontend/src/scripts/elements/custom-background-filter.ts
  frontend/src/scripts/elements/leaderboards.ts
  frontend/src/scripts/elements/modes-notice.ts
  frontend/src/scripts/elements/monkey-power.ts
  frontend/src/scripts/misc.ts
  frontend/src/scripts/observables/config-event.ts
  frontend/src/scripts/pages/account.ts
  frontend/src/scripts/pages/settings.ts
  frontend/src/scripts/popups/custom-test-duration-popup.ts
  frontend/src/scripts/popups/custom-word-amount-popup.ts
  frontend/src/scripts/popups/edit-preset-popup.ts
  frontend/src/scripts/popups/edit-tags-popup.ts
  frontend/src/scripts/popups/mobile-test-config-popup.ts
  frontend/src/scripts/popups/pb-tables-popup.ts
  frontend/src/scripts/popups/quote-rate-popup.ts
  frontend/src/scripts/popups/quote-search-popup.ts
  frontend/src/scripts/popups/result-tags-popup.ts
  frontend/src/scripts/popups/simple-popups.ts
  frontend/src/scripts/settings/settings-group.ts
  frontend/src/scripts/settings/theme-picker.ts
  frontend/src/scripts/test/live-burst.ts
  frontend/src/scripts/test/result.js
  frontend/src/scripts/test/test-words.ts
  frontend/src/scripts/types/types.d.ts
  package-lock.json
  package.json
Labels: frontend

#2542 Add Config Validation to Every Config Value
  backend/api/schemas/config-schema.js
  frontend/src/scripts/config.ts
  frontend/src/scripts/elements/commandline-lists.ts
  frontend/src/scripts/types/types.d.ts
Labels: frontend

#2587 add language afrikaans
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/afrikaans.json
  frontend/static/languages/afrikaans_10k.json
  frontend/static/languages/afrikaans_1k.json
Labels: frontend

#2586 Fix quote ratings
  backend/api/controllers/quote-ratings.js
  backend/api/controllers/quotes.ts
  backend/api/routes/quotes.ts
  backend/middlewares/error.ts
  frontend/src/scripts/popups/quote-rate-popup.ts
Labels: waiting for update, backend, frontend

#2558 Some Config Validation Fixes
  frontend/src/scripts/config-validation.ts
  frontend/src/scripts/config.ts
  frontend/src/scripts/elements/commandline-lists.ts
  frontend/src/scripts/misc.ts
  frontend/src/scripts/pages/settings.ts
Labels: waiting for update, frontend

#2592 Add dynamic keymap legend style
  backend/api/schemas/config-schema.ts
  frontend/src/scripts/config.ts
  frontend/src/scripts/controllers/input-controller.ts
  frontend/src/scripts/elements/commandline-lists.ts
  frontend/src/scripts/elements/keymap.ts
  frontend/src/scripts/test/caps-warning.ts
  frontend/src/scripts/test/layout-emulator.js
  frontend/src/scripts/test/shift-tracker.js
  frontend/src/scripts/types/types.d.ts
  frontend/static/index.html
Labels: frontend

#2590 Move quote moderation logic to quotes
  backend/api/controllers/new-quotes.js
  backend/api/controllers/quotes.ts
  backend/api/routes/quotes.ts
  backend/middlewares/api-utils.ts
  backend/types/types.d.ts
Labels: waiting for update, backend

#2540 TypeScript FrontEnd: Add Test Files
  frontend/package-lock.json
  frontend/package.json
  frontend/src/scripts/config.ts
  frontend/src/scripts/controllers/challenge-controller.ts
  frontend/src/scripts/controllers/input-controller.ts
  frontend/src/scripts/elements/keymap.ts
  frontend/src/scripts/misc.ts
  frontend/src/scripts/modules.d.ts
  frontend/src/scripts/observables/config-event.ts
  frontend/src/scripts/pages/settings.ts
  frontend/src/scripts/popups/mobile-test-config-popup.ts
  frontend/src/scripts/settings/settings-group.ts
  frontend/src/scripts/test/funbox.ts
  frontend/src/scripts/test/layout-emulator.ts
  frontend/src/scripts/test/manual-restart-tracker.js
  frontend/src/scripts/test/manual-restart-tracker.ts
  frontend/src/scripts/test/monkey.js
  frontend/src/scripts/test/monkey.ts
  frontend/src/scripts/test/out-of-focus.ts
  frontend/src/scripts/test/pace-caret.ts
  frontend/src/scripts/test/pb-crown.ts
  frontend/src/scripts/test/poetry.js
  frontend/src/scripts/test/poetry.ts
  frontend/src/scripts/test/practise-words.ts
  frontend/src/scripts/test/replay.ts
  frontend/src/scripts/test/result.ts
  frontend/src/scripts/test/shift-tracker.ts
  frontend/src/scripts/test/test-input.ts
  frontend/src/scripts/test/test-logic.js
  frontend/src/scripts/test/test-stats.ts
  frontend/src/scripts/test/test-timer.ts
  frontend/src/scripts/test/test-ui.ts
  frontend/src/scripts/test/test-words.ts
  frontend/src/scripts/test/timer-progress.ts
  frontend/src/scripts/test/today-tracker.ts
  frontend/src/scripts/test/tts.ts
  frontend/src/scripts/test/weak-spot.ts
  frontend/src/scripts/test/wikipedia.ts
  frontend/src/scripts/test/wordset.ts
  frontend/src/scripts/types/types.d.ts
Labels: frontend

#2601 Add test-logic.ts
  frontend/src/scripts/ape/types/ape.d.ts
  frontend/src/scripts/misc.ts
  frontend/src/scripts/test/funbox.ts
  frontend/src/scripts/test/lazy-mode.ts
  frontend/src/scripts/test/poetry.ts
  frontend/src/scripts/test/test-logic.ts
  frontend/src/scripts/test/test-words.ts
  frontend/src/scripts/types/types.d.ts
Labels: frontend

#2599 Add ape keys routing and configuration
  backend/api/controllers/ape-keys.ts
  backend/api/routes/ape-keys.ts
  backend/api/routes/index.ts
  backend/constants/base-configuration.ts
  backend/middlewares/auth.ts
  backend/middlewares/rate-limit.ts
  backend/package-lock.json
  backend/package.json
  backend/types/types.d.ts
Labels: backend

#2604 Partial config save
  backend/dao/config.ts
  frontend/src/scripts/config.ts
  frontend/src/scripts/constants/default-config.ts
  frontend/src/scripts/controllers/account-controller.js
  frontend/src/scripts/controllers/preset-controller.ts
  frontend/src/scripts/db.ts
  frontend/src/scripts/elements/commandline-lists.ts
  frontend/src/scripts/popups/import-export-settings-popup.ts
  frontend/src/scripts/settings/theme-picker.ts
Labels: backend, frontend
