Repository monkeytypegame/monkeytype, pull requests merged in 2022-08, with the labels that each got.

#3357 Added new german quotes
  frontend/static/quotes/german.json
Labels: waiting for update, frontend, assets

#3359 resets the xp when reseting account
  backend/__tests__/dal/user.spec.ts
  backend/src/dal/user.ts
Labels: backend

#3364 Fix typo in quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#3368 Improve Level Progression Formulas
  frontend/src/ts/utils/misc.ts
Labels: frontend

#3373 Fix/refactor xp
  backend/src/api/controllers/result.ts
  backend/src/constants/base-configuration.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  frontend/src/ts/test/test-logic.ts
Labels: backend, frontend

#3379 Merge master into newtribemerge
  backend/__tests__/dal/user.spec.ts
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/swagger.ts
  backend/src/api/schemas/config-schema.ts
  backend/src/api/schemas/result-schema.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  frontend/src/styles/ads.scss
  frontend/src/styles/core.scss
  frontend/src/styles/keymap.scss
  frontend/src/styles/nav.scss
  frontend/src/styles/popups.scss
  frontend/src/styles/profile.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/constants/default-snapshot.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/ad-controller.ts
  frontend/src/ts/controllers/page-controller.ts
  frontend/src/ts/controllers/route-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/elements/commandline-lists.ts
  frontend/src/ts/elements/keymap.ts
  frontend/src/ts/elements/monkey-power.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/elements/psa.ts
  frontend/src/ts/index.ts
  frontend/src/ts/pages/profile.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/pages/test.ts
  frontend/src/ts/popups/cookie-popup.ts
  frontend/src/ts/popups/video-ad-popup.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/test/focus.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-stats.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/url-handler.ts
  frontend/static/html/pages/account.html
  frontend/static/html/pages/profile.html
  frontend/static/html/pages/settings.html
  frontend/static/html/pages/test.html
  frontend/static/html/popups.html
  frontend/static/html/top.html
  frontend/static/images/cutoutbanner.png
  frontend/static/languages/britishenglish.json
  frontend/static/languages/indonesian_1k.json
  frontend/static/main.html
  frontend/static/quotes/english.json
  frontend/static/quotes/german.json
Labels: backend, frontend

#3390 Fix profile bio issue
  frontend/src/styles/profile.scss
Labels: frontend

#3395 Fix keymap keys holding previous style upon theme change.
  frontend/src/ts/controllers/theme-controller.ts
Labels: frontend

#3393 Added version indicator option 3
  CONTRIBUTING_ADVANCED.md
  frontend/src/styles/footer.scss
  frontend/src/ts/elements/version-check.ts
  frontend/src/ts/popups/version-popup.ts
  frontend/static/html/bottom.html
Labels: frontend, docs

#3374 Housekeeping
  .github/workflows/pr-check.yml
  backend/jest.config.ts
Labels: backend

#3386 Added Jyutping Language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/jyutping.json
Labels: frontend, assets

#3375 Added 5 new Albanian Quotes
  frontend/static/quotes/albanian.json
Labels: waiting for update, frontend, assets

#3398 Fix formatting
  frontend/static/languages/code_luau.json
  frontend/static/quotes/albanian.json
  frontend/static/quotes/arabic.json
  frontend/static/quotes/code_c++.json
  frontend/static/quotes/code_c.json
  frontend/static/quotes/code_java.json
  frontend/static/quotes/code_javascript.json
  frontend/static/quotes/code_julia.json
  frontend/static/quotes/code_python.json
  frontend/static/quotes/code_rust.json
  frontend/static/quotes/czech.json
  frontend/static/quotes/danish.json
  frontend/static/quotes/dutch.json
  frontend/static/quotes/french.json
  frontend/static/quotes/hindi.json
  frontend/static/quotes/icelandic.json
  frontend/static/quotes/irish.json
  frontend/static/quotes/lithuanian.json
  frontend/static/quotes/malagasy.json
  frontend/static/quotes/malayalam.json
  frontend/static/quotes/nepali.json
  frontend/static/quotes/norwegian.json
  frontend/static/quotes/polish.json
  frontend/static/quotes/portuguese.json
  frontend/static/quotes/romanian.json
  frontend/static/quotes/sanskrit.json
  frontend/static/quotes/serbian.json
  frontend/static/quotes/slovak.json
  frontend/static/quotes/swedish.json
  frontend/static/quotes/thai.json
  frontend/static/quotes/toki_pona.json
  frontend/static/quotes/turkish.json
  frontend/static/quotes/vietnamese.json
  frontend/static/terms-of-service.html
Labels: frontend

#3384 Update slovak.json
  frontend/static/quotes/slovak.json
Labels: frontend, assets

#3388 Add 15 new Dutch quotes
  frontend/static/quotes/dutch.json
Labels: frontend, assets

#3397 Added Santali language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/santali.json
Labels: frontend, assets

#3402 Corrected typo on QUOTES.md
  QUOTES.md
Labels: docs

#3404 Fix typo in spanish_10k.json
  frontend/static/languages/spanish_10k.json
Labels: frontend, assets

#3399 Add ReNeo supported layouts
  frontend/static/layouts/_list.json
Labels: frontend, assets

#3403 Add Ukrainian and Russian layouts
  frontend/static/languages/spanish_10k.json
  frontend/static/layouts/_list.json
Labels: frontend, assets

#3410 added new words to php code language
  frontend/static/languages/code_php.json
Labels: frontend, Stale, assets

#3411 Add 13 new English quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3412 Adding Korean Language Functionality
  frontend/package-lock.json
  frontend/package.json
  frontend/src/styles/test.scss
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/test/out-of-focus.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-ui.ts
  frontend/static/html/pages/test.html
  frontend/static/languages/_groups.json
  frontend/static/languages/jyutping.json
Labels: frontend

#3413 adding korean to languages
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/korean.json
  frontend/static/languages/korean_1k.json
  frontend/static/languages/korean_5k.json
Labels: frontend, assets

#3418 Fixes bug with capitalization in Georgian (#3414)
  frontend/src/ts/test/test-logic.ts
Labels: frontend

#3420 Update README link to discord bot
  README.md
Labels: docs

#3421 Update CTGAP layout, remove CTGAP 3.0
  frontend/static/layouts/_list.json
Labels: frontend, assets

#3423 add persian_20k & persian bcp47
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/persian.json
  frontend/static/languages/persian_1k.json
  frontend/static/languages/persian_20k.json
  frontend/static/languages/persian_5k.json
Labels: frontend, assets

#3424 Add Cave Johnson's quote from Portal 2
  frontend/static/languages/persian_20k.json
  frontend/static/quotes/english.json
Labels: frontend, assets

#3426 Fixed a quote source
  frontend/static/quotes/english.json
Labels: frontend, assets

#3428 New Theme: Modern Dolch Light
  frontend/static/themes/_list.json
  frontend/static/themes/modern_dolch_light.css
Labels: frontend, assets

#3432 capitalized the word "indonesia"
  frontend/static/quotes/indonesian.json
Labels: frontend, assets

#3431 Add endpoint for getting server config
  backend/src/api/routes/configuration.ts
  backend/src/api/routes/index.ts
Labels: backend

#3422 Added Quotes
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#3415 Add 11 Arabic quotes to arabic.json ➕
  frontend/static/quotes/arabic.json
Labels: waiting for update, frontend, assets

#3433 Change the error colour in the blue dolphin theme to make it more readable
  frontend/static/themes/blue_dolphin.css
Labels: frontend, assets

#3434 Adding words to portuguese
  frontend/static/languages/portuguese.json
Labels: frontend, assets

#3436 Add words to portuguese Language
  frontend/static/languages/portuguese.json
Labels: frontend, assets

#3435 refactoring input controller (strict equality & TS typing)
  frontend/src/ts/controllers/input-controller.ts
Labels: frontend

#3439 FIX: typo in c++ quote (id 32): extra \t after ;
  frontend/static/quotes/code_c++.json
Labels: frontend, assets

#3440 Add quotes from Destiny & Destiny 2
  frontend/static/quotes/english.json
Labels: frontend, assets

#3444 Code Vimscript
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_vimscript.json
Labels: frontend, assets

#3442 Added the Arduino programming language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_arduino.json
  frontend/static/quotes/code_arduino.json
Labels: frontend, assets

#3443 ADD: code_go.json quotes file; added 30 new golang quotes from GeekForGeeks
  frontend/static/quotes/code_go.json
Labels: frontend, assets

#3457 Urgent
  backend/src/middlewares/error.ts
  backend/src/middlewares/rate-limit.ts
Labels: backend

#3455 Add words and quotes to indonesian language
  frontend/static/languages/indonesian.json
  frontend/static/quotes/indonesian.json
Labels: frontend, assets

#3471 add Myanmar (Burmese) language
  frontend/package-lock.json
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/myanmar_burmese.json
Labels: frontend, assets

#3475 fix(commandline): adding toggle functionality for ctrl+shift+p command
  frontend/src/ts/elements/commandline.ts
Labels: frontend

#3458 Add inbox
  backend/__tests__/dal/user.spec.ts
  backend/__tests__/utils/daily-leaderboards.spec.ts
  backend/__tests__/utils/monkey-mail.spec.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/jobs/announce-daily-leaderboards.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/types/types.d.ts
  backend/src/utils/monkey-mail.ts
Labels: backend

#3462 Code SystemVerilog
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_systemverilog.json
  frontend/static/quotes/code_systemverilog.json
Labels: waiting for update, frontend, assets
