Repository monkeytypegame/monkeytype, pull requests merged in 2022-09, with the labels that each got.

#3482 fix(commandline): Make esc close the commandline when quick restart is set to esc
  frontend/src/ts/elements/commandline.ts
Labels: frontend

#3486 Update code_python
  frontend/static/languages/code_python.json
Labels: frontend, assets

#3483 C rework
  frontend/src/ts/test/test-logic.ts
  frontend/static/languages/code_arduino.json
  frontend/static/languages/code_c.json
  frontend/static/quotes/code_c++.json
  frontend/static/quotes/code_c.json
Labels: waiting for update, frontend, assets

#3495 Added basic information about redis.
  CONTRIBUTING.md
Labels: docs

#3500 add quote "I am prepared to die" by Nelson Mandela
  frontend/static/quotes/english.json
Labels: frontend, assets

#3503 Added some russian quotes, standardized the sequence of fields in json
  frontend/static/quotes/russian.json
Labels: waiting for update, frontend, assets

#3507 Unexpected appearance of numbers fix
  frontend/src/ts/test/test-logic.ts
Labels: frontend

#3508 Reward daily leaderboards and refactor mail API
  backend/__tests__/dal/user.spec.ts
  backend/__tests__/utils/daily-leaderboards.spec.ts
  backend/__tests__/utils/misc.spec.ts
  backend/__tests__/utils/monkey-mail.spec.ts
  backend/src/api/controllers/result.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/jobs/announce-daily-leaderboards.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  backend/src/utils/monkey-mail.ts
Labels: backend

#3385 Implement streaks
  backend/__tests__/dal/user.spec.ts
  backend/jest.config.ts
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  frontend/src/styles/profile.scss
  frontend/src/ts/constants/default-snapshot.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/pages/profile.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/account.html
  frontend/static/html/pages/profile.html
Labels: waiting for update, backend, frontend

#3502 language checks use startsWith()
  frontend/src/ts/popups/quote-report-popup.ts
  frontend/src/ts/test/test-logic.ts
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/hungarian_2k.json
Labels: frontend, assets

#3474 fixing wpm and correctedHistory for Korean
  frontend/src/styles/test.scss
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/test/test-input.ts
  frontend/src/ts/test/test-stats.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#3501 adding dvorak french
  frontend/static/layouts/_list.json
Labels: frontend, assets

#3456 Korean Keymap
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/elements/commandline.ts
  frontend/src/ts/elements/keymap.ts
  frontend/static/html/pages/test.html
  frontend/static/layouts/_list.json
Labels: frontend

#3492 Added italian quotes
  frontend/static/quotes/italian.json
Labels: waiting for update, frontend, assets

#3516 Add Powershell Code language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_powershell.json
Labels: frontend, assets

#3521 add viridescent theme
  frontend/static/themes/_list.json
  frontend/static/themes/viridescent.css
Labels: frontend, assets

#3525 Add xp reward overrides
  backend/__tests__/utils/daily-leaderboards.spec.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/jobs/announce-daily-leaderboards.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
Labels: backend

#3526 add quotes from LOTR
  frontend/static/quotes/english.json
Labels: frontend, assets

#3520 Add Georgian quotes
  frontend/static/quotes/georgian.json
Labels: waiting for update, frontend, assets

#3527 #3487 - Remove language mode notice in zen mode
  frontend/src/ts/elements/modes-notice.ts
Labels: frontend

#3528 Clear rewards
  backend/src/dal/user.ts
Labels: backend

#3499 Added hinglish under hindi (not as separate language)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/hinglish.json
Labels: waiting for update, frontend, assets

#3530 Add contributor role
  frontend/src/ts/controllers/badge-controller.ts
Labels: frontend

#3537 Correct catalan.json cataluña->catalunya
  frontend/static/languages/catalan.json
Labels: frontend, assets

#3538 Corrected catalan_1K.json Cataluña -> Catalunya
  frontend/static/languages/catalan_1k.json
Labels: frontend, assets

#3535 New Theme : cheesecake
  frontend/static/themes/_list.json
  frontend/static/themes/cheesecake.css
Labels: waiting for update, frontend, assets

#3548 Add retry utility for ape
  frontend/src/ts/ape/utils.ts
Labels: frontend

#3556 Updated hinglish word list
  frontend/static/languages/hinglish.json
Labels: frontend, assets

#3544 Nerps
  frontend/static/layouts/_list.json
Labels: frontend, assets

#3553 Change displayed modifier key based on platform
  frontend/src/ts/ui.ts
Labels: waiting for update, frontend

#3550 Added quotes from Porter Robinson tracks
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#3560 Adding udmurt to languages
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/udmurt.json
Labels: frontend, assets

#3561 Added Friulian language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/friulian.json
Labels: frontend, assets

#3575 added a new quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#3569 Updated Filipino 200 words list
  frontend/static/languages/filipino.json
Labels: frontend, assets

#3585 Get profile by name
  backend/__tests__/api/controllers/user.spec.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/dal/user.ts
  frontend/src/styles/core.scss
  frontend/src/styles/inputs.scss
  frontend/src/styles/profile.scss
  frontend/src/styles/settings.scss
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/commandline/lists/load-challenge.ts
  frontend/src/ts/commandline/lists/navigation.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/controllers/page-controller.ts
  frontend/src/ts/controllers/route-controller.ts
  frontend/src/ts/elements/input-indicator.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/index.ts
  frontend/src/ts/observables/navigate-event.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/page.ts
  frontend/src/ts/pages/profile-search.ts
  frontend/src/ts/pages/profile.ts
  frontend/src/ts/utils/misc.ts
  frontend/static/html/pages/profile.html
Labels: backend, frontend

#3603 yyyriyriy ppp[i6riy
  backend/src/api/schemas/config-schema.ts
  frontend/src/ts/commandline/lists/sound-on-click.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/settings.html
  frontend/static/quotes/english.json
Labels: backend, frontend

#3587 Add more Greek language files
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/greek_10k.json
  frontend/static/languages/greek_1k.json
  frontend/static/languages/greek_25k.json
  frontend/static/languages/greek_5k.json
Labels: frontend, assets

#3594 Added some English quotes
  frontend/static/languages/_groups.json
  frontend/static/quotes/english.json
Labels: frontend, assets

#3598 Replace profile URI to use username
  backend/src/constants/base-configuration.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/profile.ts
Labels: backend, frontend

#3600 added indonesian quote
  frontend/static/quotes/indonesian.json
Labels: frontend, assets

#3599 added english quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3540 New Theme : iv
  frontend/static/themes/_list.json
  frontend/static/themes/iv_clover.css
  frontend/static/themes/iv_spade.css
Labels: waiting for update, frontend, assets

#3607 Add confetti animation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
Labels: frontend

#3612 Added quotes from Xenoblade Chronicles
  frontend/static/quotes/english.json
Labels: frontend, assets

#3614 Add luau libraries
  frontend/static/languages/code_luau.json
Labels: frontend, assets

#3615 More luau fixes + lua fixes
  frontend/static/languages/code_lua.json
  frontend/static/languages/code_luau.json
Labels: frontend, assets
