Repository monkeytypegame/monkeytype, pull requests merged in 2022-10, with the labels that each got.

#3617 add sturdy (keyboard layout)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#3621 Add lyric quote from the song 46 & 2 by Tool
  frontend/static/quotes/english.json
Labels: frontend, assets

#3595 Quote
  frontend/static/languages/code_lua.json
  frontend/static/languages/code_luau.json
  frontend/static/quotes/english.json
Labels: frontend, assets

#3623 [Spanish language] Word "solo" spelling mistake.
  frontend/static/languages/spanish.json
  frontend/static/languages/spanish_10k.json
  frontend/static/languages/spanish_1k.json
Labels: frontend, assets

#3543 Long Custom Text
  frontend/src/styles/popups.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/popups/custom-text-popup.ts
  frontend/src/ts/popups/save-custom-text-popup.ts
  frontend/src/ts/popups/saved-texts-popup.ts
  frontend/src/ts/popups/simple-popups.ts
  frontend/src/ts/states/custom-text-name.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/test/test-logic.ts
  frontend/static/html/popups.html
Labels: frontend

#3624 add d&d quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3626 De-emphasize unreached words in burst heatmap
  frontend/src/styles/test.scss
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#3625 Ukrainian common endings
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/ukrainian_endings.json
Labels: frontend, assets

#3627 Update Indonesian language based on standard language and add more co…
  frontend/static/languages/indonesian.json
Labels: frontend, assets

#3633 spanish and english quotes
  frontend/static/quotes/english.json
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#3635 Purge from dailies
  backend/__tests__/utils/validation.spec.ts
  backend/redis-scripts/purge-results.lua
  backend/src/api/controllers/user.ts
  backend/src/utils/daily-leaderboards.ts
Labels: backend

#3640 Add Jules verne quotes
  frontend/static/quotes/french.json
Labels: waiting for update, frontend, assets

#3645 [New language] Kyrgyz language added
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/kyrgyz.json
Labels: frontend, assets

#3649 Adding Quotes
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#3647 Fixed db snapshot type
  frontend/src/ts/account/all-time-stats.ts
  frontend/src/ts/account/result-filters.ts
  frontend/src/ts/commandline/index.ts
  frontend/src/ts/commandline/lists/custom-themes-list.ts
  frontend/src/ts/commandline/lists/tags.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/controllers/tag-controller.ts
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/elements/alerts.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/popups/edit-preset-popup.ts
  frontend/src/ts/popups/edit-profile-popup.ts
  frontend/src/ts/popups/edit-tags-popup.ts
  frontend/src/ts/popups/pb-tables-popup.ts
  frontend/src/ts/popups/quote-rate-popup.ts
  frontend/src/ts/popups/quote-search-popup.ts
  frontend/src/ts/popups/result-tags-popup.ts
  frontend/src/ts/popups/simple-popups.ts
  frontend/src/ts/settings/theme-picker.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/test/today-tracker.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/url-handler.ts
Labels: frontend

#3655 feat(`front-end`): persian quote file initialized and 20 quote added
  frontend/static/quotes/persian.json
Labels: frontend, assets

#3656 Add English quote
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#3664 New language: english doubleletter
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/english_doubleletter.json
Labels: waiting for update, frontend, assets

#3652 Save speed stats in leaderboard update
  backend/__tests__/dal/public.spec.ts
  backend/src/api/controllers/public.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/public.ts
  backend/src/dal/leaderboards.ts
  backend/src/dal/public-stats.ts
  backend/src/dal/public.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/types/types.d.ts
  frontend/src/styles/about.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/public.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/pages/about.ts
  frontend/src/ts/utils/misc.ts
  frontend/static/html/pages/about.html
Labels: backend, frontend

#3661 More french quotes
  frontend/static/quotes/french.json
Labels: waiting for update, frontend, assets

#3672 Add "vintage_red" theme + add quotes for 3 languages
  frontend/static/quotes/english.json
  frontend/static/quotes/hindi.json
  frontend/static/quotes/norwegian.json
Labels: waiting for update, frontend, assets

#3674 Add quotes to code_c
  frontend/static/quotes/code_c.json
Labels: frontend, assets

#3677 Update banner refresh
  frontend/src/ts/elements/notifications.ts
Labels: frontend

#3678 Add Burmese layout
  frontend/static/layouts/_list.json
Labels: frontend, assets

#3680 More french quotes about typing
  frontend/static/quotes/french.json
Labels: frontend, assets

#3676 Added some cool deep quotes...
  frontend/static/quotes/english.json
Labels: frontend, assets

#3681 New Language: "lorem ipsum" by me
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/lorem_ipsum.json
Labels: frontend, assets

#3596 Add memoize async util (rewrite get json lists in misc)
  frontend/src/ts/account/result-filters.ts
  frontend/src/ts/commandline/commands.ts
  frontend/src/ts/commandline/index.ts
  frontend/src/ts/config-validation.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/elements/keymap.ts
  frontend/src/ts/pages/about.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/popups/word-filter-popup.ts
  frontend/src/ts/settings/language-picker.ts
  frontend/src/ts/settings/theme-picker.ts
  frontend/src/ts/test/funbox.ts
  frontend/src/ts/test/layout-emulator.ts
  frontend/src/ts/test/shift-tracker.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/wikipedia.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend, waiting for review

#3695 Fixed #2361
  frontend/src/ts/commandline/index.ts
Labels: frontend

#3700 Adding Romanized Persian (written in English characters) support
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/persian_romanized.json
Labels: frontend, assets

#3706 Add missing nepali quote of thicc quote length
  frontend/static/quotes/nepali.json
Labels: waiting for update, frontend, assets, hacktoberfest-accepted

#3705 Kratesv nynorsk words
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/norwegian_nynorsk.json
Labels: frontend, assets
