Repository monkeytypegame/monkeytype, pull requests merged in 2022-03, with the labels that each got.

#2612 Add ape keys API to ape client
  frontend/src/scripts/ape/endpoints/ape-keys.ts
  frontend/src/scripts/ape/endpoints/index.ts
  frontend/src/scripts/ape/index.ts
  frontend/src/scripts/ape/types/ape.d.ts
Labels: frontend

#2613 Added monkey status codes
  backend/api/controllers/result.js
  backend/constants/monkey-status-codes.ts
  backend/handlers/monkey-response.js
Labels: backend

#2625 Migrate some utils to TS
  backend/api/controllers/user.ts
  backend/constants/monkey-status-codes.ts
  backend/dao/user.js
  backend/init/configuration.ts
  backend/utils/auth.js
  backend/utils/auth.ts
  backend/utils/captcha.js
  backend/utils/captcha.ts
  backend/utils/error.ts
  backend/utils/logger.ts
  backend/utils/misc.js
  backend/utils/misc.ts
  backend/utils/monkey-response.js
  backend/utils/monkey-response.ts
  backend/utils/pb_old.js
  backend/utils/validation.ts
Labels: waiting for update, backend

#2648 Add Custom Text Storage
  frontend/src/scripts/popups/custom-text-popup.ts
  frontend/src/scripts/popups/saved-texts-popup.ts
  frontend/src/scripts/popups/simple-popups.ts
  frontend/src/scripts/test/custom-text.ts
  frontend/src/styles/popups.scss
  frontend/static/index.html
Labels: improvement, new feature, frontend

#2663 Final touches/tuning for ApeKeys
  backend/api/controllers/ape-keys.ts
  backend/constants/monkey-status-codes.ts
  backend/dao/ape-keys.ts
  backend/documentation/public-swagger.json
  backend/middlewares/auth.ts
Labels: backend

#2700 Refactored random number getting code, added random from array and object
  frontend/src/scripts/controllers/sound-controller.ts
  frontend/src/scripts/controllers/theme-controller.ts
  frontend/src/scripts/test/test-logic.ts
  frontend/src/scripts/test/wordset.ts
  frontend/src/scripts/utils/misc.ts
Labels: frontend

#2707 Using date-fns instead of moment
  .eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/scripts/account/pb-tables.ts
  frontend/src/scripts/controllers/chart-controller.js
  frontend/src/scripts/elements/leaderboards.ts
  frontend/src/scripts/modules.d.ts
  frontend/src/scripts/pages/account.ts
  frontend/src/scripts/popups/ape-keys-popup.ts
  frontend/src/scripts/popups/pb-tables-popup.ts
  frontend/src/scripts/popups/quote-approve-popup.ts
  frontend/src/scripts/test/test-ui.ts
  frontend/src/scripts/utils/misc.ts
  frontend/static/index.html
  frontend/static/js/moment.min.js
  frontend/tsconfig.json
  old_js.eslintrc.json
Labels: frontend

#2716 Consolidate webpack configurations
  frontend/gulpfile.js
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.dev.js
  frontend/webpack.config.prod.js
  frontend/webpack/config.base.js
  frontend/webpack/config.dev.js
  frontend/webpack/config.prod.js
Labels: local dev

#2722 Added Quotes Documentation
  CONTRIBUTING.md
  QUOTES.md
Labels: waiting for update

#2731 Convert account controller to ts
  .gitignore
  frontend/src/scripts/constants/default-snapshot.ts
  frontend/src/scripts/controllers/account-controller.ts
  frontend/src/scripts/controllers/page-controller.ts
  frontend/src/scripts/db.ts
  frontend/src/scripts/types/types.d.ts
  frontend/src/scripts/utils/misc.ts
Labels: frontend, waiting for review

#2732 Decreased filesize and introduced chunk splitting
  frontend/package-lock.json
  frontend/package.json
  frontend/static/index.html
  frontend/webpack/config.audit.js
  frontend/webpack/config.base.js
  frontend/webpack/config.dev.js
  frontend/webpack/config.prod.js
  package.json
Labels: waiting for update, local dev

#2738 Enable live reloading
  CONTRIBUTING.md
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack/config.base.js
  frontend/webpack/config.dev.js
  package.json
Labels: waiting for update, frontend, local dev

#2735 Migrate Chart.js to 3.7.1
  QUOTES.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/scripts/account/mini-result-chart.ts
  frontend/src/scripts/controllers/chart-controller.js
  frontend/src/scripts/index.ts
  frontend/src/scripts/pages/account.ts
  frontend/src/scripts/test/result.ts
Labels: on hold, frontend

#2747 Add quote search command
  frontend/src/scripts/elements/commandline-lists.ts
  frontend/src/scripts/elements/commandline.ts
  frontend/src/scripts/types/types.d.ts
  frontend/static/index.html
Labels: frontend

#2756 Add Show Average Accuracy and Make Show Average Speed Show CPM
  backend/api/schemas/config-schema.ts
  frontend/src/scripts/config.ts
  frontend/src/scripts/constants/default-config.ts
  frontend/src/scripts/db.ts
  frontend/src/scripts/elements/commandline-lists.ts
  frontend/src/scripts/elements/last-10-average.ts
  frontend/src/scripts/elements/modes-notice.ts
  frontend/src/scripts/pages/settings.ts
  frontend/src/scripts/test/pace-caret.ts
  frontend/src/scripts/test/test-logic.ts
  frontend/src/scripts/types/types.d.ts
  frontend/static/index.html
Labels: improvement, frontend

#2741 Convert chart-controller to TypeScript
  frontend/package-lock.json
  frontend/package.json
  frontend/src/scripts/account/mini-result-chart.ts
  frontend/src/scripts/controllers/chart-controller.js
  frontend/src/scripts/controllers/chart-controller.ts
  frontend/src/scripts/pages/account.ts
  frontend/src/scripts/test/result.ts
  frontend/src/scripts/types/types.d.ts
Labels: improvement, frontend, waiting for review

#2763 Adding Kurdish Language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/sorani.json
Labels: waiting for update
