Repository monkeytypegame/monkeytype, pull requests merged in 2022-06, with the labels that each got.

#3058 Create docker-compose.yaml file for frontend
  CONTRIBUTING_ADVANCED.md
  frontend/docker-compose.yaml
Labels: frontend, docs

#3065 Check redis status when getting client connection
  backend/src/init/redis.ts
Labels: backend

#3060 Add get avatar endpoint
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/dal/user.ts
  backend/src/utils/discord.ts
  frontend/src/ts/ape/endpoints/users.ts
Labels: waiting for update, backend, frontend

#3068 Update discord avatar
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/dal/user.ts
  frontend/src/styles/settings.scss
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/verification-controller.ts
  frontend/src/ts/ui.ts
  frontend/static/html/pages/settings.html
Labels: backend, frontend

#3041 Added Oromo language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/oromo.json
  frontend/static/languages/oromo_1k.json
  frontend/static/languages/oromo_5k.json
Labels: waiting for update, frontend, assets

#3076 Added an English Quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#3071 added "tron_orange" theme
  frontend/static/themes/_list.json
  frontend/static/themes/tron_orange.css
Labels: frontend, assets

#3078 Fix prettier issues
  .github/workflows/pretty-fix.yml
  frontend/static/languages/code_julia.json
  frontend/static/languages/code_vim.json
  frontend/static/languages/oromo.json
  frontend/static/languages/oromo_1k.json
  frontend/static/languages/oromo_5k.json
  frontend/static/themes/mexican.css
  frontend/static/themes/peach_blossom.css
  frontend/static/themes/tron_orange.css
  package.json
Labels: frontend, assets

#3069 Add leaderboard avatars and badges
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/controllers/result.ts
  backend/src/dal/leaderboards.ts
  backend/src/documentation/public-swagger.json
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
  frontend/src/ts/types/types.d.ts
Labels: backend, frontend

#3082 Fix lines stylinh
  backend/private/style.css
Labels: backend

#3085 small fix for themes popup
  frontend/src/ts/elements/commandline.ts
Labels: frontend

#3086 Refactor avatar logic and badges
  frontend/src/ts/controllers/badge-controller.ts
  frontend/src/ts/elements/leaderboards.ts
Labels: frontend

#3091 Change tribe server port to 3005
  frontend/src/ts/tribe/tribe.ts
Labels: frontend

#3092 Fix bug of second race not starting properly
  frontend/src/ts/tribe/tribe.ts
Labels: frontend

#3087 Add logic to handle fetching previous daily leaderboards
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/server.ts
  backend/src/utils/daily-leaderboards.ts
  backend/src/utils/misc.ts
  frontend/src/styles/leaderboards.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/ape/endpoints/leaderboards.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/static/html/popups.html
Labels: backend, frontend

#3098 Fix typos
  frontend/static/funbox/_list.json
Labels: frontend, assets

#3102 Fixed a spelling error in Spanish 1k
  frontend/static/languages/spanish_1k.json
Labels: frontend, assets

#3104 extended: language 'code rust'
  frontend/static/languages/code_rust.json
Labels: frontend, assets

#3094 added one english quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#3105 Custom Filters [Backend]
  backend/__tests__/dal/user.spec.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/api/schemas/filter-schema.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/types/types.d.ts
Labels: backend

#3109 Added one english quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#3110 Custom Filters Name Validation
  backend/src/api/schemas/filter-schema.ts
  backend/src/constants/base-configuration.ts
Labels: backend

#3108 Added Haskell programming language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_haskell.json
Labels: frontend, assets

#3114 Contributing typos fix
  CONTRIBUTING_ADVANCED.md
Labels: docs

#3107 Fix yesterday toggle button
  frontend/src/ts/elements/leaderboards.ts
Labels: frontend

#3115 Rename customFilters -> resultFilterPresets
  backend/__tests__/dal/user.spec.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
Labels: backend

#3117 Fixed mistake in a word
  frontend/static/languages/ukrainian_50k.json
Labels: frontend, assets

#3112 add turkish quotes, 61-69
  frontend/static/quotes/turkish.json
Labels: waiting for update, frontend, assets

#3111 wordle, wordle_1k languages.
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/wordle.json
  frontend/static/languages/wordle_1k.json
Labels: waiting for update, frontend, assets

#3122 Fix bug in lobby and remove old comments
  frontend/src/ts/elements/commandline-lists.ts
  frontend/src/ts/elements/commandline.ts
  frontend/src/ts/test/funbox.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-timer.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/tribe/tribe-config.ts
  frontend/src/ts/tribe/tribe-delta.ts
  frontend/src/ts/tribe/tribe-sound.ts
Labels: frontend

#3121 Added additional Nepali quotes
  frontend/static/quotes/nepali.json
Labels: waiting for update, frontend, assets

#3125 Fix funbox bug thanks to Miodec, removed some comments and minor refactor
  frontend/src/ts/config.ts
  frontend/src/ts/tribe/tribe-config.ts
Labels: frontend

#3126 New kurdish words
  frontend/static/languages/kurdish_central.json
Labels: frontend, assets

#3124 Add leaderboard language selection
  frontend/src/styles/inputs.scss
  frontend/src/styles/leaderboards.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/elements/leaderboards.ts
  frontend/static/html/popups.html
Labels: frontend, waiting for review

#3106 Custom Filters [FrontEnd]
  frontend/src/styles/account.scss
  frontend/src/styles/popups.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/account/result-filters.ts
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/constants/default-snapshot.ts
  frontend/src/ts/db.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/popups/new-result-filter-preset-popup.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/account.html
  frontend/static/html/popups.html
Labels: frontend, waiting for review

#3132 added: code_opencl language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_opencl.json
Labels: frontend, assets

#3123 Add user profile API
  backend/__tests__/dal/user.spec.ts
  backend/__tests__/utils/misc.spec.ts
  backend/jest.config.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
Labels: backend, waiting for review

#3134 Include language in daily lb notification
  frontend/src/ts/test/test-logic.ts
Labels: frontend

#3136 Add 20 more Indonesian quotes, 151-170
  frontend/static/quotes/indonesian.json
Labels: frontend, assets

#3137 add hedge theme
  frontend/static/themes/_list.json
  frontend/static/themes/hedge.css
Labels: frontend, assets

#3103 Added a bunch of quotes
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#3135 Add profile editing
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/constants/base-configuration.ts
  backend/src/constants/profanities.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  backend/src/utils/validation.ts
  frontend/src/styles/account.scss
  frontend/src/styles/popups.scss
  frontend/src/ts/account/result-filters.ts
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/popups/edit-profile-popup.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/account.html
  frontend/static/html/popups.html
Labels: backend, frontend

#3133 Refactor add user
  backend/src/dal/user.ts
Labels: backend

#3139 removed swapEscAndTab, replaced quickTab with quickRestart
  backend/src/api/schemas/config-schema.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/commandline-lists.ts
  frontend/src/ts/elements/commandline.ts
  frontend/src/ts/index.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/ui.ts
  frontend/static/html/pages/settings.html
Labels: backend, frontend

#3145 Fix prettier issues and update package.json
  frontend/static/languages/wordle.json
  frontend/static/languages/wordle_1k.json
  frontend/static/quotes/english.json
  frontend/static/quotes/nepali.json
  package.json
Labels: frontend, assets

#3147 Added code_visual_basic language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_visual_basic.json
Labels: frontend, assets

#3146 Add 40 more Indonesian quotes, 171-210
  frontend/static/quotes/indonesian.json
Labels: frontend, assets

#3153 more english quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3155 added psa request failed notification
  frontend/src/ts/elements/psa.ts
Labels: frontend

#3162 fix: hide account icon when using discord avatar
  frontend/src/ts/elements/account-button.ts
Labels: frontend

#3167 Fix webpack hot reload not working on html file changes.
  frontend/webpack/config.base.js
  frontend/webpack/config.dev.js
  frontend/webpack/config.prod.js
Labels: frontend

#3131 Added 64K+ Kurdish words
  frontend/static/languages/kurdish_central.json
  frontend/static/languages/kurdish_central_45k.json
Labels: frontend, assets

#3168 Fix escapeHTML not working properly and create `allowHTML` parameter for Notifications.
  frontend/src/ts/elements/notifications.ts
  frontend/src/ts/elements/psa.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend

#3148 Adjusted Caps warning position
  frontend/src/styles/test.scss
  frontend/src/ts/test/focus.ts
Labels: frontend

#3156 create supporter and sugar daddy badges
  frontend/src/ts/controllers/badge-controller.ts
Labels: frontend

#3159 added missing challenge
  frontend/static/challenges/_list.json
  frontend/static/challenges/sourcecode.txt
Labels: frontend, assets

#3170 Refactor webpack configs
  frontend/webpack/config.base.js
  frontend/webpack/config.dev.js
  frontend/webpack/config.prod.js
Labels: frontend

#3169 Disabled time typing requirement on dev
  backend/src/api/controllers/result.ts
  backend/src/dal/leaderboards.ts
  frontend/src/ts/elements/leaderboards.ts
Labels: backend, frontend

#3143 Add profile routing
  backend/src/api/controllers/user.ts
  backend/src/api/schemas/config-schema.ts
  frontend/src/styles/account.scss
  frontend/src/styles/index.scss
  frontend/src/styles/leaderboards.scss
  frontend/src/styles/popups.scss
  frontend/src/styles/profile.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/account/pb-tables.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/badge-controller.ts
  frontend/src/ts/controllers/page-controller.ts
  frontend/src/ts/controllers/route-controller.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/profile.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/misc.ts
  frontend/static/html/pages/account.html
  frontend/static/html/pages/profile.html
  frontend/static/main.html
Labels: backend, frontend

#3176 fix webpack reloading twice
  frontend/webpack/config.base.js
Labels: frontend

#3178 Fix webpack config
  frontend/webpack/config.base.js
Labels: frontend

#3181 Fix leaderboard avatars
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend

#3189 Fix consistency bug
  frontend/src/ts/account/pb-tables.ts
Labels: frontend

#3191 replaced edit with save
  frontend/static/html/popups.html
Labels: frontend

#3166 Added 8 more English quotes
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#3179 Webpack configs housekeeping
  frontend/webpack/config.base.js
  frontend/webpack/config.dev.js
  frontend/webpack/config.prod.js
Labels: frontend

#3193 Fixed punctuation and quote length
  frontend/static/quotes/indonesian.json
Labels: frontend, assets

#3203 Fix typo in language `code_haskell`
  frontend/static/languages/code_haskell.json
Labels: frontend, assets

#3204 Fix bug
  frontend/src/ts/elements/leaderboards.ts
Labels: frontend

#3205 Refactor some code
  frontend/src/ts/elements/profile.ts
Labels: frontend

#3213 remove monkeytype-js from the docs
  backend/src/documentation/public-swagger.json
Labels: backend

#3210 Inventory badge selection
  backend/__tests__/dal/user.spec.ts
  backend/__tests__/utils/misc.spec.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  frontend/src/styles/popups.scss
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/controllers/badge-controller.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/popups/edit-profile-popup.ts
  frontend/static/html/popups.html
Labels: backend, frontend

#3217 Fix leaderboard update bug
  backend/__tests__/utils/misc.spec.ts
  backend/src/dal/leaderboards.ts
Labels: backend

#3214 Tune profanity detection
  backend/__tests__/utils/validation.spec.ts
  backend/src/constants/profanities.ts
  backend/src/utils/validation.ts
Labels: backend

#3218 Add quotes by Pierce Brown
  frontend/static/quotes/english.json
Labels: frontend, assets

#3219 Fix all time lb again
  backend/src/dal/leaderboards.ts
Labels: backend

#3220 Reworked route controller
  frontend/src/styles/404.scss
  frontend/src/styles/core.scss
  frontend/src/styles/index.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/controllers/page-controller.ts
  frontend/src/ts/controllers/route-controller.ts
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/controllers/verification-controller.ts
  frontend/src/ts/elements/commandline-lists.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/version-check.ts
  frontend/src/ts/pages/404.ts
  frontend/src/ts/pages/about.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/loading.ts
  frontend/src/ts/pages/login.ts
  frontend/src/ts/pages/page.ts
  frontend/src/ts/pages/profile.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/pages/test.ts
  frontend/src/ts/popups/custom-theme-popup.ts
  frontend/src/ts/popups/quote-submit-popup.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/states/active-page.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/url-handler.ts
  frontend/static/html/head.html
  frontend/static/html/pages/404.html
  frontend/static/html/pages/account.html
  frontend/static/html/pages/loading.html
  frontend/static/html/pages/test.html
  frontend/static/html/top.html
  frontend/static/images/monkeymeme.png
  frontend/static/main.html
  frontend/webpack/config.dev.js
Labels: frontend

#3226 Fix circular dep between `leaderboard.ts` and `route-controller.ts`
  frontend/src/ts/controllers/route-controller.ts
  frontend/src/ts/elements/leaderboards.ts
Labels: frontend

#3227 fix popup style inconsistencies
  frontend/src/styles/popups.scss
Labels: frontend

#3223 Refactor Users DAL
  backend/src/dal/user.ts
Labels: backend

#3225 Add content creator badge
  frontend/src/ts/controllers/badge-controller.ts
Labels: frontend, waiting for review

#3195 replaced theme generation method
  frontend/src/ts/controllers/theme-controller.ts
Labels: frontend, waiting for review

#3224 rework captcha
  frontend/src/styles/popups.scss
  frontend/src/ts/controllers/captcha-controller.ts
  frontend/src/ts/popups/quote-report-popup.ts
  frontend/src/ts/popups/quote-submit-popup.ts
  frontend/static/html/popups.html
  frontend/static/main.html
Labels: waiting for update, frontend

#3234 View account page fix
  frontend/src/ts/elements/commandline-lists.ts
Labels: frontend

#3232 Add 20 more Python quotes (id: 9-28)
  frontend/static/quotes/code_python.json
Labels: frontend, assets

#3235 fix basic typos
  CONTRIBUTING_ADVANCED.md
  CONTRIBUTING_BASIC.md
  THEMES.md
Labels: docs

#3238 fix random characters showing on screenshot
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#3236 Custom theme edit fix
  frontend/src/ts/popups/simple-popups.ts
Labels: frontend

#3244 Add 30 more C++ quotes (id: 3-32)
  frontend/static/quotes/code_c++.json
Labels: frontend, assets

#3245 remove fullstops from alerts
  frontend/src/ts/popups/custom-text-popup.ts
  frontend/src/ts/popups/quote-report-popup.ts
  frontend/src/ts/popups/simple-popups.ts
Labels: frontend

#3249 fix the links in the footer for profile pages
  frontend/static/html/bottom.html
Labels: frontend

#3180 Filipino quotes update
  frontend/static/quotes/filipino.json
Labels: waiting for update, frontend, assets

#3255 Custom themes command line fix
  frontend/src/ts/elements/commandline-lists.ts
Labels: frontend

#3230 Add new rate limiting flow
  backend/jest.config.ts
  backend/package-lock.json
  backend/package.json
  backend/private/script.js
  backend/src/api/routes/ape-keys.ts
  backend/src/api/routes/configs.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/api/routes/presets.ts
  backend/src/api/routes/psas.ts
  backend/src/api/routes/quotes.ts
  backend/src/api/routes/results.ts
  backend/src/api/routes/users.ts
  backend/src/app.ts
  backend/src/constants/base-configuration.ts
  backend/src/constants/monkey-status-codes.ts
  backend/src/middlewares/ape-rate-limit.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/error.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/types/types.d.ts
  backend/src/utils/error.ts
Labels: backend, waiting for review

#3250 Added 20 more English quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3266 Rewriting middleware tests
  backend/__tests__/middlewares/auth.spec.ts
  backend/__tests__/utils/authentication.spec.ts
Labels: backend

#3263 Added spanish quotes
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#3267 11 more long-form quotes
  frontend/static/quotes/english.json
Labels: frontend, assets
