Repository monkeytypegame/monkeytype, pull requests merged in 2022-07, with the labels that each got.

#3270 Added prog_workman layout
  frontend/static/layouts/_list.json
Labels: frontend, assets

#3268 Add 200 words under tamil.json and created tamil_1k.json
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/tamil.json
  frontend/static/languages/tamil_1k.json
Labels: waiting for update, frontend, assets

#3287 Added 1 french quote
  frontend/static/quotes/french.json
Labels: frontend, assets

#3290 fixed a typo
  frontend/static/terms-of-service.html
Labels: frontend

#3243 Added quotes
  frontend/static/quotes/nepali.json
Labels: waiting for update, frontend, assets

#3289 added the canary matrix variant
  frontend/static/layouts/_list.json
Labels: frontend, assets

#3291 Refactor auth
  backend/src/middlewares/auth.ts
Labels: backend

#3286 Add version commit hash
  backend/src/version.ts
  frontend/package.json
  frontend/webpack/config.prod.js
Labels: backend, frontend

#3294 Add minor optimization
  backend/src/constants/profanities.ts
  backend/src/utils/validation.ts
Labels: backend

#3285 🗑️Replace deprecated functions
  frontend/src/ts/elements/commandline.ts
  frontend/src/ts/popups/ape-keys-popup.ts
  frontend/src/ts/popups/custom-test-duration-popup.ts
  frontend/src/ts/popups/custom-text-popup.ts
  frontend/src/ts/popups/custom-theme-popup.ts
  frontend/src/ts/popups/custom-word-amount-popup.ts
  frontend/src/ts/popups/google-sign-up-popup.ts
  frontend/src/ts/popups/import-export-settings-popup.ts
  frontend/src/ts/popups/new-result-filter-preset-popup.ts
  frontend/src/ts/popups/quote-report-popup.ts
  frontend/src/ts/popups/quote-search-popup.ts
  frontend/src/ts/popups/saved-texts-popup.ts
  frontend/src/ts/popups/simple-popups.ts
  frontend/src/ts/popups/word-filter-popup.ts
  frontend/src/ts/test/practise-words.ts
Labels: frontend

#3300 fixed a typo
  QUOTES.md
Labels: docs

#3304 add maltese and latvian languages (200 and 1k)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/latvian.json
  frontend/static/languages/latvian_1k.json
  frontend/static/languages/maltese.json
  frontend/static/languages/maltese_1k.json
Labels: frontend, assets

#3311 remove quickTab and swapEscAndTab from config-schema
  backend/src/api/schemas/config-schema.ts
Labels: backend

#3310 update tool badges
  README.md
Labels: docs

#3301 Added a few norwegian quotes
  frontend/static/quotes/norwegian.json
Labels: waiting for update, frontend, assets

#3307 Remove minAccuracy grace period
  frontend/src/ts/test/test-timer.ts
Labels: frontend

#3206 Adds a reset account button to the settings page
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/dal/ape-keys.ts
  backend/src/dal/config.ts
  backend/src/dal/preset.ts
  backend/src/dal/user.ts
  backend/src/middlewares/rate-limit.ts
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/popups/simple-popups.ts
  frontend/static/html/pages/settings.html
Labels: backend, frontend, waiting for review

#3312 Catalunya -> Cataluña
  frontend/static/languages/catalan.json
  frontend/static/languages/catalan_1k.json
  frontend/static/languages/spanish_10k.json
Labels: frontend, assets

#3314 Bump coverage
  backend/jest.config.ts
Labels: backend

#3313 Changed two typos in norwegian 10k
  frontend/static/languages/norwegian_10k.json
Labels: frontend, assets

#3316 remove dupe
  frontend/static/languages/spanish_10k.json
Labels: frontend, assets

#3323 Update italian.json
  frontend/static/quotes/italian.json
Labels: frontend, assets

#3327 Update Links to Use New Org Name
  SECURITY.md
  frontend/static/html/bottom.html
  frontend/static/html/pages/about.html
  frontend/static/security-policy.html
Labels: frontend, docs

#3328 Update CONTRIBUTING_BASIC.md
  CONTRIBUTING_BASIC.md
Labels: docs

#3322 spanish quotes: replaced en dash with `-`
  frontend/static/quotes/spanish.json
Labels: waiting for update, frontend, assets

#3319 Add code julia quotes
  frontend/static/quotes/code_julia.json
Labels: frontend, assets

#3321 add more Filipino quotes; changed Rizal quote to falsely attributed
  frontend/static/quotes/filipino.json
Labels: waiting for update, frontend, assets

#3329 Update German Quotes
  frontend/static/quotes/german.json
Labels: frontend, assets

#3337 add telugu language support
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/telugu.json
  frontend/static/languages/telugu_1k.json
Labels: frontend, assets

#3342 Added 3 quotes in italian.json
  frontend/static/quotes/italian.json
Labels: frontend, assets

#3308 Expanded English.json with more quotes
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#3345 fixed typo in newly added quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#3347 Changes edit to save
  frontend/src/ts/popups/edit-preset-popup.ts
  frontend/src/ts/popups/edit-tags-popup.ts
Labels: frontend

#3317 making profile endpoint accessible with ape keys and adding the relev…
  backend/src/api/routes/users.ts
  backend/src/documentation/public-swagger.json
Labels: waiting for update, backend, Stale

#3352 Changes in the profile
  frontend/src/styles/popups.scss
  frontend/static/html/popups.html
Labels: waiting for update, frontend

#3346 Test Project
  frontend/static/languages/britishenglish.json
  frontend/static/languages/indonesian_1k.json
Labels: waiting for update, frontend, Stale, assets

#3353 Added config for displaying the keymaps top row
  backend/src/api/schemas/config-schema.ts
  frontend/src/styles/keymap.scss
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/elements/commandline-lists.ts
  frontend/src/ts/elements/keymap.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/settings.html
Labels: backend, frontend

#3355 New quote added
  frontend/static/quotes/english.json
Labels: frontend, assets
