Repository monkeytypegame/monkeytype, pull requests merged in 2023-10, with the labels that each got.

#4677 fix: auto switch theme behavior & footer theme indicator
  frontend/src/ts/controllers/theme-controller.ts
  frontend/static/html/pages/settings.html
Labels: frontend

#4675 impr(quotes): add 6 quotes (aikooo7)
  frontend/static/quotes/english.json
Labels: frontend, assets

#4682 impr(quotes): add guilty gear quote (remalucard)
  frontend/static/quotes/english.json
Labels: frontend, assets

#4663 impr(commandline): scroll active entry into view when searchbar is empty (JayTailor45)
  frontend/src/ts/commandline/index.ts
Labels: frontend, waiting for review

#4668 impr(themes): update nord and purpurite (ehanahamed)
  frontend/static/themes/_list.json
  frontend/static/themes/nord.css
  frontend/static/themes/purpleish.css
  frontend/static/themes/purpurite.css
Labels: frontend, waiting for review, assets

#4679 impr(sound): add support for various error sounds (W0LFB0MB)
  backend/src/api/schemas/config-schema.ts
  frontend/src/ts/commandline/lists/sound-on-error.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/test/replay.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/settings.html
  frontend/static/sound/error1/error1_1.wav
  frontend/static/sound/error2/error2_1.wav
  frontend/static/sound/error3/error3_1.wav
Labels: waiting for update, backend, frontend

#4693 chore: fix nord.css syntax error (ridemountainpig)
  frontend/static/themes/nord.css
Labels: frontend, assets

#4687 impr: add notification for automatically turning off auto switch theme
  frontend/src/ts/controllers/theme-controller.ts
Labels: frontend

#4694 refactor(profile): notify that fields are too long before making a request to the server (sanidhyas3s)
  frontend/src/ts/popups/edit-profile-popup.ts
Labels: frontend

#4699 impr(quotes): Add 6 Orelsan's Quotes
  frontend/static/quotes/french.json
Labels: frontend, assets

#4680 feat(language): add English Shakespearean (risograph)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/english_shakespearean.json
Labels: waiting for update, frontend, assets

#4704 impr: add `emphasise` and related words to British English (Cucumberrbob)
  frontend/static/languages/britishenglish.json
Labels: frontend, assets

#4703 impr: detect development mode based on config instead of window.location
  CONTRIBUTING_ADVANCED.md
  backend/src/api/routes/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ts/ape/index.ts
  frontend/src/ts/constants/env-config.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/psa.ts
  frontend/src/ts/firebase.ts
  frontend/src/ts/pages/login.ts
  frontend/src/ts/popups/simple-popups.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/ui.ts
  frontend/src/ts/utils/logger.ts
  frontend/src/ts/utils/misc.ts
  frontend/webpack/config.base.js
Labels: waiting for update, backend, frontend, docs

#4728 docs: fix typos and grammatical errors (theranjitraut)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTING_ADVANCED.md
  CONTRIBUTING_BASIC.md
  LANGUAGES.md
  README.md
Labels: docs

#4729 impr(quotes): add lithuanian quotes (HubertasVin)
  frontend/static/quotes/lithuanian.json
Labels: waiting for update, frontend, assets

#4700 impr: notification cards redesign
  frontend/src/styles/notifications.scss
  frontend/src/ts/elements/notifications.ts
  frontend/static/languages/japanese_romaji.json
Labels: waiting for update, frontend, assets

#4741 impr(result): rework burst heatmap speed brackets (keenemeck)
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#4749 docs: add one key step to configure Firebase
  CONTRIBUTING_ADVANCED.md
Labels: docs
