Repository monkeytypegame/monkeytype, pull requests merged in 2023-12, with the labels that each got.

#4830 impr(languagues): add new words in language code_c++ (LifeAdventurer)
  frontend/static/languages/code_c++.json
Labels: frontend, assets

#4831 impr(quotes): add Spanish quotes [zft9xgy]
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#4824 impr: Add header validation, allow validation to accept unknown fields (fehmer)
  backend/src/api/routes/quotes.ts
  backend/src/middlewares/api-utils.ts
Labels: backend

#4838 fix(quotes): english quote 5510 (brainandforce)
  frontend/static/quotes/english.json
Labels: frontend, assets

#4836 perf: Improve leaderboard performance by adding better index (fehmer)
  backend/src/dal/leaderboards.ts
  backend/src/server.ts
Labels: backend

#4828 impr: remove non-profane word
  backend/src/constants/profanities.ts
Labels: backend

#4840 test: Add test coverage for leaderboard update (fehmer)
  backend/__tests__/dal/leaderboards.spec.ts
  backend/__tests__/dal/public.spec.ts
  backend/src/dal/leaderboards.ts
Labels: backend

#4841 perf: improve leaderboard aggregation (fehmer)
  backend/__tests__/dal/public.spec.ts
  backend/jest-mongodb-config.js
  backend/src/dal/leaderboards.ts
  backend/src/dal/public.ts
  backend/src/types/types.d.ts
Labels: backend

#4856 fix(about): "amount" to "number" (borisnezlobin)
  frontend/static/html/pages/about.html
Labels: frontend

#4843 feat(languages): add rockstar code language (pablos123)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_rockstar.json
Labels: frontend, assets

#4853 docs: fix pr template wording (unrealapex)
  .github/pull_request_template.md
Labels: waiting for update

#4852 fix(ci): update formatting workflow commit message (unrealapex)
  .github/workflows/pretty-fix.yml
Labels: waiting for update

#4850 impr(quotes): add Spanish quotes (KANGRIZ)
  frontend/static/quotes/spanish.json
Labels: waiting for update, frontend, assets

#4874 feat(languages): add code nix (yunfachi)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_nix.json
Labels: frontend, assets

#4872 fix: update the background image and hide the scrollbar in the funbox space_balls (yunfachi)
  frontend/static/funbox/space_balls.css
Labels: frontend, assets

#4866 feat(layouts): add semimak jqc (MasterRon)
  frontend/static/layouts/_list.json
Labels: frontend, assets
