Repository monkeytypegame/monkeytype, pull requests merged in 2023-08, with the labels that each got.

#4497 added middlemak and middlemak-nh
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4499 ci(frontend/scripts): print expected quote length
  frontend/scripts/json-validation.js
Labels: frontend

#4498 Add golang quotes
  frontend/static/quotes/code_go.json
Labels: frontend, assets

#4493 added uzbek_70k words
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/uzbek_70k.json
Labels: waiting for update, frontend, assets

#4500 Added Overpass Mono Font
  frontend/src/styles/fonts.scss
  frontend/static/fonts/_list.json
  frontend/static/webfonts/OverpassMono-VariableFont_wght.ttf
Labels: frontend, assets

#4492 Added configuration for typing speed unit, removed alwaysShowCPM
  backend/src/api/schemas/config-schema.ts
  frontend/src/ts/account/pb-tables.ts
  frontend/src/ts/commandline/commands.ts
  frontend/src/ts/commandline/lists/always-show-cpm.ts
  frontend/src/ts/commandline/lists/show-average.ts
  frontend/src/ts/commandline/lists/typing-speed-unit.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/test/live-burst.ts
  frontend/src/ts/test/live-wpm.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/typing-speed-units.ts
  frontend/static/html/pages/settings.html
Labels: backend, frontend

#4502 Renamed live wpm to live speed, min wpm to min speed (no non-user facing changes)
  frontend/src/ts/commandline/lists/live-wpm.ts
  frontend/src/ts/commandline/lists/min-burst.ts
  frontend/src/ts/commandline/lists/min-wpm.ts
  frontend/src/ts/commandline/lists/pace-caret.ts
  frontend/src/ts/config.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/test/test-timer.ts
  frontend/static/html/pages/settings.html
Labels: frontend

#4505 Quotes and words in Kannada language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/kannada.json
  frontend/static/quotes/english.json
  frontend/static/quotes/kannada.json
Labels: frontend, assets

#4508 Couldn't see `monkey see` in rainbow trail theme
  frontend/static/themes/rainbow_trail.css
Labels: frontend, assets

#4510 Fixed rainbow trail theme to support custom backgrounds
  frontend/static/themes/rainbow_trail.css
Labels: frontend, assets

#4511 Fix minWpm on accounts history graph, set ticks on accounts activity …
  frontend/src/ts/pages/account.ts
  frontend/src/ts/utils/typing-speed-units.ts
Labels: frontend

#4514 Add Hack Nerd Font.
  frontend/src/styles/fonts.scss
  frontend/static/fonts/_list.json
  frontend/static/webfonts/HackNerdFont-Regular.ttf
Labels: frontend, assets

#4506 add ThePrimeagen's Programmer Dvorak layout
  frontend/static/layouts/_list.json
Labels: waiting for update, frontend, assets

#4488 refactor funbox
  frontend/src/styles/test.scss
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/src/ts/test/funbox/funbox-validation.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/funbox/tts.css
Labels: waiting for update, frontend, assets

#4507 Updated the overlay text of the screenshot button
  frontend/src/ts/commandline/lists/result-screen.ts
  frontend/static/html/pages/test.html
Labels: waiting for update, frontend

#4516 Added highlight modes next word, next two words and next three words
  backend/src/api/schemas/config-schema.ts
  frontend/src/styles/settings.scss
  frontend/src/styles/test.scss
  frontend/src/ts/commandline/lists/highlight-mode.ts
  frontend/src/ts/config.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/settings.html
Labels: backend, frontend

#4530 chore: Update TSConfig and Docker Compose
  backend/docker-compose.yml
  backend/package-lock.json
  backend/package.json
  backend/tsconfig.json
Labels: backend

#4528 fix: spelling mistakes in Nepali wordlist and quotes
  frontend/static/languages/nepali.json
  frontend/static/languages/nepali_1k.json
  frontend/static/quotes/nepali.json
Labels: frontend, assets

#4543 docs: contributing advanced docs updated
  CONTRIBUTING_ADVANCED.md
Labels: docs

#4557 fix: crt funbox causes webkit browsers to go into refresh loop (fehmer)
  frontend/src/ts/test/funbox/funbox.ts
  frontend/static/funbox/crt.css
Labels: frontend, assets

#4519 impr: show min speed if not qualified for daily lb
  backend/src/utils/daily-leaderboards.ts
  frontend/src/ts/elements/leaderboards.ts
Labels: waiting for update, backend, frontend

#4567 refactor: add response data generic type
  frontend/src/ts/ape/adapters/axios-adapter.ts
  frontend/src/ts/ape/endpoints/ape-keys.ts
  frontend/src/ts/ape/endpoints/configs.ts
  frontend/src/ts/ape/endpoints/leaderboards.ts
  frontend/src/ts/ape/endpoints/presets.ts
  frontend/src/ts/ape/endpoints/psas.ts
  frontend/src/ts/ape/endpoints/public.ts
  frontend/src/ts/ape/endpoints/quotes.ts
  frontend/src/ts/ape/endpoints/results.ts
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/ape/types/ape.d.ts
  frontend/src/ts/ape/utils.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/psa.ts
Labels: frontend

#4569 fix(language): correct swiss german 1k capitalization (rabbit3c)
  frontend/static/languages/swiss_german_1k.json
  frontend/static/languages/swiss_german_2k.json
Labels: frontend, assets

#4575 refactor: replace 'substr' with 'slice'
  frontend/package-lock.json
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/utils/misc.ts
  frontend/static/challenges/sourcecode.txt
Labels: frontend, assets

#4577 impr(quote search): add pagination to search results (Shuja-Mahmood)
  frontend/src/styles/popups.scss
  frontend/src/ts/popups/quote-search-popup.ts
  frontend/static/html/popups.html
Labels: frontend

#4580 feat(quote): add Thai quotes
  frontend/static/quotes/thai.json
Labels: frontend, assets

#4590 impr(layout): add hungarian layout (BarniExe)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4595 impr(quote): add quote (Technet8394)
  frontend/static/quotes/english.json
Labels: frontend, assets
