Repository monkeytypegame/monkeytype, pull requests merged in 2023-05, with the labels that each got.

#4242 Add Scandinavian Layouts (QWERTY-Nordic)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4236 Added Italian Quotes
  frontend/static/quotes/italian.json
Labels: frontend, assets

#4240 Bugfixing some swiss german words
  frontend/static/languages/swiss_german_2k.json
Labels: frontend, assets

#4246 Fixed Settings Sound-on-Click Preview - Sine, Sawtooth, Square, Triangle
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/pages/settings.ts
Labels: frontend

#4158 Update `PersonalBests` Interface
  backend/__tests__/dal/user.spec.ts
  backend/src/api/controllers/user.ts
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
  frontend/src/ts/constants/default-snapshot.ts
  frontend/src/ts/db.ts
  frontend/src/ts/popups/edit-tags-popup.ts
  frontend/src/ts/popups/pb-tables-popup.ts
  frontend/src/ts/popups/simple-popups.ts
  frontend/src/ts/types/types.d.ts
Labels: backend, frontend, waiting for review

#4253 Add Thai quotes
  frontend/static/quotes/thai.json
Labels: waiting for update, frontend, assets

#4258 Word generation rewrite
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/test/weak-spot.ts
  frontend/src/ts/test/words-generator.ts
  frontend/src/ts/test/wordset.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend

#4259 Language turkish 5k edit
  frontend/static/languages/turkish_5k.json
Labels: frontend, assets

#4261 Added English Quotes
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#4264 Added french quotes
  frontend/static/quotes/french.json
Labels: waiting for update, frontend, assets

#4105 Custom mode pipe delimiter: section count mode
  frontend/src/ts/popups/custom-text-popup.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-words.ts
  frontend/src/ts/test/timer-progress.ts
  frontend/src/ts/test/words-generator.ts
  frontend/static/html/popups.html
Labels: frontend

#4274 Added pace caret style -> off, background size, and background filter settings to the command line.
  frontend/src/ts/commandline/commands.ts
  frontend/src/ts/commandline/lists/background-filter.ts
  frontend/src/ts/commandline/lists/background-size.ts
  frontend/src/ts/commandline/lists/pace-caret-style.ts
  frontend/src/ts/config-validation.ts
Labels: waiting for update, frontend

#4287 fix: disable autocomplete on MacOS in Safari
  frontend/static/html/pages/test.html
Labels: frontend

#4279 Backgrounds in Theme URLs
  frontend/src/styles/popups.scss
  frontend/src/ts/popups/share-custom-theme-popup.ts
  frontend/src/ts/settings/theme-picker.ts
  frontend/src/ts/utils/url-handler.ts
  frontend/static/html/popups.html
Labels: frontend, waiting for review

#4277 Language turkish 5k edit
  frontend/static/languages/turkish_5k.json
Labels: waiting for update, frontend, assets

#4289 Add simplified chinese language support
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/chinese_simplified.json
  frontend/static/languages/chinese_simplified_100k.json
  frontend/static/languages/chinese_simplified_10k.json
  frontend/static/languages/chinese_simplified_1k.json
  frontend/static/languages/chinese_simplified_50k.json
  frontend/static/languages/chinese_simplified_5k.json
Labels: frontend, assets

#4293 Added portuguese quote
  frontend/static/quotes/portuguese.json
Labels: frontend, assets

#4294 added six italian quotes
  frontend/static/quotes/italian.json
Labels: frontend, assets

#4296 Norwegian nynorsk edited
  frontend/static/languages/norwegian_nynorsk.json
  frontend/static/languages/norwegian_nynorsk_10k.json
  frontend/static/languages/norwegian_nynorsk_1k.json
  frontend/static/languages/norwegian_nynorsk_5k.json
Labels: frontend, assets

#4292 added english quote
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#4301 Two New Spanish quotes
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#4298 removed duplicates
  frontend/static/quotes/english.json
Labels: frontend, assets

#4309 Just fixed a simple typo
  frontend/static/quotes/french.json
Labels: frontend, assets

#4306 Fixed an typo at the documentation of monkeytype api
  backend/src/documentation/public-swagger.json
Labels: backend

#4303 more duplicates removed
  frontend/static/quotes/english.json
Labels: frontend, assets

#4311 final duplicates removed
  frontend/static/quotes/english.json
Labels: frontend, assets

#4313 added italian quotes
  frontend/static/quotes/italian.json
Labels: frontend, assets

#4316 Revert "More English quotes"
  frontend/english.json
Labels: frontend

#4097 Force `mode2` to always be string
  backend/src/api/controllers/public.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/users.ts
  backend/src/api/schemas/result-schema.ts
  backend/src/dal/public.ts
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
  backend/src/utils/pb.ts
  backend/src/utils/prometheus.ts
  backend/src/utils/validation.ts
  frontend/src/ts/account/pb-tables.ts
  frontend/src/ts/account/result-filters.ts
  frontend/src/ts/ape/endpoints/leaderboards.ts
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/popups/pb-tables-popup.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/types/types.d.ts
Labels: waiting for update, backend, frontend, Stale

#4318 Added Italian Quotes
  frontend/static/quotes/italian.json
Labels: frontend, assets

#4320 removed duplicate spanish quote
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#4323 removed duplicate german quote
  frontend/static/quotes/german.json
Labels: frontend, assets

#4332 solve Yesterday appear in all time leaderboard #4331
  frontend/src/ts/elements/leaderboards.ts
Labels: frontend

#4324 added more italian quotes
  frontend/static/quotes/italian.json
Labels: frontend, assets

#4334 Add "Greeklish"
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/greeklish.json
  frontend/static/languages/greeklish_10k.json
  frontend/static/languages/greeklish_1k.json
  frontend/static/languages/greeklish_25k.json
  frontend/static/languages/greeklish_5k.json
Labels: frontend, assets

#4325 Update _list.json - Added graphite keymap layouts
  frontend/static/layouts/_list.json
Labels: waiting for update, frontend, assets
