Repository monkeytypegame/monkeytype, pull requests merged in 2023-09, with the labels that each got.

#4620 fix: use appropriate fallback fonts (SethFalco)
  backend/private/style.css
  frontend/src/styles/core.scss
  frontend/src/styles/nav.scss
  frontend/src/ts/config.ts
Labels: backend, frontend

#4596 feat(custom text): add support for importing text from file (Shuja-Mahmood)
  frontend/src/styles/popups.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/popups/custom-text-popup.ts
  frontend/static/html/popups.html
Labels: waiting for update, frontend

#4606 impr(language): rework malay (kopipahit-1)
  frontend/static/languages/_list.json
  frontend/static/languages/malay.json
Labels: waiting for update, frontend, assets

#4607 feat(language): add malay 1k (kopipahit-1)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/malay_1k.json
Labels: waiting for update, frontend, assets

#4621 chore: use docker compose v2 (SethFalco)
  CONTRIBUTING_ADVANCED.md
  package.json
Labels: docs

#4609 impr(language): rework chinese simplified word lists (xudongzheng)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/chinese_simplified.json
  frontend/static/languages/chinese_simplified_100k.json
  frontend/static/languages/chinese_simplified_10k.json
  frontend/static/languages/chinese_simplified_1k.json
  frontend/static/languages/chinese_simplified_50k.json
  frontend/static/languages/chinese_simplified_5k.json
Labels: frontend, assets

#4614 impr(quote): Add a quote
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#4618 impr(account page): change time typing unit to minutes on the activity chart (fehmer)
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/pages/account.ts
Labels: frontend

#4619 fix(custom text): resolve incorrect loading of custom text with pipes
  frontend/src/ts/popups/saved-texts-popup.ts
Labels: frontend

#4622 impr(layout): add estonian layout
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4624 impr(quote): Added three english and three hindi quotes
  frontend/static/quotes/english.json
  frontend/static/quotes/hindi.json
Labels: waiting for update, frontend, assets

#4627 impr(quote): add quote (drdilyor)
  frontend/static/quotes/english.json
Labels: frontend, assets

#4644 fix: inconsistent caps lock warning message (fehmer)
  frontend/src/ts/test/caps-warning.ts
Labels: frontend

#4646 impr(quote): add thicc english quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#4649 chore: update jQuery to 3.7.1
  .eslintrc.json
  frontend/src/ts/commandline/index.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/notifications.ts
  frontend/src/ts/elements/scroll-to-top.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/pages/test.ts
  frontend/src/ts/popups/custom-test-duration-popup.ts
  frontend/src/ts/popups/quote-rate-popup.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/static/email-handler.html
  frontend/static/js/easing-1.4.1.min.js
  frontend/static/js/easing.min.js
  frontend/static/js/jquery-3.5.1.min.js
  frontend/static/js/jquery-3.7.1.min.js
  frontend/static/main.html
Labels: waiting for update, frontend

#4651 feat: Added german_dvorak_imp layout
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4655 impr(layout): add noted layout (dariogoetz)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4656 fix(layout): incorrect mine layout middle row (dariogoetz)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4652 impr: increase favicon quality by using svg (fehmer)
  frontend/src/ts/controllers/theme-controller.ts
  frontend/static/html/head.html
  frontend/static/images/favicon/favicon.svg
Labels: frontend

#4648 fix(custom text): custom text not treated as raw string
  frontend/src/ts/popups/custom-text-popup.ts
  frontend/static/html/popups.html
Labels: frontend

#4664 fix(quote): fix english quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#4665 fix(quote): delete unecessary double tabs in Java quote (alyoro)
  frontend/static/quotes/code_java.json
Labels: frontend, assets

#4654 impr(quotes): add french quotes (johan-perso)
  frontend/static/quotes/french.json
Labels: waiting for update, frontend, assets

#4667 fix: save confidence mode after setting stopOnError and vice versa
  frontend/src/ts/config.ts
Labels: frontend
