Repository monkeytypegame/monkeytype, pull requests merged in 2023-01, with the labels that each got.

#3825 Fix wrong Dutch word
  frontend/static/languages/dutch_1k.json
Labels: frontend, Stale, assets

#3838 adding the WPM to the daily leaderboard message
  backend/src/jobs/announce-daily-leaderboards.ts
Labels: backend, Stale

#3847 Add purpurite theme
  frontend/static/themes/_list.json
  frontend/static/themes/purpurite.css
Labels: frontend, Stale, assets

#3855 Adding new Ukrajins'ka latynka language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/ukrainian_latynka.json
  frontend/static/languages/ukrainian_latynka_10k.json
  frontend/static/languages/ukrainian_latynka_1k.json
  frontend/static/languages/ukrainian_latynka_50k.json
  frontend/static/languages/ukrainian_latynka_endings.json
Labels: frontend, assets

#3857 Update Mine layout
  frontend/static/layouts/_list.json
Labels: frontend, Stale, assets

#3862 add `code-latex`
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_latex.json
Labels: frontend, assets

#3867 House keeping
  .github/workflows/monkey-ci.yml
  frontend/static/html/pages/settings.html
Labels: frontend

#3872 Added 3 english quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3875 Add R (2k) language (code)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_r_2k.json
Labels: frontend, assets

#3880 Add tabs to js quote 24
  frontend/static/quotes/code_javascript.json
Labels: frontend, assets

#3881 correct length for js quote 24
  frontend/static/quotes/code_javascript.json
Labels: frontend, assets

#3874 Update english.json
  frontend/static/quotes/english.json
Labels: frontend, assets

#3858 create new theme: note dark
  frontend/static/themes/_list.json
  frontend/static/themes/note_dark.css
Labels: waiting for update, frontend, assets

#3837 Ignore modifier keys for test autofocus
  frontend/src/ts/constants/modifier-keys.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/static/html/pages/test.html
Labels: waiting for update, frontend

#3829 swiss_german_2k.json more words for Swiss
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/swiss_german_2k.json
Labels: waiting for update, frontend, Stale, assets

#3887 Add support for Swiss Keyboard layout in ch-de and ch-fr varieties
  frontend/static/layouts/_list.json
Labels: frontend, assets

#3890 Fix letter i in ukrajins'ka latynka
  frontend/static/languages/ukrainian_latynka.json
  frontend/static/languages/ukrainian_latynka_10k.json
  frontend/static/languages/ukrainian_latynka_1k.json
  frontend/static/languages/ukrainian_latynka_50k.json
  frontend/static/languages/ukrainian_latynka_endings.json
Labels: frontend, assets

#3891 fix wpm requirement for Antidise-what?
  frontend/static/challenges/_list.json
Labels: frontend, assets

#3856 Added quotes
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#3895 Add audio fade to remove audible 'pop' within sine's sound-on-click
  frontend/src/ts/controllers/sound-controller.ts
Labels: frontend

#3896 More Latin vocab and more
  frontend/static/fonts/_list.json
  frontend/static/languages/latin.json
  frontend/static/quotes/latin.json
Labels: frontend, assets

#3897 Addition of multiple Baby Driver quotes in English
  frontend/static/quotes/english.json
Labels: frontend, assets

#3886 add new theme: dark note
  frontend/static/themes/_list.json
  frontend/static/themes/dark_note.css
Labels: waiting for update, frontend, assets

#3898 Added Beep Boop as a challenge
  frontend/static/challenges/_list.json
  frontend/static/challenges/beepboop.txt
  frontend/static/quotes/latin.json
Labels: frontend, assets

#3865 Adding customStyle property to 'Command' object interface
  frontend/src/styles/commandline.scss
  frontend/src/ts/commandline/commands.ts
  frontend/src/ts/commandline/index.ts
  frontend/src/ts/commandline/lists/font-family.ts
  frontend/src/ts/commandline/lists/themes.ts
  frontend/src/ts/types/types.d.ts
Labels: waiting for update, frontend

#3899 Norwegian Quotes
  frontend/static/quotes/norwegian.json
Labels: frontend, assets

#3903 theme dark note: fix word history display
  frontend/static/themes/dark_note.css
Labels: frontend, assets

#3852 funbox: gave IPv6 addresses' parts leading zeros
  frontend/src/ts/test/ip-addresses.ts
Labels: waiting for update, frontend

#3906 Added Language Yiddish
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/yiddish.json
Labels: waiting for update, frontend, assets

#3915 Add an upside down mode to the Funbox
  backend/src/constants/funbox.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/static/funbox/_list.json
  frontend/static/funbox/upside_down.css
Labels: backend, frontend, assets

#3919 Quote added
  frontend/static/quotes/english.json
Labels: frontend, assets

#3920 Quotes in Ukrainian
  frontend/static/quotes/ukrainian.json
Labels: frontend, assets

#3926 Add Lithuanian quote
  frontend/static/quotes/lithuanian.json
Labels: frontend, assets

#3927 Add HiYou (Keyboard Layout)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#3929 Add flavours to British English
  frontend/static/languages/britishenglish.json
Labels: frontend, assets

#3930 Add Ukrainian quotes, fix small errors
  frontend/static/quotes/ukrainian.json
Labels: frontend, assets

#3935 Added quote to spanish.json with ID=193
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#3934 Add Catalog and related declensions to British
  frontend/static/languages/britishenglish.json
Labels: frontend, assets

#3933 Add stricter typing to configuration
  backend/src/constants/base-configuration.ts
Labels: backend

#3941 Add five Swedish quotes
  frontend/static/quotes/swedish.json
Labels: frontend, assets

#3943 add backup font-family "sans-serif"
  frontend/src/styles/core.scss
Labels: frontend

#3944 Fix french punctuation typo - missing space
  frontend/static/quotes/french.json
Labels: frontend, assets

#3945 [Snyk] Security upgrade simple-git from 3.15.0 to 3.16.0
  backend/package-lock.json
  backend/package.json
Labels: backend

#3946 Typos i made
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#3925 Make quote actions not break with c++ language
  backend/src/api/routes/quotes.ts
Labels: waiting for update, backend, Stale

#3949 Add typescript support for jest
  backend/__tests__/setup-tests.ts
  backend/__tests__/tsconfig.json
  backend/jest.config.ts
Labels: backend

#3954 Three Portal 2 quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#3947 Additional Latin quotes.
  frontend/static/quotes/latin.json
Labels: frontend, assets

#3953 Added 7 quotes on spanish
  frontend/static/quotes/spanish.json
Labels: waiting for update, frontend, assets
