Repository monkeytypegame/monkeytype, pull requests merged in 2023-02, with the labels that each got.

#3976 Nit: Update all-time-stats.ts
  frontend/src/ts/account/all-time-stats.ts
Labels: frontend

#3972 Fixed issue #3971 - active theme selection is properly removed
  frontend/src/ts/settings/theme-picker.ts
Labels: frontend

#3973 improve password length check
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/pages/login.ts
  frontend/src/ts/popups/simple-popups.ts
  frontend/src/ts/utils/misc.ts
  frontend/static/email-handler.html
Labels: frontend

#3977 fixed typos in uzbek 1k
  frontend/static/languages/uzbek_1k.json
Labels: frontend, assets

#3974 added estonian quotes
  frontend/static/quotes/estonian.json
Labels: waiting for update, frontend, assets

#3975 Added 10 new quotes to the German pool
  frontend/static/quotes/german.json
Labels: waiting for update, frontend, assets

#3978 Add nord light theme
  frontend/static/themes/_list.json
  frontend/static/themes/nord_light.css
Labels: frontend, assets

#3979 add sturdy ortho keyboard layout
  frontend/static/layouts/_list.json
Labels: waiting for update, frontend, assets

#3970 New Sound on Click - Pentatonic Scale
  backend/src/api/schemas/config-schema.ts
  frontend/src/ts/commandline/lists/sound-on-click.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/settings.html
Labels: waiting for update, backend, frontend

#3982 Adding a light color theme "slambook".
  frontend/static/themes/_list.json
  frontend/static/themes/slambook.css
Labels: frontend, assets

#3988 quote - NaD
  frontend/static/quotes/english.json
Labels: frontend, assets

#3994 fix: Add about page supporters/contributors references
  frontend/static/html/pages/about.html
Labels: frontend

#3997 Added one English quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#4007 Made wording better
  frontend/static/privacy-policy.html
Labels: frontend

#4005 Added binary mode to funbox
  backend/src/constants/funbox.ts
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/utils/misc.ts
  frontend/static/funbox/_list.json
Labels: backend, frontend, assets

#4010 Changed event on hiding popups to be mousedown
  frontend/src/ts/commandline/index.ts
  frontend/src/ts/popups/edit-profile-popup.ts
  frontend/src/ts/popups/quote-search-popup.ts
Labels: frontend

#3939 Add weekly xp rewards results job
  backend/__tests__/utils/misc.spec.ts
  backend/src/queues/later-queue.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/utils/misc.ts
  backend/src/workers/later-worker.ts
Labels: backend, Stale

#4015 Add `rel="me"` attributes to links on profile page
  frontend/src/ts/elements/profile.ts
Labels: frontend

#4018 Add word filter presets
  frontend/src/styles/popups.scss
  frontend/src/ts/popups/word-filter-popup.ts
  frontend/static/html/popups.html
Labels: frontend

#4017 Add Traditional Chinese language
  frontend/static/languages/chinese_traditional.json
Labels: frontend, assets

#4019 feat: support Emacs/Vim navigation in command line
  frontend/src/ts/commandline/index.ts
Labels: frontend

#4020 Added quotes 544 - 548
  frontend/static/quotes/german.json
Labels: frontend, assets

#4021 Remove leading and trailing spaces in custom popup
  frontend/src/ts/popups/custom-text-popup.ts
Labels: frontend

#4026 Fix ESLint Error
  .eslintrc.json
  package.json
Labels: waiting for review

#4024 Added quoters (id: 10, id 11) to code_c.JSON
  frontend/static/quotes/code_c.json
Labels: frontend, assets

#4016 Added ability to opt out of leaderboards
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/dal/user.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/types/types.d.ts
  frontend/src/styles/settings.scss
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/popups/simple-popups.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/settings.html
Labels: backend, frontend
