Repository monkeytypegame/monkeytype, pull requests merged in 2023-04, with the labels that each got.

#4128 Remove duplicate quote and fix quote `id` increment
  frontend/static/quotes/english.json
Labels: frontend, assets

#4135 Revert "Remove duplicate quote and fix quote `id` increment"
  frontend/static/quotes/english.json
Labels: frontend, assets

#4113 Update `dynamic` Keymap Legend Style to More Accurately Reflect Casing
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/test/shift-tracker.ts
Labels: frontend, waiting for review

#4127 fix word Kiev -> Kyiv
  frontend/static/languages/chinese_traditional.json
  frontend/static/languages/english_25k.json
  frontend/static/languages/turkish_1k.json
Labels: frontend, assets

#4129 Systemverilog quotes
  frontend/static/quotes/code_systemverilog.json
Labels: frontend, assets

#4136 Remove duplicate quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#4139 Fixed Inconsistencies with Avatar Quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#4140 Typo: Fixes #4137
  frontend/static/privacy-policy.html
Labels: frontend

#4141 Fix duration ordering and new algorithm for key overlap
  frontend/src/ts/test/test-input.ts
  frontend/src/ts/test/test-logic.ts
Labels: frontend

#4143 Add code lua quotes
  frontend/static/quotes/code_lua.json
Labels: frontend, assets

#4144 fix: added missing dot to quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#4145 Add Xenia Layout
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4123 Add German Quotes
  frontend/static/quotes/german.json
Labels: waiting for update, frontend, assets

#4152 add ukrainian quotes
  frontend/static/quotes/ukrainian.json
Labels: waiting for update, frontend, assets

#4119 Additional Turkish Quotes, language edit 1k, Turkish 5k new file
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/turkish_1k.json
  frontend/static/languages/turkish_5k.json
  frontend/static/quotes/turkish.json
Labels: waiting for update, frontend, assets

#4154 Added english quotes & fixed indentation
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#4162 REMOVE: Redundant comment in CSS
  frontend/src/styles/caret.scss
  frontend/src/styles/test.scss
Labels: frontend

#4164 Hebrew layout
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4167 Update German quotes
  frontend/static/quotes/german.json
Labels: frontend, assets

#4159 Added english quotes
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#4171 New english quote "_"
  frontend/static/quotes/english.json
Labels: frontend, assets

#4178 Fix spelling and remove misspelt repeated word
  frontend/static/languages/hinglish.json
Labels: frontend, assets

#4175 Language turkish 5k edit
  frontend/static/languages/turkish_5k.json
Labels: frontend, assets

#4179 Fix About Page Leaderboard Typo
  frontend/static/html/pages/about.html
Labels: frontend

#4174 Added Marathi
  frontend/static/languages/marathi.json
  frontend/static/quotes/marathi.json
Labels: waiting for update, frontend, assets

#4177 Added Swedish quotes
  frontend/static/quotes/swedish.json
Labels: waiting for update, frontend, assets

#4180 Afrikaans Quotes
  frontend/static/languages/afrikaans_10k.json
  frontend/static/quotes/afrikaans.json
Labels: waiting for update, frontend, assets

#4188 Update C# Keywords
  frontend/static/languages/code_csharp.json
Labels: frontend, assets

#4191 Add Typing of the Dead language
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/typing_of_the_dead.json
Labels: frontend, assets

#4192 Add Otis' monologue quote
  frontend/static/quotes/french.json
Labels: frontend, assets

#4193 Added two french quotes
  frontend/static/quotes/french.json
Labels: waiting for update, frontend, assets

#4197 Remove some more phrases and blank lines
  frontend/static/languages/typing_of_the_dead.json
Labels: frontend, assets

#4203 fix:#4124 graph buttons are now toggles
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/pages/account.ts
Labels: waiting for update, frontend

#4201 IBM Plex Mono Font
  frontend/src/styles/fonts.scss
  frontend/static/fonts/_list.json
  frontend/static/webfonts/IBMPlexMono-Regular.ttf
Labels: waiting for update, frontend, assets

#4206 Language turkish 5k edit
  frontend/static/languages/turkish_5k.json
Labels: frontend, assets

#4213 add more common properties/values to code_css
  frontend/static/languages/code_css.json
Labels: frontend, assets

#4215 Add GDScript 2.0 programming language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_gdscript_2.json
Labels: frontend, assets

#4207 More Afrikaans quotes, and poems
  frontend/static/quotes/afrikaans.json
Labels: waiting for update, frontend, assets

#4195 Update uzbek.json
  frontend/static/languages/uzbek.json
  frontend/static/languages/uzbek_1k.json
Labels: waiting for update, frontend, assets

#4221 fix: #4100
  frontend/static/challenges/_list.json
  frontend/static/challenges/beepboop.txt
Labels: frontend, assets

#4226 add: new quotes from The Knight in Rusty Armour
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#4231 Remove daily lb cache
  backend/__tests__/utils/daily-leaderboards.spec.ts
  backend/src/constants/base-configuration.ts
  backend/src/server.ts
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
Labels: backend
