Repository monkeytypegame/monkeytype, pull requests merged in 2023-03, with the labels that each got.

#4032 Breeze Theme
  frontend/static/themes/_list.json
  frontend/static/themes/breeze.css
Labels: frontend, assets

#4033 Add one quote to English
  frontend/static/quotes/english.json
Labels: frontend, assets

#4034 added one new quote in English
  frontend/static/quotes/english.json
Labels: frontend, assets

#4037 Remove comma
  frontend/static/security-policy.html
Labels: frontend

#4038 Add layout gallium and angle variant
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4039 Added 12 quotes to english.json - 6771-6782
  frontend/static/quotes/english.json
Labels: frontend, assets

#4043 fix gallium punctuation
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4042 Organize imports to remove duplicate imports
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/test/result.ts
Labels: frontend

#4048 Added new German quotes
  frontend/static/quotes/german.json
Labels: frontend, assets

#4052 Update code_lua.json
  frontend/static/languages/code_lua.json
Labels: frontend, assets

#4053 Update russian.json
  frontend/static/quotes/russian.json
Labels: frontend, assets

#4054 Update code_luau.json
  frontend/static/languages/code_luau.json
Labels: frontend, assets

#4058 Remove the (non-)word "tion" from the English 10k word list
  frontend/static/languages/english_10k.json
Labels: frontend, assets

#4062 Add three quotes to English
  frontend/static/quotes/english.json
Labels: frontend, assets

#4059 add maya and nila layouts
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4057 added cherry blossom theme
  frontend/static/themes/_list.json
  frontend/static/themes/cherry_blossom.css
Labels: frontend, assets

#4068 Added 3 quotes to spanish.json
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#4074 Change spelling of neighbouring to neighboring
  frontend/static/languages/britishenglish.json
  frontend/static/languages/english_5k.json
Labels: frontend, assets

#4072 Added swedish with words all containing å, ä or ö.
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/swedish_diacritics.json
Labels: frontend, assets

#4075 chore(keymap): added mongolian keymap
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4076 Added plus three funbox
  backend/src/api/controllers/result.ts
  backend/src/constants/funbox.ts
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/static/funbox/_list.json
Labels: backend, frontend, assets

#4049 Account graph
  backend/src/api/schemas/config-schema.ts
  frontend/src/styles/account.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/misc.ts
  frontend/static/html/pages/account.html
Labels: backend, frontend

#4078 Fix pb line
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/pages/account.ts
Labels: frontend

#4081 Use the `<kbd>` tag instead of markdown code backticks
  CONTRIBUTING_ADVANCED.md
Labels: docs

#4084 Implemented an ITG arrow mode to the funbox
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/utils/misc.ts
  frontend/static/funbox/_list.json
Labels: frontend, assets

#4086 Require `===` and `!==` in Backend
  .eslintrc.json
  backend/src/api/controllers/result.ts
  backend/src/dal/new-quotes.ts
  backend/src/dal/user.ts
Labels: backend

#4088 Added minimak keymaps
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4092 Average line(s) are incorrectly displayed
  frontend/src/ts/controllers/chart-controller.ts
Labels: frontend

#4096 Fonts: Add Cascadia Mono
  frontend/src/styles/fonts.scss
  frontend/static/fonts/_list.json
  frontend/static/webfonts/CascadiaMono-Regular.ttf
Labels: frontend, assets

#4085 Added quotes from Hamilton musical play
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#4104 Update danish_10k.json
  frontend/static/languages/danish_10k.json
Labels: frontend, assets

#4107 add mr.rogers quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#4101 Admin auth
  backend/src/api/controllers/admin.ts
  backend/src/api/routes/admin.ts
  backend/src/api/routes/index.ts
  backend/src/dal/admin-uids.ts
  backend/src/middlewares/api-utils.ts
  backend/src/middlewares/auth.ts
Labels: backend

#4110 Update Czech words
  frontend/static/languages/czech_10k.json
  frontend/static/languages/czech_1k.json
Labels: frontend, assets

#4111 Add German Quotes
  frontend/static/quotes/german.json
Labels: frontend, assets

#4115 Add Gallaya Layout(s)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4122 "Arrows" funbox starts with left/right only
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend
