Repository monkeytypegame/monkeytype, pull requests merged in 2023-06, with the labels that each got.

#4339 Fix persistent CapsLock message being displayed
  frontend/src/ts/test/caps-warning.ts
Labels: frontend

#4341 Update russian_10k.json
  frontend/static/languages/russian_10k.json
Labels: frontend, assets

#4335 Update turkish_5k.json
  frontend/static/languages/turkish_5k.json
Labels: frontend, assets

#4336 Added English Quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#4322 Zen mode - removes extra newlines if backspace ends up on a newline
  frontend/src/ts/controllers/input-controller.ts
Labels: waiting for update, frontend

#4352 updates word count when backspacing words in zen mode
  frontend/src/ts/controllers/input-controller.ts
Labels: waiting for update, frontend

#4358 Fixed wrong scale when displaying accuracy average line chart
  frontend/src/ts/controllers/chart-controller.ts
Labels: frontend

#4372 removed 'capitilise' from the code_python language
  frontend/static/languages/code_python.json
Labels: frontend, assets

#4357 Streak hour offset
  backend/__tests__/dal/user.spec.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/dal/user.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  frontend/src/styles/popups.scss
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/constants/default-snapshot.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/index.ts
  frontend/src/ts/popups/set-streak-hour-offset.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/account.html
  frontend/static/html/pages/settings.html
  frontend/static/html/popups.html
Labels: backend, frontend

#4362 I added 6 quotes of Prophet Muhammad for Monkeytype.
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#4373 Adding Tanglish Language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/tanglish.json
Labels: frontend, assets

#4374 split smoothCaret into several modes
  backend/src/api/schemas/config-schema.ts
  frontend/src/ts/commandline/lists/smooth-caret.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/db.ts
  frontend/src/ts/test/caret.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/settings.html
Labels: backend, frontend

#4369 Josiah quotes
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#4385 added english quote!
  frontend/static/quotes/english.json
Labels: frontend, assets

#4376 Strict equality migration
  frontend/src/ts/account/result-filters.ts
  frontend/src/ts/commandline/index.ts
  frontend/src/ts/commandline/lists/bail-out.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/ad-controller.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/controllers/eg-ad-controller.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/elements/alerts.ts
  frontend/src/ts/elements/custom-background-filter.ts
  frontend/src/ts/elements/keymap.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/elements/notifications.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/elements/psa.ts
  frontend/src/ts/elements/scroll-to-top.ts
  frontend/src/ts/pages/about.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/popups/custom-test-duration-popup.ts
  frontend/src/ts/popups/custom-text-popup.ts
  frontend/src/ts/popups/custom-word-amount-popup.ts
  frontend/src/ts/popups/google-sign-up-popup.ts
  frontend/src/ts/popups/mobile-test-config-popup.ts
  frontend/src/ts/popups/quote-rate-popup.ts
  frontend/src/ts/popups/quote-search-popup.ts
  frontend/src/ts/popups/result-tags-popup.ts
  frontend/src/ts/popups/word-filter-popup.ts
  frontend/src/ts/settings/theme-picker.ts
  frontend/src/ts/states/connection.ts
  frontend/src/ts/test/caret.ts
  frontend/src/ts/test/focus.ts
  frontend/src/ts/test/funbox/funbox-validation.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/test/funbox/memory-funbox-timer.ts
  frontend/src/ts/test/layout-emulator.ts
  frontend/src/ts/test/monkey.ts
  frontend/src/ts/test/pace-caret.ts
  frontend/src/ts/test/poetry.ts
  frontend/src/ts/test/practise-words.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-config.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-stats.ts
  frontend/src/ts/test/test-timer.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/test/timer-progress.ts
  frontend/src/ts/test/weak-spot.ts
  frontend/src/ts/test/wikipedia.ts
  frontend/src/ts/test/words-generator.ts
  frontend/src/ts/test/wordset.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend

#4402 Adding tests for isTagPresetNameValid
  backend/__tests__/utils/validation.spec.ts
Labels: backend

#4404 Notify users for school email address (.edu | .ac | .sch)
  frontend/src/ts/pages/login.ts
Labels: frontend

#4409 Added void and arcadia layouts
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4412 ordered the words in tamil language by frequency
  frontend/static/languages/tamil.json
  frontend/static/languages/tamil_1k.json
Labels: frontend, assets

#4413 Create initial quotes for code_ruby language
  frontend/static/quotes/code_ruby.json
Labels: frontend, assets

#4397 Create quotesfile (esperanto.json)
  frontend/static/quotes/esperanto.json
Labels: waiting for update, frontend, assets

#4425 Add two English quotes
  frontend/static/quotes/english.json
Labels: frontend, assets

#4417 Improve word highlight UI in input history
  frontend/src/styles/test.scss
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend
