Repository monkeytypegame/monkeytype, pull requests merged in 2023-07, with the labels that each got.

#4428 Add Quote by Bertrand Russell
  frontend/static/quotes/english.json
Labels: frontend, assets

#4420 Add short bulgarian quotes
  frontend/static/quotes/bulgarian.json
Labels: waiting for update, frontend, assets

#4432 Removed names from Tamil words
  frontend/static/languages/tamil.json
  frontend/static/languages/tamil_1k.json
Labels: frontend, assets

#4437 Added Pashto Language and its keymap layout.
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/pashto.json
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4449 Add and modify Amharic words
  frontend/static/languages/amharic.json
Labels: frontend, assets

#4450 Added some more email typos
  frontend/src/ts/utils/typo-list.ts
Labels: frontend

#4451 added morse code to the funbox
  backend/src/constants/funbox-list.ts
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/utils/misc.ts
  frontend/static/funbox/_list.json
Labels: backend, frontend, assets

#4460 Remember language choice before switching to quote mode
  frontend/src/ts/test/test-logic.ts
Labels: waiting for update, frontend

#4462 Added quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#4479 Fixed last word(s) highlight not showing up
  frontend/src/ts/elements/result-word-highlight.ts
Labels: frontend

#4481 fixed quick toggle-to-highlight bug
  frontend/src/ts/elements/result-word-highlight.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#4486 fix typo in cpm graph label
  frontend/src/ts/test/result.ts
Labels: frontend

#4459 Added Rainbow Trail theme
  frontend/static/themes/_list.json
  frontend/static/themes/rainbow_trail.css
Labels: waiting for update, frontend, assets

#4465 Added crt mode to the funbox
  backend/src/constants/funbox-list.ts
  frontend/src/styles/animations.scss
  frontend/src/styles/core.scss
  frontend/src/ts/ready.ts
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/funbox/_list.json
  frontend/static/funbox/crt.css
  frontend/static/main.html
  frontend/static/themes/chaos_theory.css
  frontend/static/themes/dmg.css
  frontend/static/themes/dots.css
  frontend/static/themes/lavender.css
  frontend/static/themes/moonlight.css
  frontend/static/themes/snes.css
  frontend/static/themes/taro.css
Labels: backend, frontend
