Repository monkeytypegame/monkeytype, pull requests merged in 2023-11, with the labels that each got.

#4755 fix(result page): cannot take screenshot if crt funbox is active (fehmer)
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#4256 fix(typing): pinyin input (hakujitsu)
  frontend/src/ts/controllers/input-controller.ts
Labels: waiting for update, frontend, Stale

#4766 fix: Fix swagger documentation
  backend/src/documentation/public-swagger.json
Labels: backend

#4759 feat(quotes): add finnish quotes (imtone1)
  frontend/static/quotes/finnish.json
Labels: waiting for update, frontend, assets

#4771 feat: add mode that doubles each letter to funbox
  backend/src/constants/funbox-list.ts
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/static/funbox/_list.json
Labels: backend, frontend, assets

#4772 docs: update quote guidelines (imtone1)
  CONTRIBUTING.md
Labels: docs

#4773 feat(quote): add one english quote (ibrab000)
  frontend/static/quotes/english.json
Labels: frontend, assets

#4769 refactor: add shared types (Bruception)
  .eslintrc.json
  backend/src/api/controllers/result.ts
  backend/src/api/routes/swagger.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/new-quotes.ts
  backend/src/dal/user.ts
  backend/src/init/configuration.ts
  backend/src/middlewares/api-utils.ts
  backend/src/middlewares/auth.ts
  backend/src/queues/later-queue.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/types/shared.ts
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
  backend/src/utils/logger.ts
  frontend/package-lock.json
  frontend/src/ts/ape/server-configuration.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/types/types.d.ts
  frontend/tsconfig.json
  package-lock.json
  package.json
Labels: backend, frontend

#4767 feat: Allow more results for premium users
  backend/__tests__/api/controllers/result.spec.ts
  backend/__tests__/dal/result.spec.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/results.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/result.ts
  backend/src/dal/user.ts
  backend/src/documentation/public-swagger.json
  backend/src/middlewares/rate-limit.ts
  backend/src/types/shared.ts
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
Labels: backend

#4689 docs: made the the PR template more informative
  .github/pull_request_template.md
Labels: waiting for update

#4779 impr(quotes): fix turkish quote typos
  frontend/static/quotes/turkish.json
Labels: frontend, assets

#4781 feat(layout): Add Stronk, Dhorf, Recurva, Saiga, Krai, Mir (Waterdragen)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4777 feat(language): add Romanized Sanskrit (SameeraMurthy)
  frontend/src/ts/test/lazy-mode.ts
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/sanskrit_roman.json
Labels: frontend, assets

#4780 feat(language): added Old English (kjvlbu)
  frontend/src/ts/test/lazy-mode.ts
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/english_old.json
Labels: frontend, assets

#4787 impr(quotes): add Hebrew quotes (Dishmemah)
  frontend/static/quotes/hebrew.json
Labels: waiting for update, frontend, assets

#4795 feat: Update _list.json to add Portuguese from Portugal layouts, both ISO and ANSI (diogozarro)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4799 impr(quotes): add one English quote (ryanlundqvist)
  frontend/static/quotes/english.json
Labels: frontend, assets

#4798 impr(pace caret): only update pace caret on repeated tests if wpm was higher (toma-demagn)
  frontend/src/ts/test/pace-caret.ts
Labels: frontend

#4801 impr: add backtick in javascript language when punctuation is enabled (ascodeasice)
  frontend/src/ts/test/words-generator.ts
Labels: frontend

#4778 feat: Allow more results for premium users
  backend/__tests__/api/controllers/result.spec.ts
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/constants/base-configuration.ts
  backend/src/types/shared.ts
  backend/src/types/types.d.ts
  frontend/src/styles/account.scss
  frontend/src/ts/ape/endpoints/results.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/result-batches.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/loading.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/account.html
Labels: backend, frontend

#4806 impr(language): update turkish 1k (s3rdarb)
  frontend/static/languages/turkish_1k.json
Labels: frontend, assets

#4807 impr(quotes): add Italian quotes (ormai)
  frontend/static/quotes/italian.json
Labels: waiting for update, frontend, assets

#4808 impr(language): replace kurdish central 45k with kurdish central 4k (Abdulbasit0123)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/kurdish_central_45k.json
  frontend/static/languages/kurdish_central_4k.json
Labels: frontend, assets

#4809 impr(quotes): add English quotes (LifeAdventurer)
  frontend/static/quotes/english.json
Labels: frontend, assets

#4810 fix: crt mode not working on buttons
  frontend/static/funbox/crt.css
  frontend/static/themes/chaos_theory.css
  frontend/static/themes/dmg.css
  frontend/static/themes/dots.css
  frontend/static/themes/lavender.css
  frontend/static/themes/moonlight.css
  frontend/static/themes/snes.css
  frontend/static/themes/taro.css
Labels: frontend, assets

#4815 feat(language): added latin variation of serbian language (ekmas)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/serbian_latin.json
Labels: frontend, assets

#4816 impr(quotes): add English quote (Saccade)
  frontend/static/quotes/english.json
Labels: frontend, assets

#4818 docs: fix typos and grammar (LifeAdventurer)
  CONTRIBUTING.md
Labels: docs

#4822 fix: Leaderboards missing raw and consistency (fehmer)
  backend/src/dal/leaderboards.ts
Labels: backend
