Repository monkeytypegame/monkeytype, pull requests merged in 2024-07, with the labels that each got.

#5532 fix(theme): random theme switcher (mitjans)
  frontend/src/ts/commandline/lists/add-or-remove-theme-to-favorites.ts
  frontend/src/ts/controllers/theme-controller.ts
Labels: waiting for update, frontend

#5538 impr(server): trim consecutive newlines when updating user profile (theiereman)
  backend/src/api/controllers/user.ts
  backend/src/utils/misc.ts
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/modals/edit-profile.ts
Labels: backend, frontend

#5541 chore: replace twitter urls with x (unrealapex)
  backend/email-templates/reset-password.html
  backend/email-templates/verification.html
  frontend/src/html/footer.html
  frontend/src/html/pages/about.html
  frontend/src/html/popups.html
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/elements/psa.ts
Labels: backend, frontend

#5535 feat(languages): add kyrgyz_1k (akmatoff)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/kyrgyz_1k.json
Labels: waiting for update, frontend, assets

#5539 feat(theme): add terrazzo (@fehmer)
  frontend/static/themes/_list.json
  frontend/static/themes/terrazzo.css
Labels: frontend, assets

#5509 impr(quotes): add code_php quotes (aescanes)
  frontend/static/quotes/code_php.json
Labels: waiting for update, frontend, assets

#5544 impr: optimize database access for UserDal (@fehmer)
  backend/__tests__/api/controllers/user.spec.ts
  backend/__tests__/dal/user.spec.ts
  backend/src/api/controllers/quote.ts
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/dal/user.ts
Labels: backend

#5549 chore: fix check annotations for dev routes (@fehmer)
  backend/src/api/controllers/dev.ts
  backend/src/api/routes/dev.ts
Labels: backend

#5550 fix: test history tags button flashing on load (@fehmer)
  frontend/src/styles/account.scss
Labels: frontend

#5553 fix: concurrency issue while claiming rewards (@fehmer)
  backend/__tests__/dal/user.spec.ts
  backend/src/dal/user.ts
Labels: backend

#5552 fix: mexican theme sub alt color (@fehmer)
  frontend/static/themes/mexican.css
Labels: frontend, assets

#5555 fix: error when loading account page and quickly navigating to another page (@fehmer)
  frontend/src/ts/elements/test-activity.ts
Labels: frontend

#5528 impr(test config): allow keyboard navigation (@Truiteseche)
  frontend/src/html/pages/test.html
  frontend/src/styles/test.scss
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/test/test-config.ts
Labels: waiting for update, frontend

#5559 fix: cleanup tmp while updating users inbox (@fehmer)
  backend/__tests__/dal/user.spec.ts
  backend/src/dal/user.ts
Labels: backend

#5560 fix: updateInbox claiming all rewards (@fehmer)
  backend/__tests__/dal/user.spec.ts
  backend/src/dal/user.ts
Labels: backend

#5565 impr(test ui): changing tape mode no longer restarts the test
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#5580 impr(quotes): add English quotes (Tempest76)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5588 impr(quotes): add spanish quote (@Kevinme789)
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#5586 impr: add total tests to test activity chart (@fehmer)
  frontend/__tests__/elements/test-activity-calendar.spec.ts
  frontend/src/html/pages/account.html
  frontend/src/styles/account.scss
  frontend/src/ts/elements/test-activity-calendar.ts
  frontend/src/ts/elements/test-activity.ts
  frontend/src/ts/types/types.d.ts
Labels: frontend

#5589 feat(languages): add cobol language (@liandeguo)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_cobol.json
Labels: frontend, assets

#5590 feat(languages): add League of Legends language (@hailfire805)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/league_of_legends.json
Labels: frontend, assets

#5591 fix(quote): Added capital letter after punctuation (theiereman)
  frontend/static/quotes/french.json
Labels: frontend, assets

#5592 impr(quotes): add english quote (Ramen2X)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5583 impr: reduce initial loading time of settings page (@fehmer)
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/font-preview.mjs
  frontend/src/styles/fonts.scss
  frontend/src/ts/pages/settings.ts
  frontend/static/fonts/_list.json
  frontend/vite.config.js
Labels: frontend, assets

#5594 fix: use bold variant of nunito font (@fehmer)
  frontend/static/webfonts/Nunito-Bold.woff2
Labels: frontend, assets

#5597 fix: league of legends language being right to left (@fehmer)
  frontend/static/languages/league_of_legends.json
Labels: frontend, assets

#5596 fix: fix total test calulation on testActivity chart (@fehmer)
  frontend/src/ts/elements/test-activity-calendar.ts
Labels: frontend

#5602 fix: upside down funbox tooltip not visible on settings page (@fehmer)
  frontend/src/ts/pages/settings.ts
Labels: frontend

#5595 fix: preview fonts not working correctly in the commandline
  frontend/scripts/font-preview.mjs
  frontend/src/ts/commandline/commandline.ts
  frontend/src/ts/commandline/lists/font-family.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/types/types.d.ts
Labels: frontend

#5607 fix: xp bar not updating when claiming rewards (@fehmer)
  frontend/src/ts/elements/alerts.ts
  frontend/src/ts/elements/profile.ts
Labels: frontend

#5605 feat(language): add Common Lisp (ChristoferKoch)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_common_lisp.json
Labels: frontend, assets

#5601 feat(quotes): add Turkish quotes from various sources (turkwr)
  frontend/static/quotes/turkish.json
Labels: frontend, assets

#5571 feat(languages): add Occitan 200, 1k, 2k, 5k, 10k (Mejans)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/occitan.json
  frontend/static/languages/occitan_10k.json
  frontend/static/languages/occitan_1k.json
  frontend/static/languages/occitan_2k.json
  frontend/static/languages/occitan_5k.json
Labels: waiting for update, frontend, assets

#5608 feat(quotes): add Turkish quotes from various sources (@turkwr)
  frontend/static/quotes/turkish.json
Labels: frontend, assets

#5609 feat(quotes): add the walking dead quote (@mxz7)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5611 impr(quotes): add CUDA quotes (mufusachan)
  frontend/static/quotes/code_cuda
Labels: frontend, assets

#5603 feat(languages): Add Serbian 10k option
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/serbian_10k.json
  frontend/static/languages/serbian_latin_10k.json
Labels: frontend, assets

#5613 impr: use typescript for font-preview and fontawesome scripts (@fehmer)
  frontend/scripts/font-preview.ts
  frontend/scripts/fontawesome.ts
  frontend/scripts/tsconfig.json
  frontend/vite.config.js
Labels: frontend

#5615 test: add test coverage for PresetDal (@fehmer)
  backend/__tests__/dal/preset.spec.ts
  backend/src/dal/preset.ts
Labels: backend

#5558 fix: optimize / fix concurrency in UserDal (@fehmer)
  backend/__tests__/dal/user.spec.ts
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
Labels: backend

#5616 refactor: split middlewares into smaller files
  backend/src/api/routes/admin.ts
  backend/src/api/routes/ape-keys.ts
  backend/src/api/routes/configs.ts
  backend/src/api/routes/configuration.ts
  backend/src/api/routes/dev.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/api/routes/presets.ts
  backend/src/api/routes/psas.ts
  backend/src/api/routes/public.ts
  backend/src/api/routes/quotes.ts
  backend/src/api/routes/results.ts
  backend/src/api/routes/users.ts
  backend/src/api/routes/webhooks.ts
  backend/src/middlewares/api-utils.ts
  backend/src/middlewares/configuration.ts
  backend/src/middlewares/permission.ts
  backend/src/middlewares/utility.ts
  backend/src/middlewares/validation.ts
Labels: backend

#5618 impr(languages): expand code vim (asilvam133)
  frontend/static/languages/code_vim.json
Labels: frontend, assets

#5638 impr: replace ṅ with n in lazy mode (@fehmer)
  frontend/src/ts/test/lazy-mode.ts
Labels: frontend

#5633 docs: Updated themes.md (StickminBruv)
  THEMES.md
Labels: docs

#5646 docs: update contributing advanced (@fehmer)
  CONTRIBUTING_ADVANCED.md
Labels: docs

#5654 docs: move files to docs folder
  .github/workflows/publish-docker-images.yml
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/CONTRIBUTING_ADVANCED.md
  docs/CONTRIBUTING_BASIC.md
  docs/LANGUAGES.md
  docs/QUOTES.md
  docs/SECURITY.md
  docs/SELF_HOSTING.md
  docs/THEMES.md
Labels: docs

#5637 feat(practice): add option to practice missed biwords & convert practice popup to a modal (@sanidhyas3s)
  frontend/src/html/pages/test.html
  frontend/src/html/popups.html
  frontend/src/styles/popups.scss
  frontend/src/ts/commandline/commandline.ts
  frontend/src/ts/commandline/lists/result-screen.ts
  frontend/src/ts/commandline/lists/tags.ts
  frontend/src/ts/event-handlers/test.ts
  frontend/src/ts/modals/practise-words.ts
  frontend/src/ts/test/practise-words.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/types/types.d.ts
Labels: waiting for update, frontend

#5662 feat(layout): add xenia_alt and hyperroll (@PTLux1517)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5656 test: updateAltGrState (@marcosatc147)
  frontend/__tests__/test/layout-emulator.spec.ts
  frontend/src/ts/test/layout-emulator.ts
Labels: waiting for update, frontend

#5665 impr(quotes): add Spanish quotes (Dagio2406)
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#5659 feat: add keymap size (@butterflycup)
  frontend/__tests__/root/config.spec.ts
  frontend/src/html/pages/settings.html
  frontend/src/styles/settings.scss
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/commandline/lists/keymap-size.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/elements/settings/settings-group.ts
  frontend/src/ts/pages/settings.ts
  packages/contracts/src/schemas/configs.ts
Labels: frontend, packages

#5673 fix(quotes): grammatical errors in spanish quotes (Dagio2406)
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#5675 impr: use tsrest for presets endpoints (@fehmer)
  backend/__tests__/api/controllers/preset.spec.ts
  backend/__tests__/dal/preset.spec.ts
  backend/__tests__/utils/misc.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/config.ts
  backend/src/api/controllers/preset.ts
  backend/src/api/routes/docs.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/presets.ts
  backend/src/api/schemas/config-schema.ts
  backend/src/dal/preset.ts
  backend/src/documentation/internal-swagger.json
  backend/src/documentation/public-swagger.json
  backend/src/utils/misc.ts
  backend/src/utils/monkey-response.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/presets.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/presets.d.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account/pb-tables.ts
  frontend/src/ts/event-handlers/settings.ts
  frontend/src/ts/modals/edit-preset.ts
  frontend/src/ts/types/types.d.ts
  packages/contracts/src/index.ts
  packages/contracts/src/presets.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/presets.ts
  packages/contracts/src/schemas/util.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/util.ts
Labels: backend, frontend, packages

#5684 chore: bump throttle-debounce to 5.0.2 (rizwanmustafa)
  frontend/package.json
  package-lock.json
Labels: waiting for update, frontend

#5681 chore: remove config from shared-types (@fehmer)
  backend/src/api/controllers/dev.ts
  backend/src/api/controllers/user.ts
  backend/src/dal/result.ts
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
  backend/src/utils/pb.ts
  backend/src/utils/prometheus.ts
  backend/src/utils/result.ts
  frontend/src/ts/ape/endpoints/results.ts
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account/pb-tables.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/elements/custom-background-filter.ts
  frontend/src/ts/elements/settings/settings-group.ts
  frontend/src/ts/modals/edit-result-tags.ts
  frontend/src/ts/modals/mobile-test-config.ts
  frontend/src/ts/modals/pb-tables.ts
  frontend/src/ts/modals/quote-search.ts
  frontend/src/ts/modals/share-test-settings.ts
  frontend/src/ts/observables/config-event.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/profile.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/test/funbox/funbox-memory.ts
  frontend/src/ts/test/funbox/funbox-validation.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/test/pace-caret.ts
  frontend/src/ts/test/practise-words.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-config.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-stats.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/config.ts
  frontend/src/ts/utils/format.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/typing-speed-units.ts
  frontend/src/ts/utils/url-handler.ts
  package-lock.json
  packages/contracts/package.json
  packages/contracts/src/schemas/configs.ts
  packages/contracts/src/schemas/shared.ts
  packages/contracts/src/schemas/users.ts
  packages/shared-types/src/config.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/user.ts
  turbo.json
Labels: backend, frontend, packages

#5688 chore: upgrade node to 20.16.0
  .github/workflows/monkey-ci.yml
  .github/workflows/pretty-fix.yml
  .nvmrc
  backend/docker/compose.yml
  backend/package.json
  backend/src/api/ts-rest-adapter.ts
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  docs/CONTRIBUTING_ADVANCED.md
  frontend/docker/compose.dev.yml
  frontend/package.json
  package-lock.json
  package.json
  packages/eslint-config/index.js
Labels: backend, frontend, docs, packages

#5690 chore: switch from npm to pnpm
  .github/workflows/monkey-ci.yml
  .npmrc
  backend/docker/compose.yml
  backend/package.json
  docker/backend/Dockerfile
  docker/frontend/Dockerfile
  docs/CONTRIBUTING_ADVANCED.md
  frontend/docker/compose.dev.yml
  frontend/package.json
  package-lock.json
  package.json
  packages/contracts/package.json
  packages/shared-types/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: backend, frontend, docs, packages
