Repository monkeytypegame/monkeytype, pull requests merged in 2024-10, with the labels that each got.

#5932 fix(layout): typo in middlemak and middlemak-nh (@toast-riot)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5925 impr(serbian): add more attributes to Serbian files (@rammba)
  frontend/static/languages/serbian.json
  frontend/static/languages/serbian_10k.json
  frontend/static/languages/serbian_latin.json
  frontend/static/languages/serbian_latin_10k.json
Labels: frontend, assets

#5926 impr(dockerfile): add support for Dockerfile language (@rammba)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/docker_file.json
Labels: frontend, assets

#5949 impr: add <Ctrl-p> and <Ctrl-n> binds to command-line (@xaskii)
  frontend/src/ts/commandline/commandline.ts
Labels: frontend

#5950 impr(quotes): fix grammar for Korean quotes (@perssphere07)
  frontend/static/quotes/korean.json
Labels: frontend, assets

#5921 feat(lang): Added Odin Language (@MarcinKuder)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_odin.json
Labels: frontend, assets

#5923 impr(layout): Added Whix2 (Ec0vid) layout (@lumenn)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5946 impr(quotes): add another star trek quote (@266-750Balloons)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5945 impr(quotes): add German quotes (@MapManagement)
  frontend/static/quotes/german.json
Labels: frontend, assets

#5930 impr: monkey now types with the same hand as the user (@ShaneBerhoff)
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/test/layout-emulator.ts
  frontend/src/ts/test/monkey.ts
  frontend/src/ts/test/shift-tracker.ts
  frontend/src/ts/utils/key-converter.ts
Labels: frontend, waiting for review

#5957 feat(layout): add haruka (@inscapist)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5961 feat: validate username on name update (@fehmer)
  frontend/src/ts/elements/input-indicator.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/utils/simple-modal.ts
  packages/contracts/src/users.ts
Labels: frontend, waiting for review, packages, force-ci

#5967 feat(lang): add quenya (@Nifle-CGE)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/quenya.json
Labels: frontend, assets

#5976 impr(quotes): Add Transdermal Celebration by Ween to english.json (@CoolerFred)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5977 impr(quotes): add Spanish quote (@luis-cvqz)
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#5981 impr(quotes): add English quote (@theendlesswatch)
  frontend/static/quotes/english.json
Labels: frontend, assets
