Repository monkeytypegame/monkeytype, pull requests merged in 2024-04, with the labels that each got.

#5255 fix: self-hosting failing to run without valid serviceAccountKey.json (fehmer)
  SELF_HOSTING.md
  docker/docker-compose.yml
Labels: docs

#5257 fix(notifications): clear all notifications from the command line not hiding clear all button (NadAlaba)
  frontend/src/ts/elements/notifications.ts
Labels: frontend

#5270 fix(account page): use same rounding for top percentage as on leaderboard (fehmer)
  frontend/src/ts/elements/profile.ts
Labels: frontend

#5271 impr: changed fps text color from hardcoded values to match user theme (vjgtigers)
  frontend/src/styles/core.scss
Labels: frontend

#5239 feat(authentication): add signin with github (fehmer)
  frontend/src/html/pages/login.html
  frontend/src/html/pages/settings.html
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/popups/simple-popups.ts
Labels: frontend, Stale

#5279 impr(quotes): Fix typo in previously added french quote (Mintoo200)
  frontend/static/quotes/french.json
Labels: frontend, assets

#5266 impr(quotes): Added 3 English quotes (aarnav593)
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#5281 fix(indicate typos): undefined hints in stop on letter (NadAlaba)
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#5276 impr(profile): add level percentage when hovering over progress bar (vjgtigers)
  frontend/src/html/header.html
  frontend/src/html/pages/account.html
  frontend/src/html/pages/profile.html
  frontend/src/styles/profile.scss
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/pages/profile.ts
Labels: waiting for update, frontend

#5272 feat: add incognito theme (fehmer)
  frontend/static/themes/_list.json
  frontend/static/themes/incognito.css
Labels: frontend, assets

#5278 refactor: custom text modal rework
  frontend/src/html/popups.html
  frontend/src/styles/popups.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/event-handlers/test.ts
  frontend/src/ts/modals/custom-text.ts
  frontend/src/ts/modals/mobile-test-config.ts
  frontend/src/ts/modals/save-custom-text.ts
  frontend/src/ts/modals/saved-texts.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/modals/word-filter.ts
  frontend/src/ts/popups/custom-text-popup.ts
  frontend/src/ts/popups/save-custom-text-popup.ts
  frontend/src/ts/popups/saved-texts-popup.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/test/practise-words.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/utils/animated-modal.ts
  frontend/src/ts/utils/url-handler.ts
Labels: frontend

#5262 impr(quotes): add Hebrew quotes
  frontend/static/quotes/hebrew.json
Labels: waiting for update, frontend, assets

#5283 impr(quotes): add English quotes (JornTumrongwit)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5284 impr: update Traditional Chinese word list (rudnam)
  frontend/static/languages/chinese_traditional.json
Labels: frontend, assets

#5290 fix(language): Add unused japanese_romaji.json (Eggflaw)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/japanese_romaji.json
Labels: frontend, assets

#5292 fix: buttons unreadable on hover on accounts/profile page (fehmer)
  frontend/src/styles/profile.scss
Labels: frontend

#5296 build(backend): fix dev script flags not being processed (NadAlaba)
  backend/package.json
Labels: backend

#5297 feat(theme): add discord (sithydev)
  frontend/static/themes/_list.json
  frontend/static/themes/discord.css
Labels: frontend, assets

#5294 impr(quotes): Add 2 quotes (everypizza1)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5300 impr(quotes): Add 5 English quotes (kshitizrohilla)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5302 impr(language): Add @ to git words (tjkuson)
  frontend/static/languages/git.json
Labels: frontend, assets

#5306 revert: Remove my layouts
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5310 impr(quotes): add Hebrew quotes (JojoCalabaza)
  frontend/static/quotes/hebrew.json
Labels: frontend, assets

#5313 chore: update vitest to 1.5.0 (fehmer)
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#5315 impr(quotes): add Hebrew quotes (JojoCalabaza)
  frontend/static/quotes/hebrew.json
Labels: frontend, assets

#5314 test: replace jest with vitest on backend (fehmer)
  .vscode/extensions.json
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/api/controllers/result.spec.ts
  backend/__tests__/api/controllers/user.spec.ts
  backend/__tests__/dal/leaderboards.spec.ts
  backend/__tests__/dal/result.spec.ts
  backend/__tests__/dal/user.spec.ts
  backend/__tests__/middlewares/auth.spec.ts
  backend/__tests__/setup-tests.ts
  backend/__tests__/tsconfig.json
  backend/__tests__/utils/misc.spec.ts
  backend/jest-mongodb-config.js
  backend/jest.config.ts
  backend/package-lock.json
  backend/package.json
  backend/vitest.config.js
  monkeytype.code-workspace
Labels: backend

#5318 impr(quotes): add English quotes (cute-catgirl)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5323 impr(quotes): remove inappropriate or controversial political quotes in Hebrew (JojoCalabaza)
  frontend/static/quotes/hebrew.json
Labels: frontend, assets

#5327 refactor: custom text
  backend/src/api/schemas/result-schema.ts
  backend/src/utils/validation.ts
  frontend/src/html/popups.html
  frontend/src/styles/popups.scss
  frontend/src/styles/z_media-queries.scss
  frontend/src/ts/commandline/lists/bail-out.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/modals/custom-text.ts
  frontend/src/ts/modals/mobile-test-config.ts
  frontend/src/ts/modals/word-filter.ts
  frontend/src/ts/popups/share-test-settings-popup.ts
  frontend/src/ts/test/british-english.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/test/practise-words.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-timer.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/test/timer-progress.ts
  frontend/src/ts/test/words-generator.ts
  frontend/src/ts/ui.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/url-handler.ts
  frontend/static/challenges/_list.json
  shared-types/types.d.ts
Labels: backend, frontend, assets

#5332 feat(frontend): add typescript as language (kyratzakos)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_typescript.json
Labels: frontend, assets

#5330 fix: corrected some typos in kurdish_central_2k.json
  frontend/static/languages/kurdish_central_2k.json
Labels: frontend, assets
