Repository monkeytypegame/monkeytype, pull requests merged in 2024-11, with the labels that each got.

#5972 impr(quotes): add 3 Portuguese quotes (@Samunals)
  frontend/static/quotes/portuguese.json
Labels: frontend, assets

#5995 impr(quotes): add Belarusian quotes (@ricountzero)
  frontend/static/quotes/belarusian.json
Labels: frontend, assets

#5990 fix: resolve fps counter showing increased fps when opened multiple times (@blru)
  frontend/src/ts/elements/fps-counter.ts
Labels: frontend

#5997 fix: adding missing toki pona word (@anakojm)
  frontend/static/languages/toki_pona.json
  frontend/static/languages/toki_pona_ku_lili.json
  frontend/static/languages/toki_pona_ku_suli.json
Labels: frontend, assets

#5999 impr(quotes): add portuguese quotes (@arthvr9)
  frontend/static/quotes/portuguese.json
Labels: frontend, assets

#6013 fix: correct spelling in revoke all tokens modal (@Andotrium)
  frontend/src/ts/modals/simple-modals.ts
Labels: frontend

#6009 feat(language): add code fortran (@slammon)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_fortran.json
Labels: frontend, waiting for review, assets

#6024 chore(about): small typo (@weather7774)
  frontend/src/html/pages/about.html
Labels: frontend

#6033 fix(language): removed non-french from the french language files (@theiereman)
  frontend/static/languages/french_10k.json
  frontend/static/languages/french_2k.json
Labels: frontend, assets

#5991 feat(input): add 'code unindent on backspace' for code languages (@notTamion)
  frontend/__tests__/root/config.spec.ts
  frontend/src/html/pages/settings.html
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/commandline/lists/code-unindent-on-backspace.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/pages/settings.ts
  packages/contracts/src/schemas/configs.ts
Labels: frontend, packages

#6006 impr(read ahead): show words after correcting typo with backspace (@notTamion)
  backend/src/constants/funbox-list.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/utils/json-data.ts
  frontend/static/funbox/read_ahead.css
  frontend/static/funbox/read_ahead_easy.css
  frontend/static/funbox/read_ahead_hard.css
Labels: backend, frontend, assets

#6014 feat(lang): add croatian_1k language (@Ivek21)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/croatian_1k.json
Labels: frontend, waiting for review, assets

#6023 impr(layouts): add basic support for thumb alpha keys (@zigotica)
  frontend/scripts/json-validation.cjs
  frontend/src/styles/keymap.scss
  frontend/src/ts/elements/keymap.ts
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6044 impr(quotes): add spanish quotes (@omaeda)
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#6046 fix(language): grammatical fixes in turkish list (@jirmu)
  frontend/static/languages/turkish.json
Labels: frontend, assets

#6055 feat(lang): add amharic 1k and amharic 5k (@akuna444)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/amharic_1k.json
  frontend/static/languages/amharic_5k.json
Labels: frontend, assets

#6061 feat(layouts): added Kuntum, Kuntem and snorkle (@5quidwyrm)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6064 feat(layout): add dusk (@luminespire)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6032 feat(language): add tibetan and tibetan 1k (@lobnor2)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/tibetan.json
  frontend/static/languages/tibetan_1k.json
Labels: frontend, assets

#6071 revert: fix grammatical fixes in turkish list (@jirmu)"
  frontend/static/languages/turkish.json
Labels: frontend, waiting for review, assets

#6069 feat(layouts): added Turkish E layout (@jirmu)
  frontend/static/layouts/_list.json
Labels: frontend, assets
