Repository monkeytypegame/monkeytype, pull requests merged in 2024-09, with the labels that each got.

#5834 refactor: determine active word based on logical value, not DOM class (@NadAlaba)
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#5824 fix(zen mode): issues when changing tape mode and other caret issues (@NadAlaba)
  frontend/src/ts/commandline/commandline.ts
  frontend/src/ts/test/caret.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#5849 impr(settings): add hints to tag buttons on mouseover (@fehmer)
  frontend/src/ts/pages/settings.ts
Labels: frontend

#5844 impr(quotes): add English quote (@chitvs)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5850 feat: add instant messaging funbox (@fehmer)
  backend/src/constants/funbox-list.ts
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/static/funbox/_list.json
Labels: backend, frontend, waiting for review, assets

#5856 fix(caret): getting last letter top in long multiline words (@NadAlaba)
  frontend/src/ts/test/caret.ts
Labels: frontend

#5854 feat(layout): add the scythe layout (@forusu)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5860 fix: result filters defaults invalid (@fehmer)
  frontend/src/ts/constants/default-result-filters.ts
Labels: frontend, waiting for review

#5859 fix: unable to update profile with missing values (@fehmer)
  backend/__tests__/api/controllers/user.spec.ts
  packages/contracts/src/schemas/users.ts
Labels: backend, waiting for review, packages

#5845 impr: refactor rate limiting (@fehmer)
  .github/workflows/monkey-ci.yml
  backend/__tests__/__testData__/rate-limit.ts
  backend/__tests__/api/controllers/admin.spec.ts
  backend/__tests__/api/controllers/result.spec.ts
  backend/__tests__/setup-tests.ts
  backend/__tests__/tsconfig.json
  backend/__tests__/vitest.d.ts
  backend/package.json
  backend/scripts/openapi.ts
  backend/src/api/routes/admin.ts
  backend/src/api/routes/ape-keys.ts
  backend/src/api/routes/configs.ts
  backend/src/api/routes/configuration.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/api/routes/presets.ts
  backend/src/api/routes/psas.ts
  backend/src/api/routes/public.ts
  backend/src/api/routes/quotes.ts
  backend/src/api/routes/results.ts
  backend/src/api/routes/users.ts
  backend/src/middlewares/ape-rate-limit.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/types/types.d.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/elements/keymap.ts
  frontend/src/ts/modals/quote-search.ts
  frontend/src/ts/pages/account.ts
  package.json
  packages/contracts/src/admin.ts
  packages/contracts/src/ape-keys.ts
  packages/contracts/src/configs.ts
  packages/contracts/src/configuration.ts
  packages/contracts/src/dev.ts
  packages/contracts/src/leaderboards.ts
  packages/contracts/src/presets.ts
  packages/contracts/src/psas.ts
  packages/contracts/src/public.ts
  packages/contracts/src/quotes.ts
  packages/contracts/src/rate-limit/index.ts
  packages/contracts/src/results.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/users.ts
  pnpm-lock.yaml
Labels: backend, frontend, packages, force-ci

#5857 fix: multi-line words causing issues in ui scrolling and tape mode (@NadAlaba)
  frontend/src/styles/test.scss
  frontend/src/ts/config.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#5820 feat(themes): add suisei theme (@moonbamijam)
  frontend/static/themes/_list.json
  frontend/static/themes/suisei.css
Labels: frontend, assets

#5848 impr: move permission checks to contracts (@fehmer)
  backend/__tests__/middlewares/permission.spec.ts
  backend/package.json
  backend/scripts/openapi.ts
  backend/scripts/tsconfig.json
  backend/src/api/routes/admin.ts
  backend/src/api/routes/ape-keys.ts
  backend/src/api/routes/configuration.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/quotes.ts
  backend/src/api/routes/users.ts
  backend/src/middlewares/permission.ts
  frontend/package.json
  packages/contracts/package.json
  packages/contracts/src/admin.ts
  packages/contracts/src/ape-keys.ts
  packages/contracts/src/configuration.ts
  packages/contracts/src/quotes.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/users.ts
  pnpm-lock.yaml
Labels: backend, frontend, waiting for review, packages

#5851 impr: move configuration checks to contracts (@fehmer)
  backend/__tests__/middlewares/configuration.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/routes/admin.ts
  backend/src/api/routes/ape-keys.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/api/routes/quotes.ts
  backend/src/api/routes/results.ts
  backend/src/api/routes/users.ts
  backend/src/middlewares/configuration.ts
  backend/src/middlewares/utility.ts
  packages/contracts/src/admin.ts
  packages/contracts/src/ape-keys.ts
  packages/contracts/src/leaderboards.ts
  packages/contracts/src/quotes.ts
  packages/contracts/src/require-configuration/index.ts
  packages/contracts/src/results.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/users.ts
Labels: backend, waiting for review, packages, force-ci

#5871 impr: use ts-rest for webhook endpoints (@fehmer)
  backend/__tests__/api/controllers/public.spec.ts
  backend/__tests__/api/controllers/webhooks.spec.ts
  backend/__tests__/middlewares/auth.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/webhooks.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/webhooks.ts
  backend/src/middlewares/auth.ts
  backend/src/types/types.d.ts
  backend/src/utils/prometheus.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/webhooks.ts
Labels: backend, packages

#5872 refactor: enable no-unsafe-argument rule (@miodec)
  backend/src/api/controllers/admin.ts
  backend/src/api/controllers/user.ts
  backend/src/dal/new-quotes.ts
  backend/src/dal/user.ts
  backend/src/init/configuration.ts
  backend/src/init/db.ts
  backend/src/init/email-client.ts
  backend/src/init/redis.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/configuration.ts
  backend/src/middlewares/error.ts
  backend/src/server.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/utils/daily-leaderboards.ts
  backend/src/utils/monkey-response.ts
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/elements/settings/settings-group.ts
  frontend/src/ts/event-handlers/account.ts
  frontend/src/ts/event-handlers/global.ts
  frontend/src/ts/modals/import-export-settings.ts
  frontend/src/ts/modals/save-custom-text.ts
  frontend/src/ts/modals/saved-texts.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/test/english-punctuation.ts
  frontend/src/ts/test/replay.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/utils/url-handler.ts
  packages/eslint-config/index.js
Labels: backend, frontend, packages

#5879 refactor: use css for heatmap colors (@fehmer)
  frontend/src/styles/test.scss
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#5869 impr(language): add common javascript words, symbols and functions (@bdsqqq)
  frontend/static/languages/code_javascript.json
Labels: frontend, assets

#5813 feat(settings): allow partial presets (@amarnathsama)
  backend/__tests__/api/controllers/preset.spec.ts
  backend/__tests__/dal/preset.spec.ts
  backend/src/api/controllers/preset.ts
  backend/src/dal/preset.ts
  frontend/__tests__/utils/config.spec.ts
  frontend/src/html/popups.html
  frontend/src/styles/popups.scss
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/modals/edit-preset.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/config.ts
  packages/contracts/src/presets.ts
  packages/contracts/src/schemas/presets.ts
Labels: backend, frontend, packages

#5875 refactor: remove leftover code from ts-rest migration (@fehmer)
  backend/__tests__/middlewares/auth.spec.ts
  backend/__tests__/utils/validation.spec.ts
  backend/package.json
  backend/src/api/controllers/admin.ts
  backend/src/api/controllers/ape-key.ts
  backend/src/api/controllers/config.ts
  backend/src/api/controllers/configuration.ts
  backend/src/api/controllers/dev.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/controllers/preset.ts
  backend/src/api/controllers/psa.ts
  backend/src/api/controllers/public.ts
  backend/src/api/controllers/quote.ts
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/api/controllers/webhooks.ts
  backend/src/api/routes/index.ts
  backend/src/api/schemas/filter-schema.ts
  backend/src/api/ts-rest-adapter.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/context.ts
  backend/src/middlewares/error.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/middlewares/utility.ts
  backend/src/middlewares/validation.ts
  backend/src/types/types.d.ts
  backend/src/utils/monkey-response.ts
  backend/src/utils/prometheus.ts
  backend/src/utils/validation.ts
  frontend/package.json
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
  frontend/src/ts/test/poetry.ts
  pnpm-lock.yaml
Labels: backend, frontend, force-ci

#5874 refactor: enable no-unsafe-assignment rule (@miodec)
  backend/__tests__/utils/pb.spec.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/swagger.ts
  backend/src/api/ts-rest-adapter.ts
  backend/src/dal/new-quotes.ts
  backend/src/dal/result.ts
  backend/src/init/configuration.ts
  backend/src/init/email-client.ts
  backend/src/init/firebase-admin.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/configuration.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/utils/daily-leaderboards.ts
  backend/src/utils/misc.ts
  backend/src/utils/pb.ts
  backend/src/workers/email-worker.ts
  backend/src/workers/later-worker.ts
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
  frontend/src/ts/controllers/analytics-controller.ts
  frontend/src/ts/controllers/captcha-controller.ts
  frontend/src/ts/controllers/pw-ad-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/settings/settings-group.ts
  frontend/src/ts/elements/test-activity-calendar.ts
  frontend/src/ts/elements/test-activity.ts
  frontend/src/ts/event-handlers/global.ts
  frontend/src/ts/modals/edit-preset.ts
  frontend/src/ts/modals/quote-report.ts
  frontend/src/ts/modals/quote-search.ts
  frontend/src/ts/modals/quote-submit.ts
  frontend/src/ts/modals/user-report.ts
  frontend/src/ts/modals/word-filter.ts
  frontend/src/ts/pages/account-settings.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/test/poetry.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/wikipedia.ts
  frontend/src/ts/utils/local-storage-with-schema.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/results.ts
  frontend/src/ts/utils/url-handler.ts
  packages/eslint-config/index.js
Labels: backend, frontend, packages

#5882 feat(dev): add deepclone util function (@miodec)
  frontend/__tests__/test/misc.spec.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/constants/default-result-filters.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/results.ts
Labels: frontend

#5873 impr(language): add javascript react language (@bdsqqq)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_javascript_react.json
Labels: frontend, assets

#5883 refactor: enable no-unsafe-call rule (@miodec)
  backend/src/api/controllers/dev.ts
  backend/src/dal/new-quotes.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/utils/daily-leaderboards.ts
  backend/src/utils/pb.ts
  frontend/src/ts/controllers/ad-controller.ts
  frontend/src/ts/controllers/captcha-controller.ts
  frontend/src/ts/controllers/eg-ad-controller.ts
  frontend/src/ts/controllers/pw-ad-controller.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/elements/test-activity.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/popups/video-ad-popup.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/test/british-english.ts
  frontend/src/ts/test/english-punctuation.ts
  packages/eslint-config/index.js
Labels: backend, frontend, packages

#5892 revert: use css for heatmap colors (@fehmer)
  frontend/src/styles/test.scss
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#5893 fix: dark note theme dots being too big (@fehmer)
  frontend/static/themes/dark_note.css
Labels: frontend, assets

#5880 feat(layout): add the inqwerted layout (@aoi-buh)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5887 refactor: enable no-unsafe-member-access (@miodec)
  backend/__tests__/api/controllers/user.spec.ts
  backend/src/api/controllers/admin.ts
  backend/src/api/controllers/dev.ts
  backend/src/api/controllers/user.ts
  backend/src/dal/leaderboards.ts
  backend/src/dal/user.ts
  backend/src/init/configuration.ts
  backend/src/init/db.ts
  backend/src/init/email-client.ts
  backend/src/init/redis.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/configuration.ts
  backend/src/middlewares/error.ts
  backend/src/middlewares/permission.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/middlewares/utility.ts
  backend/src/server.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/types/types.d.ts
  backend/src/utils/auth.ts
  backend/src/utils/error.ts
  backend/src/utils/pb.ts
  backend/src/utils/prometheus.ts
  frontend/src/ts/controllers/ad-controller.ts
  frontend/src/ts/controllers/captcha-controller.ts
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/controllers/eg-ad-controller.ts
  frontend/src/ts/controllers/pw-ad-controller.ts
  frontend/src/ts/event-handlers/global.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/popups/video-ad-popup.ts
  frontend/src/ts/test/replay.ts
  frontend/src/ts/test/wikipedia.ts
  packages/eslint-config/index.js
Labels: backend, frontend, packages

#5889 feat(languages): add Slovenian 1k and 5k word lists (@anzepintar)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/slovenian.json
  frontend/static/languages/slovenian_1k.json
  frontend/static/languages/slovenian_5k.json
Labels: frontend, assets

#5899 feat(layout): add the rain layout (@ibrab000)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5901 feat(layout): add night (@luminespire)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5898 impr(quotes): add bulgarian quotes (@Gogo200202)
  frontend/static/quotes/bulgarian.json
Labels: frontend, assets

#5900 fix: random theme is applied over custom theme (@fehmer)
  frontend/src/ts/controllers/theme-controller.ts
Labels: frontend, waiting for review

#5903 impr(quotes): add bulgarian quotes (@Gogo200202)
  frontend/static/quotes/bulgarian.json
Labels: frontend, assets

#5910 impr(quotes): add bulgarian quotes (@Gogo200202)
  frontend/static/quotes/bulgarian.json
Labels: frontend, assets

#5895 impr: show xp gain details as list (@fehmer)
  frontend/src/html/header.html
  frontend/src/styles/nav.scss
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#5912 chore: updated scatman quote (@DanielGrenehed)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5916 impr(code_csharp.json): Add commonly used C# terms (@rammba)
  frontend/static/languages/code_csharp.json
Labels: frontend, assets

#5917 fix: apply reduced motion to xp bar (@fehmer)
  frontend/src/ts/elements/xp-bar.ts
Labels: frontend, waiting for review

#5904 impr(quotes): add german quotes (@rojadesign)
  frontend/static/quotes/german.json
Labels: frontend, waiting for review, assets

#5911 fix: handling of characters outside the BMP (@fehmer)
  frontend/__tests__/utils/strings.spec.ts
  frontend/src/ts/test/caret.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/utils/strings.ts
Labels: frontend

#5918 impr(code go): add more keywords to Golang (@rammba)
  frontend/static/languages/code_go.json
Labels: frontend, assets
