Repository monkeytypegame/monkeytype, pull requests merged in 2024-05, with the labels that each got.

#5333 impr(quotes): created and added two quotes in chinese_simplified.json (extoplasm)
  frontend/static/quotes/chinese_simplified.json
Labels: frontend, assets

#5338 impr(quotes): created and added quote to english.json
  frontend/static/quotes/english.json
Labels: frontend, assets

#5355 fix: set correct delimiter and digits for bangla (shahnewaz-labib)
  frontend/src/ts/test/words-generator.ts
  frontend/src/ts/utils/misc.ts
Labels: waiting for update, frontend

#5356 fix(quotes): replace /n with \n (extoplasm)
  frontend/static/quotes/chinese_simplified.json
Labels: frontend, assets

#5370 fix: issue where '\n\n' was not rendering correctly in custom text (SpaceWaffles5827)
  frontend/src/ts/modals/custom-text.ts
Labels: frontend

#5373 impr(quotes): add 2 quotes and fixed a typo in chinese simplified(extoplasm)
  frontend/static/quotes/chinese_simplified.json
Labels: frontend, assets

#5375 impr(themes): added and Created theme cy_red (StickminBruv)
  frontend/static/themes/_list.json
  frontend/static/themes/cy_red.css
Labels: frontend, assets

#5381 impr(remove fancy typography): add low quotation mark (K0stov)
  frontend/src/ts/utils/misc.ts
Labels: frontend

#5369 impr: Build docker images for linux/arm64 (fehmer)
  .github/workflows/publish-docker-images.yml
  backend/package-lock.json
  backend/package.json
  docker/backend/Dockerfile
Labels: backend

#5384 fix(9009.css): removed double colorful-error-color (Taz03)
  frontend/static/themes/9009.css
Labels: frontend, assets

#5383 fix: remove extra quotations on firebase/recaptcha config (fehmer)
  SELF_HOSTING.md
  docker/docker-compose.yml
  docker/example.env
  docker/frontend/Dockerfile
Labels: docs

#5379 fix(xp): displayed level-xp not calculated correctly and animated xp bar skipping some cases and level not flashing on level-up (NadAlaba)
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/utils/levels.ts
Labels: frontend

#5309 feat: add test activity graph (fehmer, Singh233)
  .eslintignore
  backend/__migration__/testActivity.ts
  backend/__tests__/__migration__/testActivity.spec.ts
  backend/__tests__/__testData__/users.ts
  backend/__tests__/api/controllers/user.spec.ts
  backend/__tests__/dal/user.spec.ts
  backend/__tests__/setup-tests.ts
  backend/__tests__/tsconfig.json
  backend/package-lock.json
  backend/package.json
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/dal/result.ts
  backend/src/dal/user.ts
  backend/src/init/db.ts
  backend/src/middlewares/rate-limit.ts
  backend/src/types/types.d.ts
  frontend/__tests__/elements/test-activity-calendar.spec.ts
  frontend/__tests__/tsconfig.json
  frontend/__tests__/vitest.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/html/pages/account.html
  frontend/src/styles/account.scss
  frontend/src/styles/media-queries-blue.scss
  frontend/src/styles/media-queries-brown.scss
  frontend/src/styles/media-queries-green.scss
  frontend/src/styles/media-queries-orange.scss
  frontend/src/styles/media-queries-purple.scss
  frontend/src/styles/media-queries-yellow.scss
  frontend/src/ts/account/pb-tables.ts
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/controllers/chart-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/alerts.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/elements/psa.ts
  frontend/src/ts/elements/test-activity-calendar.ts
  frontend/src/ts/elements/test-activity.ts
  frontend/src/ts/modals/ape-keys.ts
  frontend/src/ts/modals/pb-tables.ts
  frontend/src/ts/modals/quote-approve.ts
  frontend/src/ts/modals/version-history.ts
  frontend/src/ts/pages/about.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/types/types.d.ts
  shared-types/types.d.ts
Labels: backend, frontend

#5380 impr(quotes): created and added quote to english.json (ElijahRosal)
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#5392 feat(theme): add floret (hurrrsh)
  frontend/static/themes/_list.json
  frontend/static/themes/floret.css
Labels: waiting for update, frontend, assets

#5397 fix: migration breaking tests
  backend/__migration__/testActivity.ts
Labels: backend

#5399 fix: input history not available in zen mode (fehmer)
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#5400 fix: copy words command not working (fehmer)
  frontend/src/ts/commandline/lists/result-screen.ts
  frontend/src/ts/utils/generate.ts
Labels: frontend

#5402 fix(quotes): Fixing 'e' in a quote in english.json (ElijahRosal)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5405 feat: Add "no funbox" filter to the account page (fehmer)
  frontend/src/ts/account/result-filters.ts
Labels: frontend

#5410 feat(layout): add Swedish Colemak (kevinalavik)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5371 feat: maintain blocklist of banned usernames and email (fehmer)
  backend/__tests__/api/controllers/user.spec.ts
  backend/__tests__/dal/blocklist.spec.ts
  backend/__tests__/global-setup.ts
  backend/__tests__/setup-tests.ts
  backend/__tests__/utils/misc.spec.ts
  backend/package-lock.json
  backend/package.json
  backend/src/api/controllers/user.ts
  backend/src/api/routes/admin.ts
  backend/src/dal/blocklist.ts
  backend/src/server.ts
  backend/src/types/types.d.ts
  backend/src/utils/discord.ts
  backend/vitest.config.js
  frontend/src/privacy-policy.html
Labels: backend, frontend

#5418 fix(leaderboard modal): language dropdown resets after reopening lb (ykahveci)
  frontend/src/ts/elements/leaderboards.ts
Labels: frontend

#5427 fix: testActivity not removed on account reset (fehmer)
  backend/src/dal/user.ts
Labels: backend

#5429 impr(quotes): add Bangla quotes (shahnewaz-labib)
  frontend/static/quotes/bangla.json
Labels: frontend, assets

#5421 fix(layout): Update Ergo‑L layout to 1.0 version. (Nuclear-Squid)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5413 fix: maintenance banner is blocked by ublock (fehmer)
  frontend/src/styles/banners.scss
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/elements/notifications.ts
  frontend/src/ts/elements/psa.ts
  frontend/src/ts/firebase.ts
  frontend/src/ts/states/connection.ts
Labels: frontend

#5433 fix: too many decimals showing on profile page for some users (fehmer)
  frontend/__tests__/utils/numbers.spec.ts
  frontend/src/ts/utils/numbers.ts
Labels: frontend

#5434 test: fix flaky tests on user creation (fehmer)
  backend/__tests__/api/controllers/user.spec.ts
Labels: backend

#5441 impr(quotes): add French quotes (Mintoo200)
  frontend/static/quotes/french.json
Labels: frontend, assets

#5444 docs: utilize blockquote color highlights (unrealapex)
  CONTRIBUTING_ADVANCED.md
  SELF_HOSTING.md
Labels: docs

#5447 fix(crt): shrinking xp bar and hints not glowing (NadAlaba)
  frontend/static/funbox/crt.css
Labels: frontend, assets

#5445 impr(results filters): allow deselecting options in multiselect dropdowns of results filters (NadAlaba)
  frontend/src/styles/inputs.scss
  frontend/src/ts/account/result-filters.ts
Labels: frontend

#5449 fix(layout): fix arabic 101 & arabic 102 layouts (NadAlaba)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5448 fix(xp): hide decimal point if displayed xp is < 1000 (NadAlaba)
  frontend/src/ts/elements/profile.ts
Labels: frontend

#5460 feat: detect custom background image not available (fehmer)
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/pages/settings.ts
Labels: frontend
