Repository monkeytypegame/monkeytype, pull requests merged in 2024-12, with the labels that each got.

#6088 fix: remove the duplicate manifest tag (@malkiii)
  frontend/src/html/head.html
Labels: frontend

#6035 fix(language): remove catalan opening punctuation (@Perseus333)
  frontend/src/ts/test/words-generator.ts
Labels: frontend

#6039 impr(quotes): Add English quotes (@TheFrenchTechMan)
  frontend/static/quotes/english.json
Labels: frontend, assets

#6076 feat(language): add bashkir (@psq4)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/bashkir.json
Labels: waiting for update, frontend, Stale, assets

#6084 fix(language): remove british spelling of `counselling` from english 10k (@aoi-buh)
  frontend/static/languages/english_10k.json
Labels: frontend, assets

#6079 impr(quotes): add English quotes (@kennethlg)
  frontend/static/quotes/english.json
Labels: frontend, assets

#6025 feat(language): add portuguese 1k (@Samunals)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/portuguese_1k.json
Labels: frontend, assets

#6121 chore: fix typo (@m4dd0c)
  packages/contracts/src/users.ts
Labels: packages

#6118 impr(quotes): grammar fix for English quote 192 (@mak448a)
  frontend/static/quotes/english.json
Labels: frontend, waiting for review, assets

#6117 feat(language): add `code-typst` language (@iggedi-ig-ig)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_typst.json
Labels: frontend, assets

#6114 impr(quotes): added dutch quotes (@petieken)
  frontend/static/quotes/dutch.json
Labels: frontend, assets

#6109 refactor: move parseJsonWithSchema to utils package (@fehmer)
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/url-handler.ts
  packages/funbox/__test__/utils.spec.ts
  packages/util/__test__/json.spec.ts
  packages/util/package.json
  packages/util/src/json.ts
  pnpm-lock.yaml
Labels: frontend, packages

#6083 impr(quotes): add English quotes from Kingdom Hearts (@herfave)
  frontend/static/quotes/english.json
Labels: frontend, waiting for review, assets

#6103 fix: crt not applied to typo hints (@fehmer)
  frontend/static/funbox/crt.css
Labels: frontend, assets

#6127 feat(layout): add zenith (@ibrab000)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6128 feat(language): add Khmer (@Earpengai)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/khmer.json
Labels: frontend, assets

#6105 fix: remove tailing space and non-break space from various languages (@fehmer)
  frontend/static/languages/danish_10k.json
  frontend/static/languages/french_10k.json
  frontend/static/languages/friulian.json
  frontend/static/languages/kurdish_central_4k.json
  frontend/static/languages/tibetan_1k.json
  frontend/static/languages/uzbek_1k.json
  frontend/static/languages/uzbek_70k.json
Labels: frontend, assets
