Repository monkeytypegame/monkeytype, pull requests merged in 2024-01, with the labels that each got.

#4903 refactor: char counting
  frontend/src/ts/test/test-stats.ts
Labels: frontend

#4887 style: Add font CommitMono
  frontend/src/styles/fonts.scss
  frontend/static/fonts/_list.json
  frontend/static/webfonts/CommitMono-400-Regular.otf
Labels: frontend, assets

#4901 impr(language): add more F# words (kacperwyczawski)
  frontend/static/languages/code_fsharp.json
Labels: frontend, assets

#4837 impr(quotes): Added quotes. (sleeepstorm)
  frontend/static/quotes/code_go.json
  frontend/static/quotes/hindi.json
  frontend/static/quotes/spanish.json
Labels: waiting for update, frontend, assets

#4902 feat(layouts): add engrammer (KaelWD)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4879 test: configure testing for frontend code (fehmer)
  .eslintrc.json
  .github/workflows/monkey-ci.yml
  frontend/__tests__/setup-tests.ts
  frontend/__tests__/test/lazy-mode.spec.ts
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  package.json
Labels: frontend

#4894 fix: remove invalid java keyword (fehmer)
  frontend/static/languages/code_java.json
Labels: frontend, assets

#4891 impr(quotes): Added English quote. (julianbarg)
  frontend/static/quotes/english.json
Labels: frontend, Stale, assets

#4905 feat(layouts): add graphite_angle_kp
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4817 impr(layout emulator): add support for alt layer emulation (farkon00)
  frontend/scripts/json-validation.js
  frontend/src/ts/test/layout-emulator.ts
  frontend/static/layouts/_list.json
Labels: waiting for update, frontend, assets

#4907 fix: TypeError while Replay
  frontend/src/ts/test/replay.ts
Labels: frontend

#4914 fix: ligatures not displayed correctly with dark_note theme (fehmer)
  frontend/static/themes/dark_note.css
Labels: frontend, assets

#4886 impr(quotes): add Spanish quotes (EDUJOS)
  frontend/static/quotes/spanish.json
Labels: waiting for update, frontend, assets

#4912 feat(layouts): add ibrahimab000 layouts (ebblies)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4885 feat(language): add Euskera (jlopezestrada)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/euskera.json
Labels: waiting for update, frontend, assets

#4917 test: add test to remove accents in lazy mode
  frontend/__tests__/test/lazy-mode.spec.ts
Labels: frontend

#4918 impr(quotes): add english quote
  frontend/static/quotes/english.json
Labels: frontend, assets

#4926 feat(layouts): add graphite_angle_vc (rdavison)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4927 feat(language): Belarusian language
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/belarusian.json
Labels: frontend, assets

#4928 feat(quotes): belarusian quotes
  frontend/static/quotes/belarusian.json
Labels: frontend, assets

#4932 impr(quotes): add portuguese quote
  frontend/static/quotes/portuguese.json
Labels: frontend, assets

#4895 impr(quotes): add Hindi quotes
  frontend/static/quotes/hindi.json
  frontend/static/themes/_list.json
Labels: waiting for update, frontend, assets

#4936 fix(quotes): belarusian quotes
  frontend/static/quotes/belarusian.json
Labels: frontend, assets

#4937 feat(layout): Belarusian layout
  frontend/static/layouts/_list.json
Labels: frontend, assets

#4916 impr(quotes): add 8 new English quotes (LifeAdventurer)
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#4935 feat(language): Belarusian Lacinka
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/belarusian_lacinka.json
  frontend/static/languages/belarusian_lacinka_1k.json
Labels: waiting for update, frontend, assets

#4943 fix: typo in spanish quote id 154 (TortitasT)
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#4947 fix(quotes): fix grammatical and spelling and citing errors of Arabic quotes (NadAlaba)
  frontend/static/quotes/arabic.json
Labels: frontend, assets

#4950 feat(language): add more romanian word lists (StefanescuEduard)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/romanian_100k.json
  frontend/static/languages/romanian_10k.json
  frontend/static/languages/romanian_1k.json
  frontend/static/languages/romanian_200k.json
  frontend/static/languages/romanian_25k.json
  frontend/static/languages/romanian_50k.json
  frontend/static/languages/romanian_5k.json
  frontend/static/quotes/romanian.json
Labels: frontend, assets

#4938 feat(quotes): Belarusian lacinka quotes
  frontend/static/quotes/belarusian_lacinka.json
Labels: waiting for update, frontend, assets

#4956 impr(quotes): add Portuguese quotes (ikarofelix)
  frontend/static/quotes/portuguese.json
Labels: frontend, assets

#4959 impr(quote): add 5 Korean quotes (drrckchng)
  frontend/static/quotes/korean.json
Labels: frontend, assets

#4960 feat(language): add romanian quotes
  frontend/static/quotes/romanian.json
Labels: frontend, assets

#4961 fix: errors shown in frontend tests in vscode (fehmer)
  frontend/__tests__/tsconfig.json
Labels: frontend

#4963 fix(docker-compose): use the user "node" for the frontend container (dirk-hub)
  frontend/docker-compose.yaml
Labels: frontend

#4957 feat(language): add code v (Dlurak)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_v.json
Labels: waiting for update, frontend, assets

#4967 feat(languages): add Gujarati language support (prince-patel23)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/gujarati.json
Labels: frontend, assets

#4942 feat(quotes): add Kotlin quotes (Fynn-Pritzkau)
  frontend/static/quotes/code_kotlin.json
Labels: waiting for update, frontend, assets

#4978 refactor: shared types
  backend/src/api/controllers/result.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/init/configuration.ts
  backend/src/middlewares/api-utils.ts
  backend/src/middlewares/auth.ts
  backend/src/queues/later-queue.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/types/shared.ts
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
  backend/tsconfig.json
  frontend/src/ts/ape/server-configuration.ts
  frontend/src/ts/types/types.d.ts
  frontend/tsconfig.json
  shared-types/types.d.ts
Labels: backend, frontend

#4888 impr(quotes): added 23 portuguese quotes (nivaldinho-jpg)
  frontend/static/quotes/portuguese.json
Labels: waiting for update, frontend, assets

#4983 refactor: Formated and change a property of gujarati.json(prince-patel23)
  frontend/static/languages/gujarati.json
Labels: frontend, assets

#4981 refactor: quotes types (zaitsev-oleksii)
  frontend/src/ts/ape/endpoints/quotes.ts
  frontend/src/ts/ape/types/ape.d.ts
  frontend/src/ts/ape/types/quotes.d.ts
  frontend/src/ts/popups/quote-approve-popup.ts
  frontend/src/ts/popups/quote-search-popup.ts
Labels: frontend

#4986 chore: upgrade axios from 0.21.4 to 1.6.4
  frontend/package-lock.json
  frontend/package.json
Labels: frontend
