Repository monkeytypegame/monkeytype, pull requests merged in 2024-06, with the labels that each got.

#5465 impr(quotes): Correct typos and added quotes (faq0)
  frontend/static/quotes/chinese_simplified.json
Labels: frontend, assets

#5468 fix: test activity graph bugs (fehmer)
  backend/__tests__/api/controllers/user.spec.ts
  backend/src/api/controllers/user.ts
  frontend/__tests__/elements/test-activity-calendar.spec.ts
  frontend/src/ts/elements/test-activity-calendar.ts
Labels: backend, frontend

#5474 fix: misaligned tooltip in terms-of-service (extoplasm)
  frontend/src/terms-of-service.html
Labels: frontend

#5475 impr(quotes): add hindi quote (atypicalesper)
  frontend/static/quotes/hindi.json
Labels: frontend, assets

#5466 fix: fix backspace to previous word in stop on letter (NadAlaba)
  frontend/src/ts/controllers/input-controller.ts
Labels: frontend

#5423 impr: optimize use of fontawesome (fehmer)
  .eslintignore
  .gitignore
  frontend/.eslintignore
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/fontawesome.mjs
  frontend/src/styles/fontawesome-5.scss
  frontend/src/styles/fontawesome-6.scss
  frontend/src/styles/index.scss
  frontend/src/ts/ready.ts
  frontend/static/css/fa.min.css
  frontend/static/webfonts/fa-brands-400.eot
  frontend/static/webfonts/fa-brands-400.svg
  frontend/static/webfonts/fa-brands-400.ttf
  frontend/static/webfonts/fa-brands-400.woff
  frontend/static/webfonts/fa-brands-400.woff2
  frontend/static/webfonts/fa-regular-400.eot
  frontend/static/webfonts/fa-regular-400.svg
  frontend/static/webfonts/fa-regular-400.ttf
  frontend/static/webfonts/fa-regular-400.woff
  frontend/static/webfonts/fa-regular-400.woff2
  frontend/static/webfonts/fa-solid-900.eot
  frontend/static/webfonts/fa-solid-900.svg
  frontend/static/webfonts/fa-solid-900.ttf
  frontend/static/webfonts/fa-solid-900.woff
  frontend/static/webfonts/fa-solid-900.woff2
  frontend/vite.config.js
Labels: frontend, assets

#5476 fix: year selector showing on page load (fehmer)
  frontend/src/ts/elements/test-activity.ts
Labels: frontend

#5477 fix: font awesome regular not working
  frontend/scripts/fontawesome.mjs
  frontend/src/styles/fontawesome-5.scss
  frontend/src/styles/fontawesome-6.scss
  frontend/src/styles/inputs.scss
  frontend/src/styles/test.scss
Labels: frontend

#5415 feat(theme): Add lilac_mist (sandyg6)
  frontend/static/themes/_list.json
  frontend/static/themes/lilac_mist.css
Labels: waiting for update, frontend, assets

#5481 feat(layouts): add cascade layout (HamNuggets)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5462 feat(lang): added language option portuguese_5k (acalanato)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/portuguese_5k.json
Labels: waiting for update, frontend, assets

#5486 fix: unable to rename freshly created theme (fehmer)
  backend/src/api/controllers/user.ts
  frontend/src/ts/db.ts
Labels: backend, frontend

#5496 fix: typed letters not visible in tts funbox if highlight=off (@fehmer)
  frontend/src/ts/test/test-ui.ts
  frontend/static/funbox/tts.css
Labels: frontend, assets

#5488 impr: add button to remove custom theme background (@fehmer)
  frontend/src/html/pages/settings.html
  frontend/src/styles/settings.scss
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/pages/settings.ts
Labels: frontend

#5482 impr: added character-counter component to show how many characters are left in bio and keyboard fields on profile-edit page (theiereman)
  frontend/src/html/popups.html
  frontend/src/styles/inputs.scss
  frontend/src/styles/popups.scss
  frontend/src/ts/elements/character-counter.ts
  frontend/src/ts/modals/edit-profile.ts
  frontend/src/ts/modals/quote-report.ts
  frontend/src/ts/modals/quote-submit.ts
  frontend/src/ts/modals/user-report.ts
Labels: waiting for update, frontend

#5497 fix: test activity graph showing 54 weeks (@fehmer)
  frontend/__tests__/elements/test-activity-calendar.spec.ts
  frontend/src/ts/elements/test-activity-calendar.ts
Labels: frontend

#5396 impr(dev): add endpoint to create test user/data (fehmer)
  backend/src/api/controllers/dev.ts
  backend/src/api/routes/dev.ts
  backend/src/api/routes/index.ts
  backend/src/dal/result.ts
  backend/src/dal/user.ts
  frontend/__tests__/utils/tag-builder.spec.ts
  frontend/src/html/popups.html
  frontend/src/styles/core.scss
  frontend/src/styles/media-queries-purple.scss
  frontend/src/styles/popups.scss
  frontend/src/ts/ape/endpoints/dev.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/dev.d.ts
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/index.ts
  frontend/src/ts/modals/dev-options.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/utils/async-modules.ts
  frontend/src/ts/utils/tag-builder.ts
Labels: backend, frontend

#5500 feat(layout): gallium v2 (AurimasAnskaitis)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5487 impr(custom theme rename modal): automatically select input (@fehmer)
  frontend/src/ts/modals/simple-modals.ts
Labels: frontend

#5499 feat: allow removal of password authentication (@fehmer)
  frontend/src/html/pages/settings.html
  frontend/src/styles/settings.scss
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/pages/settings.ts
Labels: frontend

#5513 feat: add test activity and streak into to the apekey endpoints (@fehmer)
  backend/__tests__/api/controllers/user.spec.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/users.ts
  backend/src/documentation/public-swagger.json
  backend/src/middlewares/rate-limit.ts
Labels: backend

#5511 impr(quotes): add Spanish quotes (Omaeda)
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#5515 fix(zipf): improve approximation of zipf distribution (@NadAlaba)
  frontend/src/ts/test/wordset.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend

#5518 feat(language): add special lazy mode replacement to serbian (while1618)
  frontend/static/languages/serbian_latin.json
Labels: frontend, assets

#5520 impr(quotes): add English quotes (connorcarey)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5519 impr(practice): random shuffle words in all practice modes (grzebiel)
  frontend/src/ts/test/practise-words.ts
Labels: waiting for update, frontend

#5525 feat(layout): add vylet (MightyAcas)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5480 impr(layout): add alt layer character to azerty (theiereman)
  frontend/static/layouts/_list.json
Labels: waiting for update, frontend, assets

#5523 fix: test activity calendar months having wrong indentation (@fehmer)
  frontend/src/ts/elements/test-activity-calendar.ts
Labels: frontend

#5533 fix(test): apply highlight mode in loading and test (mitjans)
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#5534 fix: lazy mode not working for vietnamese (@fehmer)
  frontend/static/languages/vietnamese.json
  frontend/static/languages/vietnamese_1k.json
  frontend/static/languages/vietnamese_5k.json
Labels: frontend, assets

#5536 fix: fix mexican theme being unreadable (@fehmer)
  frontend/static/themes/mexican.css
Labels: frontend, assets
