Repository monkeytypegame/monkeytype, pull requests merged in 2024-03, with the labels that each got.

#5163 fix(commandline): prevent theme switch when opening the commanline from the footer (sanidhyas3s)
  frontend/src/ts/commandline/index.ts
Labels: frontend

#5164 fix(commandline): Exact matches are selected (penguin-teal)
  frontend/src/ts/commandline/index.ts
Labels: frontend

#5178 fix: remove °C from estonian language (fehmer)
  frontend/static/languages/estonian_10k.json
  frontend/static/languages/estonian_1k.json
Labels: frontend, assets

#5174 fix: fix two percentage symbols in leaderboard (fehmer)
  frontend/src/ts/elements/leaderboards.ts
Labels: frontend

#5172 impr: hide login/signUp button if user signup is disabled (fehmer)
  frontend/src/html/header.html
  frontend/src/html/pages/login.html
  frontend/src/ts/pages/login.ts
  frontend/src/ts/ready.ts
Labels: frontend

#5169 impr: show total completed test percentage and restarts/test on profile (fehmer)
  frontend/src/ts/elements/profile.ts
Labels: frontend

#5159 impr: better handling of ghost accounts (fehmer)
  backend/src/api/controllers/user.ts
  backend/src/utils/auth.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/popups/simple-popups.ts
Labels: backend, frontend

#5152 impr(quotes): added 20 belarusian quotes
  frontend/static/quotes/belarusian.json
Labels: frontend, assets

#5184 fix: prevent automatic double newline input when quick restart set to enter (sanidhyas3s)
  frontend/src/ts/controllers/input-controller.ts
Labels: frontend

#5092 feat: indicate premium users (fehmer)
  backend/__tests__/api/controllers/user.spec.ts
  backend/__tests__/dal/leaderboards.spec.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/dal/leaderboards.ts
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
  backend/src/workers/later-worker.ts
  frontend/src/html/pages/account.html
  frontend/src/html/pages/profile.html
  frontend/src/styles/leaderboards.scss
  frontend/src/styles/nav.scss
  frontend/src/styles/profile.scss
  frontend/src/styles/test.scss
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/user-flag-controller.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/pages/profile.ts
  frontend/src/ts/test/test-ui.ts
  shared-types/types.d.ts
Labels: backend, frontend

#5199 fix: prevent print dialog to open with ctrl-shift-p (fehmer)
  frontend/src/ts/event-handlers/global.ts
Labels: frontend

#5145 impr: replace JSONSchema with ajv for faster validation (sanidhyas3s)
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/fix-quote-lengths.js
  frontend/scripts/json-validation.cjs
  package-lock.json
Labels: waiting for update, frontend

#5189 impr: use users all time leaderboard rank on account page (fehmer)
  backend/src/api/controllers/user.ts
  backend/src/types/types.d.ts
  frontend/__tests__/utils/format.spec.ts
  frontend/src/ts/constants/default-snapshot.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/utils/format.ts
  frontend/src/ts/utils/misc.ts
  monkeytype.code-workspace
  shared-types/types.d.ts
Labels: backend, frontend

#5203 feat: add ook coding language (fehmer)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_ook.json
Labels: frontend, assets

#5190 impr(quotes): add English quotes (TheExploration)
  frontend/static/quotes/english.json
Labels: waiting for update, frontend, assets

#5202 fix(language): remove capital letters in russian_10k.json (zaqzxcswsde)
  frontend/static/languages/russian_10k.json
Labels: frontend, assets

#5201 feat: add klingon language (fehmer)
  frontend/src/ts/test/words-generator.ts
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/klingon.json
  frontend/static/languages/klingon_1k.json
Labels: frontend, assets

#5170 impr: add selfhosting using docker only (fehmer)
  .dockerignore
  .eslintignore
  .github/workflows/publish-docker-images.yml
  .gitignore
  .vscode/extensions.json
  SELF_HOSTING.md
  backend/docker/compose.db-only.yml
  docker/backend-configuration.json
  docker/backend/Dockerfile
  docker/backend/applyConfig.sh
  docker/backend/entry-point.sh
  docker/docker-compose.yml
  docker/example.env
  docker/frontend/Dockerfile
  docker/frontend/firebase-config-live.ts
  docker/frontend/updateConfig.sh
  docker/serviceAccountKey-example.json
  frontend/vite.config.js
Labels: backend, frontend, docs

#5215 impr(quotes): add one english quote (MordecaiO)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5194 docs: corrected grammar in about.html
  frontend/src/html/pages/about.html
Labels: waiting for update, frontend

#5222 impr: update estonian word sets (Ksaspar)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/estonian.json
  frontend/static/languages/estonian_10k.json
  frontend/static/languages/estonian_1k.json
  frontend/static/languages/estonian_5k.json
Labels: frontend, assets

#5224 impr: replace ß in all variations of swiss german (Jeanot-Zubler)
  frontend/src/ts/test/words-generator.ts
Labels: frontend

#5223 fix: fix handling of undefined key in event handler (fehmer)
  frontend/src/ts/event-handlers/global.ts
  frontend/src/ts/ready.ts
Labels: frontend

#5227 fix: enter quick restart not working on test page (fehmer)
  frontend/src/ts/controllers/input-controller.ts
Labels: frontend

#5243 fix: login disabled after logout
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/pages/login.ts
Labels: frontend

#5234 fix: show command key tip correctly (fehmer)
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/ui.ts
Labels: frontend

#5244 chore(message): better error message
  frontend/src/ts/controllers/account-controller.ts
Labels: frontend

#5231 feat(language): add Xhosa (de-longhi)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/xhosa.json
Labels: frontend, assets

#5232 fix(language): russian_10k.json now contains 10000 words
  frontend/static/languages/russian_10k.json
Labels: frontend, assets

#5200 impr(quotes): add Mongolian quotes (filename24)
  frontend/static/quotes/mongolian.json
Labels: waiting for update, frontend, assets

#5236 impr(layout): update optimot to version 1.6 (anakojm)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5212 impr(profile/account page): show leaderboard rank percentage (fehmer)
  backend/src/api/controllers/user.ts
  frontend/src/html/pages/account.html
  frontend/src/html/pages/profile.html
  frontend/src/styles/profile.scss
  frontend/src/ts/constants/default-snapshot.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/pages/profile.ts
  shared-types/types.d.ts
Labels: backend, frontend

#5206 impr(quotes): add French quotes (Mintoo200)
  frontend/static/quotes/french.json
Labels: waiting for update, frontend, assets

#5249 impr(csv export): change main delimiter from | to , (vjgtigers)
  frontend/src/ts/utils/misc.ts
Labels: frontend

#5247 impr: update catppuccin theme (refact0r)
  frontend/static/themes/_list.json
  frontend/static/themes/catppuccin.css
Labels: frontend, assets

#5186 fix(custom text): preserve state of the textarea when applying (sanidhyas3s)
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/popups/custom-text-popup.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/test/practise-words.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/utils/url-handler.ts
Labels: frontend, waiting for review
