Repository monkeytypegame/monkeytype, pull requests merged in 2024-02, with the labels that each got.

#4980 refactor: result types
  backend/__tests__/dal/leaderboards.spec.ts
  backend/__tests__/dal/result.spec.ts
  backend/__tests__/dal/user.spec.ts
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/dal/result.ts
  backend/src/dal/user.ts
  backend/src/types/types.d.ts
  backend/src/utils/pb.ts
  backend/src/utils/prometheus.ts
  backend/src/utils/result.ts
  backend/src/utils/validation.ts
  frontend/src/ts/account/mini-result-chart.ts
  frontend/src/ts/account/pb-tables.ts
  frontend/src/ts/account/result-filters.ts
  frontend/src/ts/ape/endpoints/leaderboards.ts
  frontend/src/ts/ape/endpoints/results.ts
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/popups/mobile-test-config-popup.ts
  frontend/src/ts/popups/pb-tables-popup.ts
  frontend/src/ts/popups/quote-rate-popup.ts
  frontend/src/ts/popups/quote-report-popup.ts
  frontend/src/ts/popups/result-tags-popup.ts
  frontend/src/ts/popups/share-test-settings-popup.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/test/pace-caret.ts
  frontend/src/ts/test/practise-words.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-config.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-stats.ts
  frontend/src/ts/test/test-words.ts
  frontend/src/ts/test/words-generator.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/url-handler.ts
  shared-types/types.d.ts
Labels: backend, frontend

#4990 fix(custom text): saving a book mode test completely breaking saved book mode tests
  frontend/src/ts/popups/simple-popups.ts
  frontend/src/ts/test/custom-text.ts
Labels: frontend

#5000 fix(language): remove non-italian words from italian 7k (Ale-Flash)
  frontend/static/languages/italian_7k.json
Labels: frontend, assets

#4998 fix(language): typos in russian 10k (kae)
  frontend/static/languages/russian_10k.json
Labels: frontend, assets

#5001 feat: Ergo‑L (anakojm)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5002 impr(quotes): add 2 russian quotes (NipulM)
  frontend/static/quotes/russian.json
Labels: frontend, assets

#5005 impr(language): add 'buffer' to list of keywords in luau language (adammehaney)
  frontend/static/languages/code_luau.json
Labels: frontend, assets

#5013 test: add jquery and mocks to frontend tests (fehmer)
  frontend/__tests__/setup-tests.ts
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#5014 test: fix typescript setup in tests (fehmer)
  backend/__tests__/tsconfig.json
  frontend/__tests__/tsconfig.json
  monkeytype.code-workspace
Labels: backend, frontend

#5020 fix: ape key popup close button (andGuo)
  frontend/src/ts/popups/simple-popups.ts
Labels: frontend

#4984 feat(sounds): add `fist fight` and `rubber keys` (Absalon43)
  backend/src/api/schemas/config-schema.ts
  frontend/src/ts/commandline/lists/sound-on-click.ts
  frontend/src/ts/commandline/lists/sound-on-error.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/types/types.d.ts
  frontend/static/html/pages/settings.html
  frontend/static/sound/click14/click14_1.wav
  frontend/static/sound/click14/click14_2.wav
  frontend/static/sound/click14/click14_3.wav
  frontend/static/sound/click14/click14_4.wav
  frontend/static/sound/click14/click14_5.wav
  frontend/static/sound/click14/click14_6.wav
  frontend/static/sound/click14/click14_7.wav
  frontend/static/sound/click14/click14_8.wav
  frontend/static/sound/click15/click15_1.wav
  frontend/static/sound/click15/click15_2.wav
  frontend/static/sound/click15/click15_3.wav
  frontend/static/sound/click15/click15_4.wav
  frontend/static/sound/click15/click15_5.wav
  frontend/static/sound/error4/error4_1.wav
  frontend/static/sound/error4/error4_2.wav
Labels: waiting for update, backend, frontend

#5025 fix(lang): Fixes a singular grammar mistake in french quotes (alexkar598)
  frontend/static/quotes/french.json
Labels: frontend, assets

#5022 impr(quotes): added css quotes (ruanbuhr)
  frontend/static/quotes/code_css.json
Labels: frontend, assets

#5030 impr(quotes): Add code_assembly quotes (penguin-teal)
  frontend/static/quotes/code_assembly.json
Labels: frontend, assets

#5033 impr(quotes): add Hindi quotes (punitbhesota)
  frontend/static/quotes/hindi.json
Labels: frontend, assets

#5034 fix(language): two words concatenated on one line (penguin-teal)
  frontend/static/languages/code_c.json
Labels: frontend, assets

#5035 impr(quotes): created code_r.json in quotes including 5 quotes. (zachbrehm)
  frontend/static/quotes/code_r.json
Labels: frontend, assets

#5037 impr(language): Belarusian 5k, 10k, 25k, 50k, 100k
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/belarusian_100k.json
  frontend/static/languages/belarusian_10k.json
  frontend/static/languages/belarusian_25k.json
  frontend/static/languages/belarusian_50k.json
  frontend/static/languages/belarusian_5k.json
Labels: frontend, assets

#5038 fix(quotes): belarusian quotes
  frontend/static/quotes/belarusian.json
  frontend/static/quotes/belarusian_lacinka.json
Labels: frontend, assets

#5032 fix: leaderboard discord properties being null (fehmer)
  backend/__tests__/dal/leaderboards.spec.ts
  backend/src/dal/leaderboards.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/utils/misc.ts
  shared-types/types.d.ts
Labels: backend, frontend

#5045 feat(theme): added tangerine theme (devdenisalex)
  frontend/static/themes/_list.json
  frontend/static/themes/tangerine.css
Labels: waiting for update, frontend, assets

#5050 fix: unknown function called in capsLock detection (fehmer)
  frontend/src/ts/test/caps-warning.ts
Labels: frontend

#5048 refactor: null-safe usage of Auth.currentUser (fehmer)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ts/ape/adapters/axios-adapter.ts
  frontend/src/ts/commandline/index.ts
  frontend/src/ts/commandline/lists/custom-themes-list.ts
  frontend/src/ts/commandline/lists/presets.ts
  frontend/src/ts/commandline/lists/quote-length.ts
  frontend/src/ts/commandline/lists/random-theme.ts
  frontend/src/ts/commandline/lists/tags.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/route-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/elements/alerts.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/firebase.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/popups/quote-search-popup.ts
  frontend/src/ts/popups/simple-popups.ts
  frontend/src/ts/settings/theme-picker.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#5047 feat(theme): Added tangerine theme (devdenisalex)
  frontend/static/themes/_list.json
  frontend/static/themes/tangerine.css
Labels: frontend, assets

#5051 chore: fix vulnerabilities
  backend/package-lock.json
  backend/package.json
Labels: backend

#5052 fix: pressing space too early with the dark note theme doesnt highlight the word as incorrect (mokshsinghji)
  frontend/static/themes/dark_note.css
Labels: frontend, assets

#5055 fix: leaderboard consistency being null (fehmer)
  backend/__tests__/dal/leaderboards.spec.ts
  backend/src/dal/leaderboards.ts
  frontend/src/ts/elements/leaderboards.ts
  shared-types/types.d.ts
Labels: backend, frontend

#5062 impr: Hide input fields indicators on Sign Up page after logged out (underscoore)
  frontend/src/ts/pages/login.ts
Labels: frontend

#5060 chore: update node version to 18.19.1
  .github/workflows/monkey-ci.yml
  .github/workflows/pretty-fix.yml
  .nvmrc
  CONTRIBUTING_ADVANCED.md
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Labels: backend, frontend, docs

#5053 impr(quote): Add Code C quotes (penguin-teal
  frontend/static/quotes/code_c.json
Labels: frontend, assets

#5065 refactor: replace select2 with slim-select
  frontend/package-lock.json
  frontend/package.json
  frontend/src/styles/inputs.scss
  frontend/src/styles/leaderboards.scss
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/index.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/popups/quote-report-popup.ts
  frontend/src/ts/popups/quote-search-popup.ts
  frontend/src/ts/popups/quote-submit-popup.ts
  frontend/src/ts/popups/user-report-popup.ts
  frontend/src/ts/popups/word-filter-popup.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/settings/settings-group.ts
  frontend/static/css/select2.min.css
  frontend/static/css/slimselect.min.css
  frontend/static/html/pages/settings.html
  frontend/static/html/popups.html
  frontend/webpack/config.base.js
Labels: frontend

#5082 fix(language): typos in russian_10k.json (kae)
  frontend/static/languages/russian_10k.json
Labels: frontend, assets

#5086 feat: Add copy missed words to result screen
  frontend/src/styles/test.scss
  frontend/src/ts/test/test-ui.ts
  frontend/static/html/pages/test.html
Labels: frontend

#5078 impr(funbox): add 46 group languages to wikipedia (realcyguy)
  frontend/src/ts/test/wikipedia.ts
Labels: frontend

#5074 impr: provide all-time LB results during LB update (fehmer)
  backend/src/dal/leaderboards.ts
Labels: backend

#5073 impr(funbox): add ` (grave accent, 96) and ~ (tilde, 126) to specials (fitzsim)
  frontend/src/ts/utils/misc.ts
Labels: frontend

#5085 feat: add testWords and wordsHistory to copy result stats
  frontend/src/ts/test/test-stats.ts
Labels: frontend

#5080 refactor: shared user types
  backend/__tests__/dal/leaderboards.spec.ts
  backend/__tests__/dal/result.spec.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/quotes.ts
  backend/src/dal/leaderboards.ts
  backend/src/dal/result.ts
  backend/src/dal/user.ts
  backend/src/middlewares/api-utils.ts
  backend/src/types/types.d.ts
  backend/src/utils/monkey-mail.ts
  backend/src/workers/later-worker.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ts/account/result-filters.ts
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/ape/types/ape.d.ts
  frontend/src/ts/ape/types/users.d.ts
  frontend/src/ts/ape/utils.ts
  frontend/src/ts/commandline/index.ts
  frontend/src/ts/commandline/lists/custom-themes-list.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-snapshot.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/quotes-controller.ts
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/elements/profile.ts
  frontend/src/ts/pages/profile.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/popups/edit-preset-popup.ts
  frontend/src/ts/popups/edit-profile-popup.ts
  frontend/src/ts/popups/edit-tags-popup.ts
  frontend/src/ts/popups/quote-search-popup.ts
  frontend/src/ts/popups/simple-popups.ts
  frontend/src/ts/settings/theme-picker.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/url-handler.ts
  frontend/webpack/config.base.js
  shared-types/types.d.ts
Labels: backend, frontend

#5091 fix: leaderboard tables having different column width (fehmer)
  frontend/static/html/popups.html
Labels: frontend

#5094 impr(quotes): Added Spanish quotes (devdenisalex)
  frontend/static/quotes/spanish.json
Labels: frontend, assets

#5088 feat(theme): Add macroblank theme (TheExploration)
  frontend/static/themes/_list.json
  frontend/static/themes/macroblank.css
Labels: frontend, assets

#5096 build: replace webpack with vite
  .github/workflows/monkey-ci.yml
  .gitignore
  .release-it-fe.json
  .release-it.json
  frontend/firebase.json
  frontend/gulpfile.js
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/scripts/json-validation.cjs
  frontend/src/email-handler.html
  frontend/src/html/footer.html
  frontend/src/html/head.html
  frontend/src/html/header.html
  frontend/src/html/pages/404.html
  frontend/src/html/pages/about.html
  frontend/src/html/pages/account.html
  frontend/src/html/pages/loading.html
  frontend/src/html/pages/login.html
  frontend/src/html/pages/profile.html
  frontend/src/html/pages/settings.html
  frontend/src/html/pages/test.html
  frontend/src/html/popups.html
  frontend/src/html/warnings.html
  frontend/src/index.html
  frontend/src/privacy-policy.html
  frontend/src/security-policy.html
  frontend/src/styles/404.scss
  frontend/src/styles/caret.scss
  frontend/src/styles/fonts.scss
  frontend/src/styles/monkey.scss
  frontend/src/terms-of-service.html
  frontend/src/ts/ape/adapters/axios-adapter.ts
  frontend/src/ts/commandline/lists/sound-on-click.ts
  frontend/src/ts/commandline/lists/sound-on-error.ts
  frontend/src/ts/commandline/lists/sound-volume.ts
  frontend/src/ts/constants/env-config.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/elements/no-css.ts
  frontend/src/ts/index.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/test/replay.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/logger.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/version.ts
  frontend/static/manifest.json
  frontend/tsconfig.json
  frontend/vite.config.js
  frontend/webpack/config.audit.js
  frontend/webpack/config.base.js
  frontend/webpack/config.dev.js
  frontend/webpack/config.prod.js
  package.json
Labels: frontend, assets

#5098 impr(quotes): add 3 english quotes (NipulM)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5099 impr(quotes): add JavaScript quote (NipulM)
  frontend/static/quotes/code_javascript.json
Labels: frontend, assets

#5100 fix(language): Update turkish_5k.json (myakinx)
  frontend/static/languages/turkish_5k.json
Labels: waiting for update, frontend, assets

#5109 impr: remove usage of jQuery getJSON (fehmer)
  frontend/src/ts/controllers/quotes-controller.ts
  frontend/src/ts/test/british-english.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend

#5108 feat(language): add english medical (aarnav593)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/english_medical.json
Labels: frontend, assets

#5105 test: replace jest with vitest on frontend (fehmer)
  .gitignore
  .vscode/extensions.json
  frontend/__tests__/setup-tests.ts
  frontend/__tests__/tsconfig.json
  frontend/__tests__/utils/format.spec.ts
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/vitest.config.js
  monkeytype.code-workspace
Labels: frontend

#5119 fix: personal bests not shown correctly on user tags (fehmer)
  frontend/src/ts/db.ts
  frontend/src/ts/test/result.ts
Labels: frontend

#5116 fix: ctrl+backspace replay bug (ashinberish)
  frontend/src/ts/controllers/input-controller.ts
Labels: frontend

#5125 impr(quotes): add Dutch quotes (devdenisalex)
  frontend/static/quotes/dutch.json
Labels: frontend, assets

#5132 fix: fix wrong usage of DB.getLocalPB
  frontend/src/ts/test/pace-caret.ts
Labels: frontend

#5120 impr: floor accuracy intead of rounding when not showing decimal places (fehmer)
  frontend/__tests__/utils/format.spec.ts
  frontend/src/ts/account/pb-tables.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/popups/pb-tables-popup.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/utils/format.ts
Labels: frontend

#5137 impr(languages): replace 2 fake code_vim commands with real ones (penguin-teal)
  frontend/static/languages/code_vim.json
Labels: frontend, assets

#5143 fix: PB pace caret is always zero
  frontend/src/ts/db.ts
Labels: frontend

#5146 fix: fix tags personal bests handling of missing numbers flag (fehmer)
  frontend/src/ts/db.ts
  frontend/src/ts/elements/last-10-average.ts
  frontend/src/ts/test/pace-caret.ts
Labels: frontend

#4995 chore: allow docker compose to start the backend server (plbstl)
  .dockerignore
  CONTRIBUTING_ADVANCED.md
  backend/docker/compose.db-only.yml
  backend/docker/compose.yml
  backend/example.env
  backend/package.json
  frontend/docker-compose.yaml
  frontend/docker/compose.dev.yml
  frontend/package.json
  frontend/vite.config.js
Labels: waiting for update, backend, frontend, docs

#5153 chore: fix ESLint complaining about typescript version (fehmer)
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Labels: frontend

#5162 refactor: modal system
  frontend/src/html/popups.html
  frontend/src/styles/popups.scss
  frontend/src/ts/popups/animated-modal.ts
  frontend/src/ts/popups/import-export-settings-popup.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend
