Repository monkeytypegame/monkeytype, pull requests merged in 2024-08, with the labels that each got.

#5704 build(backend): activate inspector to attach debuggers (@NadAlaba)
  backend/package.json
Labels: backend

#5708 impr(server): store some logs forever (@miodec)
  backend/src/api/controllers/quote.ts
  backend/src/api/controllers/result.ts
  backend/src/api/controllers/user.ts
  backend/src/dal/leaderboards.ts
  backend/src/dal/logs.ts
  backend/src/dal/user.ts
  backend/src/init/configuration.ts
  backend/src/jobs/delete-old-logs.ts
  backend/src/middlewares/error.ts
  backend/src/utils/logger.ts
  backend/src/workers/email-worker.ts
Labels: backend

#5706 impr: use tsrest for ape-keys endpoint (@fehmer)
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/ape-key.ts
  backend/src/api/routes/ape-keys.ts
  backend/src/api/routes/index.ts
  backend/src/dal/ape-keys.ts
  backend/src/documentation/internal-swagger.json
  backend/src/types/types.d.ts
  frontend/src/ts/ape/endpoints/ape-keys.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/ape-keys.d.ts
  frontend/src/ts/modals/ape-keys.ts
  frontend/src/ts/modals/simple-modals.ts
  packages/contracts/src/ape-keys.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/ape-keys.ts
  packages/contracts/src/schemas/api.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

#5711 fix: don't use fetch timeout on very old browsers (@fehmer)
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

#5700 build(contracts): fix output paths for windows (@NadAlaba)
  packages/contracts/esbuild.config.js
Labels: packages

#5714 fix(frontend api adapter): use abortcontroller.abort when abortsignal.timeout is not available (@miodec)
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

#5705 impr(quotes): add star trek quotes (@266-750Balloons)
  frontend/static/quotes/english.json
Labels: frontend, assets

#5702 impr(settings): replace sound volume with a slider (@amarnathsama)
  frontend/__tests__/root/config.spec.ts
  frontend/src/html/pages/settings.html
  frontend/src/ts/commandline/lists/sound-volume.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/pages/settings.ts
  packages/contracts/src/schemas/configs.ts
Labels: waiting for update, frontend, packages

#5715 impr(pace caret): add tags pb mode (@NadAlaba)
  frontend/src/html/pages/settings.html
  frontend/src/ts/commandline/lists/pace-caret.ts
  frontend/src/ts/commandline/lists/tags.ts
  frontend/src/ts/config.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/test/pace-caret.ts
  packages/contracts/src/schemas/configs.ts
Labels: frontend, packages

#5719 fix: csp preventing new documentation unable to display logo (@fehmer)
  backend/src/api/routes/index.ts
Labels: backend

#5724 feat(funbox): added hexadecimal (@asasine)
  backend/src/constants/funbox-list.ts
  frontend/__tests__/utils/generate.spec.ts
  frontend/src/ts/test/funbox/funbox-list.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/utils/generate.ts
  frontend/static/funbox/_list.json
Labels: backend, frontend, assets

#5727 ci: run time improvements (@miodec)
  .github/workflows/monkey-ci.yml
  backend/src/server.ts
Labels: backend

#5740 chore: fix tests using machine timezone (@fehmer)
  .eslintignore
  backend/__tests__/global-setup.ts
  frontend/__tests__/global-setup.ts
  frontend/vitest.config.js
Labels: backend, frontend

#5713 impr: use tsrest for admin endpoint (@fehmer)
  backend/__tests__/api/controllers/admin.spec.ts
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/__tests__/dal/admin-uids.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/admin.ts
  backend/src/api/controllers/user.ts
  backend/src/api/routes/admin.ts
  backend/src/api/routes/index.ts
  backend/src/dal/admin-uids.ts
  backend/src/utils/auth.ts
  packages/contracts/src/admin.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/api.ts
Labels: backend, packages

#5741 feat(layout): add the romak layout (@rafaelromao)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#5726 fix(caret): jumping in word tape mode and other issues (@NadAlaba)
  frontend/src/ts/test/caret.ts
Labels: frontend

#5712 impr: use tsrest for psa endpoints (@fehmer)
  backend/__tests__/api/controllers/psa.spec.ts
  backend/__tests__/utils/misc.spec.ts
  backend/package.json
  backend/redocly.yaml
  backend/scripts/openapi.ts
  backend/src/api/controllers/psa.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/psas.ts
  backend/src/dal/psa.ts
  backend/src/documentation/internal-swagger.json
  backend/src/utils/misc.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/psas.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/elements/psa.ts
  packages/contracts/src/index.ts
  packages/contracts/src/psas.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/psas.ts
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: backend, frontend, packages

#5743 refactor: move release code to a package (@miodec)
  backend/__tests__/dal/admin-uids.spec.ts
  package.json
  packages/eslint-config/index.js
  packages/release/.eslintrc.cjs
  packages/release/bin/deployBackend.sh
  packages/release/bin/purgeCfCache.sh
  packages/release/package.json
  packages/release/src/buildChangelog.js
  packages/release/src/index.js
  pnpm-lock.yaml
Labels: backend, packages

#5744 chore: add more badges to readme (@fehmer)
  README.md
Labels: docs

#5745 fix: remove tailing slashes from new endpoint urls (@fehmer)
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
  packages/contracts/src/admin.ts
  packages/contracts/src/ape-keys.ts
  packages/contracts/src/configs.ts
  packages/contracts/src/psas.ts
Labels: frontend, packages

#5746 chore: add test for recordClientVersion (@fehmer)
  backend/__tests__/api/controllers/psa.spec.ts
  packages/contracts/src/presets.ts
Labels: backend, packages

#5716 impr: use tsrest for public endpoints (@fehmer)
  backend/__tests__/api/controllers/public.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/public.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/public.ts
  backend/src/dal/public.ts
  backend/src/utils/pb.ts
  backend/src/utils/prometheus.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/public.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/modals/pb-tables.ts
  frontend/src/ts/modals/share-test-settings.ts
  frontend/src/ts/pages/about.ts
  frontend/src/ts/test/pace-caret.ts
  packages/contracts/src/index.ts
  packages/contracts/src/public.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/public.ts
  packages/contracts/src/schemas/shared.ts
  packages/contracts/src/schemas/util.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

#5751 chore: remove some unnecessary root dependencies, move to correct packages (@miodec)
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: packages

#5750 refactor: implement recordClientVersion as middleware (@fehmer)
  backend/src/api/routes/docs.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/psas.ts
  backend/src/middlewares/utility.ts
Labels: backend

#5752 refactor: use single client for whole contract on frontend (@fehmer)
  frontend/src/ts/ape/index.ts
  frontend/src/ts/pages/about.ts
Labels: frontend

#5755 fix: documentation link in settings (@fehmer)
  frontend/src/html/pages/settings.html
Labels: frontend

#5762 chore: add test case for apekey permission bug (@fehmer)
  backend/__tests__/api/controllers/ape-key.spec.ts
Labels: backend

#5759 fix(save custom text modal): save button not being enabled (@brenob6)
  frontend/src/ts/modals/save-custom-text.ts
Labels: frontend

#5757 fix(language): add one thousandth word to english 1k (@avick-saha)
  frontend/static/languages/english_1k.json
Labels: frontend, assets

#5761 impr: most common 200 words in Filipino.json (@Killer8Hyper)
  frontend/static/languages/filipino.json
Labels: frontend, assets

#5767 chore: add 3 Paulo Coelho qutoes to german.json (@neinja007)
  frontend/static/quotes/german.json
Labels: frontend, assets

#5717 impr: use tsrest for leaderboard endpoints (@fehmer)
  backend/__tests__/__testData__/auth.ts
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/api/controllers/public.spec.ts
  backend/__tests__/dal/leaderboards.spec.ts
  backend/package.json
  backend/scripts/openapi.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/leaderboards.ts
  backend/src/dal/leaderboards.ts
  backend/src/documentation/internal-swagger.json
  backend/src/documentation/public-swagger.json
  backend/src/jobs/update-leaderboards.ts
  backend/src/queues/george-queue.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/utils/daily-leaderboards.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/leaderboards.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/leaderboards.d.ts
  frontend/src/ts/config.ts
  frontend/src/ts/elements/leaderboards.ts
  frontend/src/ts/types/types.d.ts
  packages/contracts/src/index.ts
  packages/contracts/src/leaderboards.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/configs.ts
  packages/contracts/src/schemas/leaderboards.ts
  packages/contracts/src/schemas/util.ts
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: backend, frontend, packages

#5768 impr: update filipino word list (@Killer8Hyper)
  frontend/static/languages/filipino.json
Labels: frontend, assets

#5763 impr: add local storage with schema class (@miodec)
  backend/src/dal/user.ts
  frontend/__tests__/elements/account/result-filters.spec.ts
  frontend/__tests__/test/misc.spec.ts
  frontend/__tests__/utils/local-storage-with-schema.spec.ts
  frontend/src/ts/ape/endpoints/users.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-result-filters.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/tag-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/elements/merch-banner.ts
  frontend/src/ts/elements/psa.ts
  frontend/src/ts/modals/cookies.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/states/arabic-lazy-mode.ts
  frontend/src/ts/states/version.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/local-storage-with-schema.ts
  frontend/src/ts/utils/logger.ts
  frontend/src/ts/utils/misc.ts
  packages/contracts/src/schemas/users.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages

#5770 chore: update vitest to 2.0.5 (@fehmer)
  backend/package.json
  backend/vitest.config.js
  frontend/package.json
  package.json
  pnpm-lock.yaml
Labels: backend, frontend

#5777 impr: log unknown validation errors (@fehmer)
  backend/src/api/routes/index.ts
Labels: backend

#5780 ci: fix backend vitest.config (@fehmer)
  backend/vitest.config.js
Labels: backend

#5788 fix: result filters getting reset on page load (@fehmer)
  frontend/src/ts/elements/account/result-filters.ts
Labels: frontend

#5791 impr(ci): add ability to run ci on draft pull requests (@miodec)
  .github/workflows/monkey-ci.yml
Labels: force-full-ci

#5790 fix: legacy values in config not getting migrated (@fehmer)
  frontend/__tests__/utils/config.spec.ts
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/modals/import-export-settings.ts
  frontend/src/ts/utils/config.ts
Labels: frontend

#5801 impr: optimize permissions middleware (@fehmer)
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/src/api/routes/ape-keys.ts
  backend/src/api/routes/quotes.ts
  backend/src/api/routes/users.ts
  backend/src/middlewares/permission.ts
Labels: backend

#5792 chore: make sure MongoDbMock is using the same configuration (@fehmer)
  backend/__tests__/global-setup.ts
  backend/__tests__/setup-tests.ts
Labels: backend, force-ci

#5754 fix(hints): hide hints in blind mode and update position on some config changes (@NadAlaba)
  frontend/src/styles/test.scss
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/ui.ts
Labels: frontend, Stale

#5798 impr: move account settings to a separate page (@miodec)
  frontend/src/html/header.html
  frontend/src/html/pages/account-settings.html
  frontend/src/html/pages/settings.html
  frontend/src/html/popups.html
  frontend/src/index.html
  frontend/src/styles/account-settings.scss
  frontend/src/styles/account.scss
  frontend/src/styles/index.scss
  frontend/src/styles/media-queries-blue.scss
  frontend/src/styles/media-queries-green.scss
  frontend/src/styles/media-queries-purple.scss
  frontend/src/styles/media-queries-yellow.scss
  frontend/src/styles/media-queries.scss
  frontend/src/styles/nav.scss
  frontend/src/styles/settings.scss
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/page-controller.ts
  frontend/src/ts/controllers/route-controller.ts
  frontend/src/ts/elements/account-button.ts
  frontend/src/ts/elements/account-settings/ape-key-table.ts
  frontend/src/ts/elements/settings/account-settings-notice.ts
  frontend/src/ts/elements/sign-in-out-button.ts
  frontend/src/ts/event-handlers/settings.ts
  frontend/src/ts/index.ts
  frontend/src/ts/modals/ape-keys.ts
  frontend/src/ts/modals/dev-options.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/pages/account-settings.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/types/types.d.ts
  frontend/src/ts/utils/simple-modal.ts
  frontend/src/ts/utils/url-handler.ts
  frontend/static/funbox/crt.css
  frontend/static/themes/aurora.css
  frontend/static/themes/dots.css
  frontend/static/themes/fire.css
  frontend/static/themes/grape.css
  frontend/static/themes/rainbow_trail.css
  frontend/static/themes/rgb.css
  frontend/static/themes/shadow.css
  frontend/static/themes/trance.css
Labels: frontend, assets

#5796 impr: use tsrest for configurations endpoint (@fehmer)
  backend/__tests__/__testData__/auth.ts
  backend/__tests__/api/controllers/configuration.spec.ts
  backend/__tests__/middlewares/auth.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/admin.ts
  backend/src/api/controllers/configuration.ts
  backend/src/api/controllers/leaderboard.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/configuration.ts
  backend/src/api/routes/index.ts
  backend/src/constants/base-configuration.ts
  backend/src/dal/user.ts
  backend/src/init/configuration.ts
  backend/src/middlewares/auth.ts
  backend/src/middlewares/configuration.ts
  backend/src/middlewares/permission.ts
  backend/src/middlewares/utility.ts
  backend/src/queues/later-queue.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/types/types.d.ts
  backend/src/utils/daily-leaderboards.ts
  frontend/src/ts/ape/endpoints/configuration.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/server-configuration.ts
  packages/contracts/src/configuration.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/configuration.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages, force-ci

#5817 refactor: updateURL function for improved maintainability (@anthonypz)
  frontend/src/ts/modals/share-test-settings.ts
Labels: frontend

#5800 impr: use tsrest for dev endpoints (@fehmer)
  backend/__tests__/api/controllers/dev.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/dev.ts
  backend/src/api/routes/dev.ts
  backend/src/api/routes/index.ts
  backend/src/middlewares/utility.ts
  frontend/src/ts/ape/endpoints/dev.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/dev.d.ts
  frontend/src/ts/modals/simple-modals.ts
  packages/contracts/src/dev.ts
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/api.ts
Labels: backend, frontend, packages

#5827 refactor: remove ResultOmittableDefaultPropertiesSchema (@fehmer)
  packages/contracts/src/schemas/results.ts
Labels: packages

#5825 fix(release script): not updating root `package.json` version + not supporting some shells (@NadAlaba)
  package.json
  packages/release/package.json
  packages/release/src/buildChangelog.js
  packages/release/src/index.js
Labels: waiting for update, packages

#5826 fix(presets): Bug fix for auto-switch theme checkbox values (@amarnathsama)
  frontend/src/ts/pages/settings.ts
Labels: waiting for update, frontend

#5802 impr: use tsrest for quotes endpoints (@fehmer)
  backend/__tests__/api/controllers/quotes.spec.ts
  backend/__tests__/utils/misc.spec.ts
  backend/scripts/openapi.ts
  backend/src/api/controllers/preset.ts
  backend/src/api/controllers/quote.ts
  backend/src/api/routes/index.ts
  backend/src/api/routes/quotes.ts
  backend/src/dal/new-quotes.ts
  backend/src/dal/quote-ratings.ts
  backend/src/documentation/internal-swagger.json
  backend/src/types/types.d.ts
  backend/src/utils/misc.ts
  frontend/src/ts/ape/endpoints/index.ts
  frontend/src/ts/ape/endpoints/quotes.ts
  frontend/src/ts/ape/index.ts
  frontend/src/ts/ape/types/quotes.d.ts
  frontend/src/ts/event-handlers/global.ts
  frontend/src/ts/modals/quote-approve.ts
  frontend/src/ts/modals/quote-rate.ts
  frontend/src/ts/modals/quote-report.ts
  frontend/src/ts/modals/quote-search.ts
  frontend/src/ts/modals/quote-submit.ts
  frontend/src/ts/utils/misc.ts
  packages/contracts/src/index.ts
  packages/contracts/src/quotes.ts
  packages/contracts/src/schemas/api.ts
  packages/contracts/src/schemas/quotes.ts
  packages/contracts/src/schemas/util.ts
  packages/shared-types/src/index.ts
Labels: backend, frontend, packages, force-ci
