Repository monkeytypegame/monkeytype, pull requests merged in 2025-01, with the labels that each got.

#6100 impr: center mini stats when using tape mode (@notTamion)
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#6104 fix: some funboxes not working if reduced motion is preferred (@fehmer)
  frontend/src/styles/media-queries.scss
  frontend/src/ts/test/funbox/funbox.ts
  packages/funbox/src/list.ts
  packages/funbox/src/types.ts
Labels: frontend, packages

#6116 impr(language): rework uzbek lists (@Sonotoki-da)
  frontend/static/languages/uzbek.json
  frontend/static/languages/uzbek_1k.json
  frontend/static/languages/uzbek_70k.json
Labels: frontend, assets

#6132 fix(language): add missing ligatures property to khmer (@Earpengai)
  frontend/static/languages/khmer.json
Labels: frontend, assets

#6133 feat(result page): open daily leaderboard when clicking the daily leaderboard rank (@theiereman)
  frontend/src/html/pages/test.html
  frontend/src/styles/test.scss
  frontend/src/ts/elements/leaderboards.ts
Labels: frontend

#6141 feat(language): added tamil_old (@VIZL-23)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/tamil_old.json
  frontend/static/themes/_list.json
Labels: frontend, waiting for review, assets

#6143 impr(quotes): Add Star Trek quote from Kirk about change (@ItsDrike)
  frontend/static/quotes/english.json
Labels: frontend, assets

#6154 fix(quotes): fix typo in German quote (@MapManagement)
  frontend/static/quotes/german.json
Labels: frontend, assets

#6155 fix: funbox plus x not working with custom text using pipe delimiter (@fehmer)
  frontend/src/ts/test/words-generator.ts
  packages/funbox/package.json
  pnpm-lock.yaml
Labels: frontend, packages

#6144 impr(quotes): add english quotes (@rmenai)
  frontend/static/quotes/english.json
Labels: frontend, assets

#6074 impr(language): russian list improvements (@psq4)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/russian.json
  frontend/static/languages/russian_1k.json
  frontend/static/languages/russian_5k.json
  frontend/static/languages/russian_abbreviations.json
  frontend/static/languages/russian_contractions.json
  frontend/static/languages/russian_contractions_1k.json
Labels: frontend, assets

#6075 feat(language): add tatar 200, 1k, 5k and 10k (@psq4)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/tatar.json
  frontend/static/languages/tatar_1k.json
  frontend/static/languages/tatar_5k.json
  frontend/static/languages/tatar_9k.json
Labels: frontend, assets

#6164 fix(language): azerbaijani typos (@J3ikar)
  frontend/static/languages/azerbaijani.json
  frontend/static/languages/azerbaijani_1k.json
Labels: frontend, assets

#6166 feat(font): add parkinsans (@binekrasik)
  frontend/src/styles/fonts.scss
  frontend/static/fonts/_list.json
  frontend/static/webfonts/Parkinsans-Regular.woff2
Labels: frontend, assets

#6171 fix(language): swiss german 1k typos (@boessu)
  frontend/static/languages/swiss_german_1k.json
Labels: frontend, assets

#6172 fix(quotes): remove english quotes in french file (@raffaeldp)
  frontend/static/quotes/french.json
Labels: frontend, assets

#6175 feat: Add quote to german.json (@boessu)
  frontend/static/quotes/german.json
Labels: frontend, assets

#6187 fix(language): remove british english words (@AnnaBuchholz)
  frontend/static/languages/english_commonly_misspelled.json
Labels: frontend, assets

#6186 fix: blind mode not working in dark note theme (@fehmer)
  frontend/static/themes/dark_note.css
Labels: frontend, assets

#6200 ci: Limit permissions for the update labels workflow (@fehmer)
  .github/workflows/update-labels.yml
Labels: waiting for review, force-ci

#6214 chore: upgrade to vite 6 (@miodec)
  frontend/package.json
  pnpm-lock.yaml
Labels: frontend
