Repository monkeytypegame/monkeytype, pull requests merged in 2025-07, with the labels that each got.

#6686 impr(quotes): fixing the last added Russian quotes (@WormholeDragon)
  frontend/static/quotes/russian.json
Labels: frontend, assets

#6684 fix(commandline): prevent duplicate entries in Polyglot and Layoutfluid funbox modes (@byseif21)
  frontend/src/ts/config.ts
Labels: frontend

#6673 impr(test-screenshot): Show download screenshot button when holding shift on result page (@raaid3)
  frontend/src/html/pages/test.html
  frontend/src/ts/test/test-screenshot.ts
Labels: frontend, waiting for review

#6674 feat(font): add iosevka (@leana8959)
  frontend/src/styles/fonts.scss
  frontend/static/fonts/_list.json
  frontend/static/webfonts/Iosevka-Regular.woff2
Labels: frontend, assets

#6675 fix(input-controller): update keymap UI on backspace in layout emulator (@47th)
  frontend/src/ts/controllers/input-controller.ts
Labels: frontend

#6642 fix(caret): misalignment issue when switching between carets (@byseif21)
  frontend/src/ts/test/caret.ts
Labels: frontend

#6661 feat(settings): Add deep links to specific sections (@fehmer)
  frontend/src/html/pages/settings.html
  frontend/src/styles/animations.scss
  frontend/src/styles/settings.scss
  frontend/src/ts/elements/settings/settings-group.ts
  frontend/src/ts/event-handlers/settings.ts
  frontend/src/ts/pages/settings.ts
  monkeytype.code-workspace
  packages/contracts/src/schemas/configs.ts
Labels: frontend, waiting for review, packages, force-ci

#6693 fix(config): remove special handling for font size 15 (@fehmer)
  frontend/__tests__/root/config.spec.ts
  frontend/__tests__/utils/config.spec.ts
  frontend/src/ts/config.ts
  frontend/src/ts/utils/config.ts
Labels: frontend

#6699 fix: pin implementation (@fehmer)
  frontend/src/ts/test/words-generator.ts
  frontend/src/ts/utils/json-data.ts
  packages/util/src/numbers.ts
Labels: frontend, packages

#6710 fix(leaderboard): use minTimeTyping from configuration (@fehmer)
  backend/src/api/controllers/result.ts
  backend/src/dal/leaderboards.ts
  frontend/src/ts/pages/leaderboards.ts
Labels: backend, frontend

#6629 refactor(hints): improve readability of hints functions (@NadAlaba)
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/ui.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend

#6719 fix(settings): fix highlight not visible with reduced-motion (@fehmer)
  frontend/src/styles/settings.scss
Labels: frontend

#6716 refactor(hints): allow joinOverlappingHints to run on joined hints (@NadAlaba)
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#6714 fix(zen): remove input length check to prevent jump to hidden line (@byseif21, @NadAlaba)
  frontend/src/ts/controllers/input-controller.ts
Labels: frontend

#6727 impr(quotes): 15 polish movie quotes for polish language (@sobczaktm)
  frontend/static/quotes/polish.json
Labels: frontend, assets

#6731 fix(profile): remove previous error message on page load (@fehmer)
  frontend/src/ts/pages/profile.ts
Labels: frontend

#6733 fix(leaderboards): content overflow on smaller screens (@byseif21, @miodec)
  frontend/src/html/pages/leaderboards.html
  frontend/src/styles/core.scss
  frontend/src/styles/leaderboards.scss
  frontend/src/styles/media-queries-brown.scss
  frontend/src/styles/media-queries-gray.scss
  frontend/src/styles/media-queries-purple.scss
  frontend/src/styles/media-queries.scss
  frontend/src/ts/pages/leaderboards.ts
Labels: frontend

#6717 impr(settings): clarified 'reset settings' wording (@SamLonneman)
  frontend/src/html/pages/settings.html
  packages/contracts/src/schemas/presets.ts
Labels: frontend, packages

#6662 impr(quotes): Add 24 english quotes from The Pragmatic Programmer (@Papweer)
  frontend/static/quotes/english.json
Labels: frontend, assets

#6741 feat(funbox): add no quit (@miodec)
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/route-controller.ts
  frontend/src/ts/test/funbox/list.ts
  frontend/src/ts/test/test-logic.ts
  packages/contracts/src/schemas/configs.ts
  packages/funbox/src/list.ts
Labels: frontend, packages

#6753 refactor(config): config metadata (@miodec)
  backend/__tests__/api/controllers/config.spec.ts
  backend/__tests__/api/controllers/preset.spec.ts
  frontend/__tests__/root/config.spec.ts
  frontend/__tests__/utils/url-handler.spec.ts
  frontend/src/ts/commandline/lists/quote-length.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/keymap.ts
  frontend/src/ts/modals/mobile-test-config.ts
  frontend/src/ts/modals/quote-search.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/test/caret.ts
  frontend/src/ts/test/pace-caret.ts
  frontend/src/ts/test/test-config.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/test/words-generator.ts
  frontend/src/ts/ui.ts
  frontend/src/ts/utils/config.ts
  frontend/src/ts/utils/url-handler.ts
  packages/contracts/src/schemas/configs.ts
Labels: backend, frontend, packages

#6760 impr(quotes): 15 polish proverbs and other quotes for polish language (@sobczaktm)
  frontend/static/quotes/polish.json
Labels: frontend, assets

#6755 fix(quotes): code_rust compilation and whitespace (@nafets-st)
  frontend/static/quotes/code_rust.json
Labels: frontend, waiting for review, assets

#6750 feat(font): add 0xProto font (@0x7375)
  frontend/src/styles/fonts.scss
  frontend/static/fonts/_list.json
  frontend/static/webfonts/0xProto-Regular.woff2
Labels: frontend, assets

#6744 fix(account-history): highlight animation is not working on result selection (@byseif21)
  frontend/src/styles/account.scss
  frontend/src/styles/animations.scss
  frontend/src/ts/pages/account.ts
Labels: frontend, waiting for review

#6759 feat(sound): add play time warning (@miodec)
  frontend/src/html/pages/settings.html
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/commandline/lists/time-warning.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/controllers/sound-controller.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/test/test-timer.ts
  frontend/static/sound/timeWarning.wav
  packages/schemas/src/configs.ts
Labels: frontend, assets, packages

#6769 refactor(config meta): split into its own file (@miodec)
  frontend/src/ts/config-metadata.ts
  frontend/src/ts/config.ts
Labels: frontend

#6761 chore(funbox): increase layout_mirror difficulty to level 3 (@ShizukoV)
  packages/funbox/src/list.ts
Labels: packages

#6770 refactor(config): split config and config-metadata tests (@fehmer)
  frontend/__tests__/root/config-metadata.spec.ts
  frontend/__tests__/root/config.spec.ts
  frontend/src/ts/config.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend, waiting for review

#6774 docs(self-hosting): improve grammar and structure of setup guide (@nitin-is-me)
  docs/SELF_HOSTING.md
Labels: docs

#6778 fix(quotes): code_java compilation fixes (@nafets-st)
  frontend/static/quotes/code_java.json
Labels: frontend, assets

#6745 fix(themes): clipped logo letters in some themes (@byseif21)
  frontend/static/themes/incognito.css
  frontend/static/themes/rainbow_trail.css
  frontend/static/themes/sewing_tin_light.css
  frontend/static/themes/suisei.css
Labels: frontend, assets

#6743 feat(language): add moroccan arabic (@Soufi-ane)
  frontend/src/ts/constants/languages.ts
  frontend/static/languages/arabic_morocco.json
  packages/schemas/src/languages.ts
Labels: frontend, waiting for review, assets, packages

#6780 refactor(schema): move font config to schema (@fehmer)
  .github/pull_request_template.md
  docs/FONTS.md
  docs/LANGUAGES.md
  docs/LAYOUTS.md
  docs/THEMES.md
  frontend/__tests__/constants/fonts.spec.ts
  frontend/scripts/font-preview.ts
  frontend/scripts/json-validation.cjs
  frontend/src/styles/fonts.scss
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/commandline/lists/font-family.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/fonts.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/ui.ts
  frontend/src/ts/utils/json-data.ts
  frontend/static/fonts/_list.json
  frontend/vite.config.dev.js
  frontend/vite.config.js
  frontend/vite.config.prod.js
  package.json
  packages/schemas/src/configs.ts
  packages/schemas/src/fonts.ts
Labels: frontend, docs, waiting for review, assets, packages

#6791 fix(login): clear data on logout (@fehmer)
  frontend/src/ts/controllers/account-controller.ts
Labels: frontend

#6784 feat(language): add ABAP programming language (@hottek)
  frontend/src/ts/constants/languages.ts
  frontend/static/languages/code_abap.json
  frontend/static/languages/code_abap_1k.json
  packages/schemas/src/languages.ts
Labels: frontend, assets, packages

#6775 refactor(config): cleanup handling for fontSize, tapeMargin and maxLineWidth (@fehmer)
  frontend/__tests__/root/config.spec.ts
  frontend/__tests__/utils/config.spec.ts
  frontend/src/ts/config-metadata.ts
  frontend/src/ts/utils/config.ts
Labels: frontend, waiting for review

#6793 chore: correct usage of font family (@fehmer)
  frontend/src/styles/fonts.scss
  frontend/src/ts/commandline/commandline.ts
  frontend/src/ts/pages/settings.ts
  frontend/static/themes/darling.css
Labels: frontend, waiting for review, assets

#6788 fix(commandline): missing initialize input validation handler for commandOverride (@byseif21, @fehmer)
  frontend/src/ts/commandline/commandline.ts
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/elements/modes-notice.ts
Labels: frontend

#6803 fix(settings): dismiss tooltips on funbox buttons after click (@byseif21)
  frontend/src/ts/pages/settings.ts
Labels: frontend

#6807 test: split integration tests (@fehmer)
  backend/__tests__/__integration__/__migration__/testActivity.spec.ts
  backend/__tests__/__integration__/dal/admin-uids.spec.ts
  backend/__tests__/__integration__/dal/ape-keys.spec.ts
  backend/__tests__/__integration__/dal/blocklist.spec.ts
  backend/__tests__/__integration__/dal/leaderboards.spec.ts
  backend/__tests__/__integration__/dal/preset.spec.ts
  backend/__tests__/__integration__/dal/public.spec.ts
  backend/__tests__/__integration__/dal/result.spec.ts
  backend/__tests__/__integration__/dal/user.spec.ts
  backend/__tests__/__integration__/index.ts
  backend/__tests__/__integration__/setup-integration-tests.ts
  backend/__tests__/__testData__/users.ts
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/api/controllers/result.spec.ts
  backend/__tests__/api/controllers/user.spec.ts
  backend/__tests__/global-setup.ts
  backend/__tests__/setup-common-mocks.ts
  backend/__tests__/setup-tests.ts
  backend/package.json
  backend/vitest.config.js
  package.json
  turbo.json
Labels: backend, waiting for review

#6812 fix: config applying issues (@miodec, @fehmer)
  frontend/__tests__/root/config-metadata.spec.ts
  frontend/__tests__/root/config.spec.ts
  frontend/src/ts/config-metadata.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/preset-controller.ts
  packages/funbox/src/validation.ts
  packages/funbox/tsconfig.json
Labels: frontend, packages

#6813 fix(commandline): use correct schema on inputs with secondKey (@fehmer)
  frontend/src/ts/commandline/util.ts
Labels: frontend

#6814 fix(presets): move migration to Config.apply (@fehmer)
  frontend/__tests__/root/config.spec.ts
  frontend/__tests__/utils/misc.spec.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/utils/config.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend
