Repository monkeytypegame/monkeytype, pull requests merged in 2025-06, with the labels that each got.

#6607 impr: add words to Odin, remove non-existing complex_* (@dayllenger)
  frontend/static/languages/code_odin.json
Labels: frontend, assets

#5748 impr(tape mode): support RTL languages (@NadAlaba)
  frontend/src/styles/test.scss
  frontend/src/ts/test/caret.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend, waiting for review

#6608 fix(account): fix not all results shown if result has a funbox unknown to stored filter (@fehmer)
  frontend/src/ts/constants/default-result-filters.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
  packages/contracts/src/schemas/users.ts
Labels: frontend, waiting for review, packages, force-ci

#6617 fix(theme): wrong theme application during preview (@byseif21)
  frontend/src/ts/controllers/theme-controller.ts
Labels: frontend, waiting for review

#6624 impr(nav): avoid duplicate browser history entries when re-clicking same nav button (@byseif21)
  frontend/src/ts/controllers/route-controller.ts
Labels: frontend

#6653 fix(language): Common Lisp Function Typo (@hikettei)
  frontend/static/languages/code_common_lisp.json
Labels: frontend, assets

#6632 impr(quotes): add Russian quotes (@WormholeDragon)
  frontend/static/quotes/russian.json
Labels: frontend, assets

#6637 fix(wordsInput): clamp #wordsInput from the left to #wordsWrapper (@NadAlaba)
  frontend/src/ts/test/test-ui.ts
Labels: frontend, waiting for review

#6643 impr(quotes): add English quote (@AlexiusOL)
  frontend/static/quotes/english.json
Labels: frontend, assets

#6659 feat(language): add viossa njutro (@khautshi)
  frontend/src/ts/constants/languages.ts
  frontend/static/languages/viossa_njutro.json
  packages/contracts/src/schemas/languages.ts
Labels: frontend, assets, packages

#6664 fix(xp-bar): don't show attribute if it's 0 (@jackrosenberg)
  frontend/src/ts/elements/xp-bar.ts
Labels: frontend, waiting for review

#6649 fix(inbox): size indicator not updating on item deletion (@byseif21)
  frontend/src/ts/db.ts
  frontend/src/ts/elements/alerts.ts
Labels: frontend

#6668 refactor: add url parameter handling to Page class (@fehmer)
  frontend/src/ts/controllers/page-controller.ts
  frontend/src/ts/pages/leaderboards.ts
  frontend/src/ts/pages/page.ts
Labels: frontend
