Repository monkeytypegame/monkeytype, pull requests merged in 2025-02, with the labels that each got.

#6180 feat(language): add zulu (@aitchz)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/zulu.json
Labels: frontend, assets

#6182 feat(language): add romanized nepali language list (@anuzpandey)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/nepali_romanized.json
Labels: frontend, assets

#6188 impr(quotes): add English quote (@zev18)
  frontend/static/quotes/english.json
Labels: frontend, assets

#6189 fix: remove inappropriate words from english25k (@dag330)
  frontend/static/languages/english_25k.json
Labels: frontend, assets

#6190 fix(profile): Streak hover text description without a streak offset is now consistent with the setting's location (@wclxb)
  frontend/src/ts/elements/profile.ts
Labels: frontend

#6191 impr(quotes): add thai quotes (@potsaweSe)
  frontend/static/quotes/thai.json
Labels: frontend, assets

#6193 feat(theme): add github (@KevinRnbrg)
  frontend/static/themes/_list.json
  frontend/static/themes/github.css
Labels: frontend, assets

#6196 feat(layout): focal keyboard layout (@rbscholtus)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6205 fix: tooltip alignment issue for mobile and tab views (@HariramakrishnanK)
  frontend/src/styles/media-queries-green.scss
  frontend/src/styles/media-queries-purple.scss
Labels: frontend, waiting for review

#6207 refactor: Replace JSON.parse with parseJsonWithSchema (@dev-mohit06)
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/controllers/analytics-controller.ts
  frontend/src/ts/event-handlers/account.ts
  frontend/src/ts/modals/import-export-settings.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/test/wikipedia.ts
  frontend/src/ts/utils/url-handler.ts
  packages/util/src/json.ts
Labels: frontend, packages

#6206 refactor: use vendor css from npm package (@fehmer)
  frontend/package.json
  frontend/src/html/head.html
  frontend/src/styles/core.scss
  frontend/src/styles/vendor.scss
  frontend/src/ts/ready.ts
  frontend/static/css/balloon.min.css
  frontend/static/css/slimselect.min.css
  pnpm-lock.yaml
Labels: frontend, assets

#6215 impr(english_10k): remove "techrepublic" (@stop-png)
  frontend/static/languages/english_10k.json
Labels: frontend, assets

#6227 impr(quotes): add Vietnamese quotes (@freshleaf1095)
  frontend/static/quotes/vietnamese.json
Labels: frontend, assets

#6233 refactor: move normalize and fontawesome to vendor.css (@fehmer)
  frontend/src/styles/index.scss
  frontend/src/styles/vendor.scss
Labels: frontend

#6017 impr: allow multiple funboxes with css (@notTamion)
  frontend/src/email-handler.html
  frontend/src/index.html
  frontend/src/privacy-policy.html
  frontend/src/security-policy.html
  frontend/src/terms-of-service.html
  frontend/src/ts/test/funbox/funbox.ts
  frontend/static/funbox/choo_choo.css
  frontend/static/funbox/nausea.css
  packages/funbox/__test__/validation.spec.ts
  packages/funbox/src/list.ts
  packages/funbox/src/types.ts
  packages/funbox/src/validation.ts
  packages/funbox/tsconfig.json
Labels: frontend, assets, packages

#6238 style(dark note theme): fix roundness variable affecting account menu (@WarningImHack3r)
  frontend/static/themes/dark_note.css
Labels: frontend, assets

#6252 fix(font): CommitMono not working (@fehmer)
  frontend/src/styles/fonts.scss
Labels: frontend

#6255 chore: update @redocly/cli (@fehmer)
  backend/package.json
  backend/redocly.yaml
  pnpm-lock.yaml
Labels: backend

#6258 refactor: better detection of ZodError (@fehmer)
  packages/util/src/json.ts
  packages/util/src/zod.ts
Labels: packages

#6226 feat(language): add Bulgarian Latin (@ShinniUwU)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/bulgarian_latin.json
Labels: frontend, assets

#6231 impr(quotes): added 5 sanskrit quotes (@a5tw)
  frontend/static/quotes/sanskrit.json
Labels: frontend, assets

#6247 feat(layout): add panini (@flarefin)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6259 refactor: use tsRestFetchApi in ts-rest-adapter (@fehmer)
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

#6253 impr(quotes): add French quotes (@enfantsauvage95)
  frontend/static/quotes/french.json
Labels: frontend, assets

#6260 feat(layout): colemak_wide keyboard layout (@papersacculos)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6262 impr: add X-Compatibility-Check header to all responses (@fehmer)
  backend/src/app.ts
  backend/src/middlewares/compatibilityCheck.ts
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
  packages/contracts/src/index.ts
Labels: backend, frontend, packages

#6265 fix: fix csp entries for redocly (@fehmer)
  backend/src/api/routes/docs.ts
Labels: backend

#6224 feat(tamil-tanglish): Update Tamil & Tanglish Words & Quotes - (@pipinthedev)
  frontend/static/languages/tamil.json
  frontend/static/languages/tanglish.json
  frontend/static/quotes/tamil.json
Labels: frontend, waiting for review, assets

#6263 fix(language): spelling and translation errors for Frisian/Frysk + renaming (@M3R14M)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/frisian.json
  frontend/static/languages/frisian_1k.json
Labels: frontend, assets

#6273 feat(layout): add galite keyboard layout (@almk-dev)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6278 impr(quotes): add Russian quotes (@WormholeDragon)
  frontend/static/quotes/russian.json
Labels: frontend, assets

#6276 impr(quotes): add Belarusian quotes (@Dmskrzh)
  frontend/static/quotes/belarusian.json
Labels: frontend, assets

#6234 impr: use preload for vendor.css and fonts (@fehmer)
  frontend/package.json
  frontend/src/html/head.html
  frontend/vite.config.prod.js
  pnpm-lock.yaml
Labels: frontend, waiting for review

#6271 impr(quotes): add English quotes (@thedev0ps)
  frontend/static/quotes/english.json
Labels: frontend, assets

#6272 refactor: use validation on email update modal (@fehmer)
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/utils/simple-modal.ts
  packages/contracts/src/users.ts
Labels: frontend, packages

#6277 refactor: refactor british english (@fehmer)
  frontend/__tests__/test/british-english.spec.ts
  frontend/src/ts/test/british-english.ts
  frontend/static/languages/britishenglish.json
Labels: frontend, waiting for review, assets

#6288 fix: remove function getFunctionsFromActiveFunboxes because it does not work (@fehmer)
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/test/funbox/list.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/test/words-generator.ts
Labels: frontend

#6285 feat: leaderboard scroll to users position when using the user button (@fehmer)
  frontend/src/html/pages/about.html
  frontend/src/html/pages/account.html
  frontend/src/html/pages/settings.html
  frontend/src/index.html
  frontend/src/styles/core.scss
  frontend/src/ts/elements/scroll-to-top.ts
  frontend/src/ts/pages/leaderboards.ts
Labels: frontend

#6289 fix: past leaderboard not fetching the users rank (@fehmer)
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/src/api/controllers/leaderboard.ts
  frontend/src/ts/pages/leaderboards.ts
  packages/contracts/src/leaderboards.ts
Labels: backend, frontend, waiting for review, packages, force-ci

#6282 feat(language): add code_jule (@adamperkowski)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/code_jule.json
  frontend/static/quotes/code_jule.json
Labels: frontend, assets

#6290 fix: remove user from XP leaderboard if opt-out, reset or deleted (@fehmer)
  backend/__tests__/api/controllers/user.spec.ts
  backend/src/api/controllers/user.ts
  backend/src/services/weekly-xp-leaderboard.ts
Labels: backend

#6295 impr: Log failed worker queue jobs (@fehmer)
  backend/src/workers/email-worker.ts
  backend/src/workers/later-worker.ts
Labels: backend

#6297 fix: Remove seldomly used punctuation mark from Greek lang (@sledgehammer999)
  frontend/src/ts/test/words-generator.ts
Labels: frontend

#6299 fix(punctuation): Add period instead of semicolon for Greek lang (@sledgehammer999)
  frontend/src/ts/test/words-generator.ts
Labels: frontend

#6303 fix: rounding issues causing daily leaderboard to be out of order sometimes (@fehmer)
  backend/__tests__/utils/misc.spec.ts
  backend/src/utils/misc.ts
Labels: backend

#6301 impr: update viewLeaderboards command to navigate directly to /leaderboards (@iwmywn)
  frontend/src/ts/commandline/lists/navigation.ts
Labels: frontend

#6302 fix: remove deprecated galite layout (@almk-dev)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6304 feat: remember last opened leaderboard (@fehmer)
  frontend/src/ts/pages/leaderboards.ts
Labels: frontend

#6264 impr: validate tag name on tag creation and rename (@fehmer)
  frontend/src/html/popups.html
  frontend/src/styles/popups.scss
  frontend/src/ts/commandline/lists/tags.ts
  frontend/src/ts/modals/edit-tag.ts
  frontend/src/ts/modals/simple-modals.ts
Labels: frontend

#6308 test: fix tests not awaiting expect with resolves or rejects (@fehmer)
  backend/__tests__/dal/blocklist.spec.ts
  backend/__tests__/dal/preset.spec.ts
  backend/__tests__/dal/user.spec.ts
  backend/__tests__/middlewares/auth.spec.ts
  frontend/__tests__/test/british-english.spec.ts
Labels: backend, frontend, waiting for review

#6317 fix(docker): fix configuration endpoint, add configuration export (@fehmer)
  .eslintignore
  backend/private/index.html
  backend/private/script.js
  backend/private/style.css
  docker/backend/Dockerfile
  docs/SELF_HOSTING.md
Labels: backend, docs
