Repository monkeytypegame/monkeytype, pull requests merged in 2025-05, with the labels that each got.

#6507 fix: failed to fetch commandline when a version/hotfix is deployed (@fehmer)
  frontend/src/ts/event-handlers/footer.ts
  frontend/src/ts/event-handlers/global.ts
  frontend/src/ts/event-handlers/keymap.ts
  frontend/src/ts/event-handlers/test.ts
  frontend/src/ts/modals/support.ts
  frontend/src/ts/utils/async-modules.ts
Labels: frontend

#6518 impr: add fallback and migrate to parsejsonwithschema (@miodec)
  frontend/__tests__/utils/local-storage-with-schema.spec.ts
  frontend/__tests__/utils/url-handler.spec.ts
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/config.ts
  frontend/src/ts/modals/import-export-settings.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/utils/config.ts
  frontend/src/ts/utils/local-storage-with-schema.ts
  packages/util/__test__/json.spec.ts
  packages/util/src/json.ts
Labels: frontend, packages

#6509 impr(settings): settings group performance (@fehmer, @miodec)
  frontend/src/ts/elements/settings/settings-group.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/pages/test.ts
Labels: frontend, waiting for review

#6526 fix: stop broken background images from displaying (@mattlau1)
  frontend/src/ts/controllers/theme-controller.ts
Labels: frontend

#6502 fix: compatibility banner is blocked by ublock (@fehmer)
  frontend/src/ts/ape/adapters/ts-rest-adapter.ts
Labels: frontend

#6489 refactor: move themes list to typescript (@fehmer)
  docs/THEMES.md
  frontend/__tests__/constants/themes.spec.ts
  frontend/__tests__/root/config.spec.ts
  frontend/scripts/json-validation.cjs
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/commandline/lists/add-or-remove-theme-to-favorites.ts
  frontend/src/ts/commandline/lists/themes.ts
  frontend/src/ts/constants/themes.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/controllers/theme-controller.ts
  frontend/src/ts/elements/settings/theme-picker.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/utils/json-data.ts
  frontend/static/themes/_list.json
  package.json
  packages/contracts/src/schemas/configs.ts
  packages/contracts/src/schemas/themes.ts
  packages/util/__test__/predicates.spec.ts
  packages/util/src/predicates.ts
Labels: frontend, docs, assets, packages, force-ci

#6531 fix(theme-picker): don't use .toSorted (@fehmer)
  frontend/src/ts/constants/themes.ts
  frontend/src/ts/elements/settings/theme-picker.ts
Labels: frontend

#6537 fix(settings): fix error when setting keymap layout (@fehmer)
  frontend/src/ts/elements/settings/settings-group.ts
  frontend/src/ts/pages/settings.ts
Labels: frontend, waiting for review, force-ci

#6497 refactor: move languages to contracts (@fehmer)
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/api/controllers/public.spec.ts
  backend/src/api/controllers/dev.ts
  backend/src/api/controllers/quote.ts
  backend/src/dal/new-quotes.ts
  backend/src/dal/quote-ratings.ts
  backend/src/middlewares/permission.ts
  docs/LANGUAGES.md
  frontend/__tests__/constants/languages.spec.ts
  frontend/__tests__/root/config.spec.ts
  frontend/scripts/json-validation.cjs
  frontend/src/html/pages/account.html
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/commandline/lists/languages.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-snapshot.ts
  frontend/src/ts/constants/languages.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/quotes-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/modals/quote-rate.ts
  frontend/src/ts/modals/quote-search.ts
  frontend/src/ts/modals/quote-submit.ts
  frontend/src/ts/modals/word-filter.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/leaderboards.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/test/funbox/funbox-functions.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/wikipedia.ts
  frontend/src/ts/utils/json-data.ts
  frontend/src/ts/utils/strings.ts
  frontend/src/ts/utils/url-handler.ts
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/_unused.txt
  package.json
  packages/contracts/src/leaderboards.ts
  packages/contracts/src/public.ts
  packages/contracts/src/quotes.ts
  packages/contracts/src/schemas/configs.ts
  packages/contracts/src/schemas/languages.ts
  packages/contracts/src/schemas/quotes.ts
  packages/contracts/src/schemas/results.ts
  packages/contracts/src/schemas/shared.ts
  packages/contracts/src/schemas/themes.ts
  packages/contracts/src/schemas/users.ts
  packages/contracts/src/schemas/util.ts
  packages/contracts/src/users.ts
Labels: backend, frontend, docs, assets, packages

#6496 impr(quotes): 50 new quotes for polish language from books (@sobczaktm)
  frontend/static/quotes/polish.json
Labels: frontend, waiting for review, assets

#6498 feat(language): add Thai 1K, 5K, 10K, 50K, and 60K (@jnx03)
  frontend/src/ts/constants/languages.ts
  frontend/static/languages/thai_10k.json
  frontend/static/languages/thai_1k.json
  frontend/static/languages/thai_50k.json
  frontend/static/languages/thai_5k.json
  frontend/static/languages/thai_60k.json
  packages/contracts/src/schemas/languages.ts
Labels: frontend, assets, packages

#6500 feat(font): add Kanit and Sarabun (@jnx03)
  frontend/src/styles/fonts.scss
  frontend/static/fonts/_list.json
  frontend/static/webfonts/Kanit-Regular.woff2
  frontend/static/webfonts/Sarabun-Bold.woff2
Labels: frontend, assets

#6512 impr(quotes): add Kazakh quotes (@w0ikid)
  frontend/static/quotes/kazakh.json
Labels: frontend, assets

#6522 impr(quotes): add Indonesian quotes (@siily-g)
  frontend/static/quotes/indonesian.json
Labels: frontend, assets

#6532 feat(commandline): add download screenshot command (@torturado)
  frontend/src/ts/commandline/lists/result-screen.ts
  frontend/src/ts/test/test-screenshot.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#6554 fix(settings): handle boolean values for indicateTypos (@fehmer)
  frontend/__tests__/utils/config.spec.ts
  frontend/src/ts/utils/config.ts
Labels: frontend

#6544 impr(profile): validate inputs for twitter, github and website (@fehmer)
  frontend/src/ts/modals/edit-profile.ts
  packages/contracts/src/schemas/users.ts
Labels: frontend, packages

#6548 impr(settings): prevent customLayoutFluid and customPolyglot to be empty (@fehmer)
  frontend/src/ts/pages/settings.ts
Labels: frontend

#6545 fix(wordsInput): adjust #wordsInput position to be on the active word for chinese (@NadAlaba)
  frontend/src/ts/test/test-ui.ts
Labels: frontend

#6542 chore: add eslint compat plugin (@fehmer)
  frontend/.eslintrc.cjs
  frontend/package.json
  pnpm-lock.yaml
Labels: frontend

#6558 chore: update privacy policy to mention sentry (@miodec)
  frontend/src/html/popups.html
  frontend/src/privacy-policy.html
  frontend/src/ts/controllers/analytics-controller.ts
  frontend/src/ts/cookies.ts
  frontend/src/ts/index.ts
  frontend/src/ts/modals/cookies.ts
  frontend/src/ts/ready.ts
  frontend/src/ts/sentry.ts
Labels: frontend

#6560 fix: smooth transition for theme palette icon in chaos_theory theme (@byseif21)
  frontend/static/themes/chaos_theory.css
Labels: frontend, assets

#6555 impr(config): handle invalid config values (@fehmer)
  frontend/__tests__/utils/config.spec.ts
  frontend/src/ts/utils/config.ts
Labels: frontend, waiting for review

#6589 fix(theme): dark note and reduced-motion not replacing letters with circles (@fehmer)
  frontend/static/themes/dark_note.css
Labels: frontend, assets

#6598 feat(profile): add Open Graph meta tags for social sharing (@TryOmar)
  frontend/src/ts/controllers/page-controller.ts
Labels: frontend

#6602 fix: compatability check header shown if client is using cached responses (@fehmer)
  backend/package.json
  backend/src/app.ts
  backend/src/utils/etag.ts
  pnpm-lock.yaml
Labels: backend

#6590 style: correct text in difficulty settings descriptions (@byseif21)
  frontend/src/html/pages/settings.html
Labels: frontend

#6596 perf: use cache in local-storage-with-schema (@fehmer)
  frontend/__tests__/utils/local-storage-with-schema.spec.ts
  frontend/src/ts/utils/local-storage-with-schema.ts
Labels: frontend, waiting for review

#6586 fix(commandline): improve caching to fix stale checkmark and UI state (@byseif21, @fehmer)
  frontend/src/ts/commandline/commandline.ts
Labels: frontend

#6460 feat: add quick theme favorite indicator to the theme picker & via footer current theme button (@byseif21)
  frontend/src/html/footer.html
  frontend/src/styles/commandline.scss
  frontend/src/styles/footer.scss
  frontend/src/ts/commandline/commandline.ts
  frontend/src/ts/commandline/lists/add-or-remove-theme-to-favorites.ts
  frontend/src/ts/commandline/lists/themes.ts
  frontend/src/ts/commandline/types.ts
  frontend/src/ts/controllers/theme-controller.ts
Labels: frontend, waiting for review

#6606 perf: fix account page getting slower with every load (@miodec)
  frontend/src/html/pages/account.html
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/pages/account.ts
Labels: frontend
