Repository monkeytypegame/monkeytype, pull requests merged in 2025-04, with the labels that each got.

#6410 feat(layout): add alt layer support to Ergopti (@adrienm7)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6419 feat(layout): Adds Hands Down Promethium layout (@andre-krueger)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6427 impr(quotes): add Urdu quotes (@aitchz)
  frontend/static/quotes/urdu.json
Labels: frontend, assets

#6429 impr(quotes): add english quote (@scarcekoi)
  frontend/static/quotes/english.json
Labels: frontend, assets

#6428 impr: lazy load chartData on results (@fehmer)
  backend/__tests__/api/controllers/result.spec.ts
  backend/src/api/controllers/result.ts
  backend/src/api/routes/results.ts
  backend/src/dal/result.ts
  frontend/src/styles/account.scss
  frontend/src/ts/pages/account.ts
  packages/contracts/src/rate-limit/index.ts
  packages/contracts/src/results.ts
  packages/contracts/src/schemas/results.ts
Labels: backend, frontend, waiting for review, packages

#6407 fix(language list): updated words for spanish 1k (@CarloskHard)
  frontend/static/languages/spanish_1k.json
Labels: frontend, assets

#6432 feat(language): add bosnian_4k (@aitchz)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/bosnian_4k.json
Labels: frontend, assets

#6437 impr(quotes): add Russian quotes (@WormholeDragon)
  frontend/static/quotes/russian.json
Labels: frontend, assets

#6440 impr(quotes): add lithuanian quotes (@Kurbamit)
  frontend/static/quotes/lithuanian.json
Labels: frontend, assets

#5868 impr(tape mode): show next line if test has newlines (@NadAlaba)
  frontend/src/styles/test.scss
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/ui.ts
Labels: frontend

#6445 impr(settings): Use dropdown for custom layoutfluid (@fehmer)
  frontend/src/html/pages/settings.html
  frontend/src/ts/pages/settings.ts
Labels: frontend

#6457 impr: optimize getFirstDayOfWeek (@fehmer)
  frontend/src/ts/utils/date-and-time.ts
Labels: frontend

#6459 chore: throw error when response in fetchJson() is not json (@NadAlaba)
  frontend/src/ts/controllers/quotes-controller.ts
  frontend/src/ts/utils/json-data.ts
Labels: frontend

#6461 docs: add layouts (@fehmer)
  docs/CONTRIBUTING.md
  docs/LANGUAGES.md
  docs/LAYOUTS.md
  docs/QUOTES.md
  docs/THEMES.md
Labels: docs

#6462 fix(settings): Update layoutfluid on config change (@fehmer)
  frontend/src/ts/pages/settings.ts
Labels: frontend

#6441 impr(quotes): add urdu quotes (@aitchz)
  frontend/static/quotes/urdu.json
Labels: frontend, assets

#6446 fix(theme): inconsistent/unreadable styling on settings page when using phantom theme (@fehmer)
  frontend/static/themes/aurora.css
  frontend/static/themes/fire.css
  frontend/static/themes/grape.css
  frontend/static/themes/phantom.css
  frontend/static/themes/rgb.css
  frontend/static/themes/shadow.css
  frontend/static/themes/trance.css
Labels: frontend, waiting for review, assets

#6443 feat(theme): add Vesper theme (@SameerJS6)
  frontend/static/themes/_list.json
  frontend/static/themes/vesper.css
Labels: frontend, assets

#6463 feat(funbox): add layout mirror (@megalodon2710)
  frontend/src/ts/commandline/commandline.ts
  frontend/src/ts/commandline/lists/funbox.ts
  frontend/src/ts/commandline/types.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/elements/keymap.ts
  frontend/src/ts/test/funbox/funbox-functions.ts
  frontend/src/ts/test/layout-emulator.ts
  frontend/src/ts/utils/key-converter.ts
  packages/funbox/src/list.ts
  packages/funbox/src/types.ts
Labels: frontend, packages

#6454 feat(funbox): add polyglot (@fehmer)
  frontend/src/html/pages/settings.html
  frontend/src/ts/commandline/commandline.ts
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/event-handlers/test.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/test/funbox/funbox-functions.ts
  packages/contracts/src/schemas/configs.ts
  packages/funbox/__test__/validation.spec.ts
  packages/funbox/src/list.ts
  packages/funbox/src/types.ts
  packages/funbox/src/validation.ts
Labels: frontend, waiting for review, packages, force-ci

#6465 fix: fix content-type check in fetchJson (@fehmer)
  frontend/src/ts/utils/json-data.ts
Labels: frontend

#6466 impr: use rainbow effect on rgb badges for reduced-motion (@fehmer)
  frontend/src/ts/controllers/badge-controller.ts
Labels: frontend, waiting for review

#6468 fix(settings): fix dropdown not rendered correctly (@fehmer)
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/pages/settings.ts
Labels: frontend, waiting for review

#6467 feat(theme): Add sunset theme (@catdogdonkey)
  frontend/static/themes/_list.json
  frontend/static/themes/sunset.css
Labels: frontend, assets

#6471 fix: compatibility check for funboxes when switching test modes (@fehmer)
  frontend/src/ts/test/funbox/funbox-validation.ts
Labels: frontend

#6453 feat(layout): add OPY layout (@robi-wan)
  frontend/src/ts/constants/layouts.ts
  frontend/static/layouts/opy.json
Labels: frontend, assets

#6478 refactor: improve funbox-validation, add tests (@fehmer)
  frontend/__tests__/test/funbox/funbox-validation.spec.ts
  frontend/src/ts/test/funbox/funbox-validation.ts
Labels: frontend

#6485 feat(funbox): add ASL (@fehmer)
  frontend/static/funbox/asl.css
  frontend/static/webfonts/GallaudetRegular.woff2
  packages/funbox/src/list.ts
  packages/funbox/src/types.ts
Labels: frontend, assets, packages

#6481 refactor(backend): improve redis and json.parse type safety with zod (@byseif21)
  backend/src/api/controllers/result.ts
  backend/src/dal/new-quotes.ts
  backend/src/dal/user.ts
  backend/src/init/redis.ts
  backend/src/server.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/utils/daily-leaderboards.ts
  packages/contracts/src/schemas/leaderboards.ts
  packages/contracts/src/schemas/quotes.ts
Labels: backend, packages

#6495 refactor: move layout names to contracts (@fehmer)
  docs/LAYOUTS.md
  frontend/__tests__/constants/layouts.spec.ts
  frontend/__tests__/root/config.spec.ts
  frontend/src/ts/commandline/lists/keymap-layouts.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/layouts.ts
  frontend/src/ts/test/funbox/funbox-functions.ts
  frontend/src/ts/test/test-timer.ts
  packages/contracts/src/schemas/configs.ts
  packages/contracts/src/schemas/layouts.ts
Labels: frontend, docs, waiting for review, packages, force-ci

#6487 refactor: make funbox settings an array (@fehmer)
  backend/__tests__/api/controllers/result.spec.ts
  backend/__tests__/dal/result.spec.ts
  backend/__tests__/utils/pb.spec.ts
  backend/src/api/controllers/result.ts
  backend/src/dal/result.ts
  backend/src/utils/pb.ts
  backend/src/utils/prometheus.ts
  backend/src/utils/result.ts
  frontend/__tests__/root/config.spec.ts
  frontend/__tests__/test/funbox/funbox-validation.spec.ts
  frontend/__tests__/utils/url-handler.spec.ts
  frontend/scripts/json-validation.cjs
  frontend/src/ts/commandline/commandline.ts
  frontend/src/ts/commandline/lists/funbox.ts
  frontend/src/ts/commandline/types.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/constants/default-snapshot.ts
  frontend/src/ts/controllers/challenge-controller.ts
  frontend/src/ts/db.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/elements/modes-notice.ts
  frontend/src/ts/modals/last-signed-out-result.ts
  frontend/src/ts/modals/share-test-settings.ts
  frontend/src/ts/pages/account.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/test/funbox/funbox-functions.ts
  frontend/src/ts/test/funbox/funbox-validation.ts
  frontend/src/ts/test/funbox/funbox.ts
  frontend/src/ts/test/funbox/list.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-timer.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/test/tts.ts
  frontend/src/ts/utils/arrays.ts
  frontend/src/ts/utils/config.ts
  frontend/src/ts/utils/json-data.ts
  frontend/src/ts/utils/url-handler.ts
  frontend/static/challenges/_list.json
  packages/contracts/src/index.ts
  packages/contracts/src/schemas/configs.ts
  packages/contracts/tsconfig.json
  packages/funbox/__test__/utils.spec.ts
  packages/funbox/package.json
  packages/funbox/src/index.ts
  packages/funbox/src/list.ts
  packages/funbox/src/types.ts
  packages/funbox/src/util.ts
  packages/funbox/src/validation.ts
  pnpm-lock.yaml
Labels: backend, frontend, assets, packages, force-ci

#6494 refactor: make customLayoutfluid an array (@fehmer)
  frontend/__tests__/root/config.spec.ts
  frontend/src/ts/commandline/lists.ts
  frontend/src/ts/config.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/pages/settings.ts
  frontend/src/ts/test/funbox/funbox-functions.ts
  frontend/src/ts/test/test-timer.ts
  frontend/src/ts/utils/config.ts
  packages/contracts/src/schemas/configs.ts
Labels: frontend, waiting for review, packages, force-ci
