Repository monkeytypegame/monkeytype, pull requests merged in 2025-09, with the labels that each got.

#6924 refactor: use findOne instead of limit(1) (@fehmer)
  backend/src/api/controllers/dev.ts
  backend/src/dal/result.ts
  backend/src/dal/user.ts
  package.json
  pnpm-lock.yaml
Labels: backend

#6925 test: refactor controller tests (@fehmer)
  backend/__tests__/__testData__/controller-test.ts
  backend/__tests__/api/controllers/admin.spec.ts
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/__tests__/api/controllers/config.spec.ts
  backend/__tests__/api/controllers/configuration.spec.ts
  backend/__tests__/api/controllers/dev.spec.ts
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/api/controllers/preset.spec.ts
  backend/__tests__/api/controllers/psa.spec.ts
  backend/__tests__/api/controllers/public.spec.ts
  backend/__tests__/api/controllers/quotes.spec.ts
  backend/__tests__/api/controllers/result.spec.ts
  backend/__tests__/api/controllers/user.spec.ts
  backend/__tests__/api/controllers/webhooks.spec.ts
Labels: backend

#6921 feat(layout): add handsdown neu, and neu inverted (@aleksiye)
  frontend/static/layouts/handsdown_neu.json
  frontend/static/layouts/handsdown_neu_inverted.json
  packages/schemas/src/layouts.ts
Labels: frontend, assets, packages

#6931 docs(readme): shields link to their respective websites rather than to the images source (@matthew-wright07)
  README.md
Labels: docs

#6930 fix(commandline): prevent false theme apply during perview (@byseif21)
  frontend/src/ts/commandline/commandline.ts
Labels: frontend

#6695 impr(caret): handle mixed language direction (@byseif21)
  frontend/__tests__/utils/strings.spec.ts
  frontend/src/ts/test/caret.ts
  frontend/src/ts/test/pace-caret.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/utils/strings.ts
Labels: frontend

#6947 test: fix presets test using fixed uids (@fehmer)
  backend/__tests__/__integration__/dal/preset.spec.ts
Labels: backend

#6974 docs: fix email link in security.md (@fehmer)
  docs/SECURITY.md
Labels: docs

#6967 fix: password validation rules (@fehmer)
  frontend/src/ts/elements/input-validation.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/pages/login.ts
  packages/contracts/src/users.ts
  packages/schemas/src/users.ts
Labels: frontend, waiting for review, packages

#6970 refactor: caret-rewrite (@NadAlaba)
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/utils/caret.ts
Labels: frontend

#6980 fix: Set result chart burst Y axis max after adding PB line (@Ed-k)
  frontend/src/ts/test/result.ts
Labels: frontend
