Repository monkeytypegame/monkeytype, pull requests merged in 2025-08, with the labels that each got.

#6808 test: use mongodb testcontainer (@fehmer)
  backend/__tests__/__integration__/dal/leaderboards.spec.ts
  backend/__tests__/__integration__/dal/user.spec.ts
  backend/__tests__/__integration__/setup-integration-tests.ts
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/global-setup.ts
  backend/__tests__/setup-tests.ts
  backend/package.json
  backend/src/api/controllers/leaderboard.ts
  backend/src/dal/leaderboards.ts
  backend/vitest.config.js
  pnpm-lock.yaml
Labels: backend, force-ci

#6819 feat(language): add code_yoptascript language and quotes (@Kr1tX12)
  frontend/src/ts/constants/languages.ts
  frontend/static/languages/code_yoptascript.json
  frontend/static/quotes/code_yoptascript.json
  packages/schemas/src/languages.ts
Labels: frontend, assets, packages

#6827 fix(style): fix visual problems (@fehmer)
  frontend/src/styles/settings.scss
Labels: frontend

#6811 test: update to vitest3 (@fehmer)
  .eslintignore
  backend/__tests__/__integration__/__migration__/testActivity.spec.ts
  backend/__tests__/__integration__/dal/admin-uids.spec.ts
  backend/__tests__/__integration__/dal/ape-keys.spec.ts
  backend/__tests__/__integration__/dal/blocklist.spec.ts
  backend/__tests__/__integration__/dal/leaderboards.isolated.spec.ts
  backend/__tests__/__integration__/dal/preset.spec.ts
  backend/__tests__/__integration__/dal/public.spec.ts
  backend/__tests__/__integration__/dal/result.spec.ts
  backend/__tests__/__integration__/dal/user.spec.ts
  backend/__tests__/__integration__/global-setup.ts
  backend/__tests__/__integration__/index.ts
  backend/__tests__/__integration__/utils/daily-leaderboards.spec.ts
  backend/__tests__/__testData__/auth.ts
  backend/__tests__/__testData__/monkey-error.ts
  backend/__tests__/api/controllers/admin.spec.ts
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/__tests__/api/controllers/config.spec.ts
  backend/__tests__/api/controllers/configuration.spec.ts
  backend/__tests__/api/controllers/dev.spec.ts
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/api/controllers/preset.spec.ts
  backend/__tests__/api/controllers/psa.spec.ts
  backend/__tests__/api/controllers/public.spec.ts
  backend/__tests__/api/controllers/quotes.spec.ts
  backend/__tests__/api/controllers/result.spec.ts
  backend/__tests__/api/controllers/user.spec.ts
  backend/__tests__/api/controllers/webhooks.spec.ts
  backend/__tests__/global-setup.ts
  backend/__tests__/middlewares/auth.spec.ts
  backend/__tests__/middlewares/configuration.spec.ts
  backend/__tests__/middlewares/permission.spec.ts
  backend/__tests__/setup-tests.ts
  backend/__tests__/vitest.d.ts
  backend/package.json
  backend/src/dal/logs.ts
  backend/src/utils/error.ts
  backend/vitest.config.js
  backend/vitest.config.ts
  frontend/__tests__/commandline/util.spec.ts
  frontend/__tests__/root/config.spec.ts
  frontend/__tests__/test/funbox/funbox-validation.spec.ts
  frontend/__tests__/utils/date-and-time.spec.ts
  frontend/__tests__/utils/local-storage-with-schema.spec.ts
  frontend/__tests__/utils/url-handler.spec.ts
  frontend/package.json
  frontend/vitest.config.ts
  monkeytype.code-workspace
  package.json
  packages/contracts/package.json
  packages/contracts/vitest.config.ts
  packages/eslint-config/index.js
  packages/funbox/__test__/validation.spec.ts
  packages/funbox/package.json
  packages/funbox/vitest.config.ts
  packages/util/package.json
  packages/util/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.js
  vitest.workspace.json
Labels: backend, frontend, waiting for review, packages, force-full-ci

#6843 test: add WeeklyXpLeaderboards integration tests (@fehmer)
  backend/__tests__/__integration__/redis.ts
  backend/__tests__/__integration__/services/weekly-xp-leaderboard.spec.ts
  backend/__tests__/__integration__/utils/daily-leaderboards.spec.ts
  backend/src/services/weekly-xp-leaderboard.ts
  backend/src/utils/daily-leaderboards.ts
Labels: backend

#6844 impr(config): validation on layoutFluid and polyglot (@fehmer)
  frontend/__tests__/root/config.spec.ts
  frontend/src/ts/pages/settings.ts
  packages/schemas/src/configs.ts
Labels: frontend, packages

#6841 chore: remove unused dependencies (@fehmer)
  backend/package.json
  backend/src/utils/captcha.ts
  backend/src/utils/discord.ts
  packages/contracts/package.json
  packages/funbox/package.json
  packages/schemas/package.json
  packages/util/package.json
  pnpm-lock.yaml
Labels: backend, packages

#6849 fix(config): fix array not getting verified after sanitize (@fehmer)
  frontend/__tests__/utils/misc.spec.ts
  frontend/src/ts/utils/misc.ts
Labels: frontend

#6856 impr(keymap): optimize config event listener on full config load (@fehmer)
  frontend/src/ts/elements/keymap.ts
Labels: frontend, waiting for review

#6857 fix(presets): preset with minWpmCustom should not activate minWpm (@fehmer, @miodec)
  frontend/__tests__/controllers/preset-controller.spec.ts
  frontend/__tests__/root/config.spec.ts
  frontend/src/ts/config.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/utils/config.ts
Labels: frontend, waiting for review, force-ci

#6855 impr(settings-page): responsive local font button style (@byseif21)
  frontend/src/styles/media-queries-blue.scss
Labels: frontend

#6831 fix(tooltips): prevent hover pop-up reappearance on click (@byseif21)
  frontend/src/styles/core.scss
  frontend/src/ts/pages/settings.ts
Labels: frontend

#6868 test: support to run/watch all tests in vscode (@fehmer)
  backend/vitest.config.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Labels: backend

#6852 feat(quotes): Added typescript quotes (@JeffKochuk)
  frontend/static/quotes/code_typescript.json
Labels: frontend, waiting for review, assets

#6879 fix: 8008 theme duplicate sub-alt-color (@tboex)
  frontend/static/themes/8008.css
Labels: frontend, assets

#6875 refactor: rewrite sanitize to support nested objects (@fehmer)
  frontend/__tests__/utils/misc.spec.ts
  frontend/__tests__/utils/sanitize.spec.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/utils/config.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/sanitize.ts
Labels: frontend, waiting for review

#6866 refactor(login): use inputValidation on login page (@fehmer)
  frontend/src/ts/commandline/commandline.ts
  frontend/src/ts/controllers/account-controller.ts
  frontend/src/ts/elements/input-validation.ts
  frontend/src/ts/modals/forgot-password.ts
  frontend/src/ts/modals/simple-modals.ts
  frontend/src/ts/pages/login.ts
  packages/contracts/src/users.ts
  packages/schemas/src/users.ts
Labels: frontend, waiting for review, packages, force-ci

#6882 refactor: replace deepClone with structuredClone (@fehmer)
  frontend/__tests__/controllers/preset-controller.spec.ts
  frontend/__tests__/utils/misc.spec.ts
  frontend/src/ts/constants/default-config.ts
  frontend/src/ts/constants/default-result-filters.ts
  frontend/src/ts/constants/default-snapshot.ts
  frontend/src/ts/controllers/preset-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/test/custom-text.ts
  frontend/src/ts/test/result.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/utils/misc.ts
  frontend/src/ts/utils/results.ts
  frontend/src/ts/utils/sanitize.ts
Labels: frontend

#6887 fix: add comma and period to specials funbox (#6870) (@radouane-tamouss)
  frontend/__tests__/utils/generate.spec.ts
  frontend/src/ts/utils/generate.ts
Labels: frontend

#6883 feat(language): add hawaiian,200,1k (@SirObby)
  frontend/src/ts/constants/languages.ts
  frontend/static/languages/hawaiian.json
  frontend/static/languages/hawaiian_1k.json
  packages/schemas/src/languages.ts
Labels: frontend, assets, packages

#6911 chore: Changed punctuation (@Leonabcd123)
  frontend/src/html/pages/about.html
Labels: frontend

#6915 chore: bump eslint typescript plugin (@miodec)
  .eslintignore
  backend/src/dal/leaderboards.ts
  backend/src/dal/new-quotes.ts
  frontend/src/ts/controllers/ad-controller.ts
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/controllers/route-controller.ts
  frontend/src/ts/elements/account/result-filters.ts
  frontend/src/ts/elements/keymap.ts
  frontend/src/ts/firebase.ts
  frontend/src/ts/modals/custom-text.ts
  frontend/src/ts/modals/edit-profile.ts
  frontend/src/ts/modals/saved-texts.ts
  frontend/src/ts/pages/leaderboards.ts
  frontend/src/ts/test/caps-warning.ts
  frontend/src/ts/test/funbox/funbox-functions.ts
  frontend/src/ts/test/lazy-mode.ts
  frontend/src/ts/test/test-logic.ts
  frontend/src/ts/test/test-ui.ts
  frontend/src/ts/test/test-words.ts
  frontend/src/ts/test/words-generator.ts
  frontend/src/ts/ui.ts
  frontend/src/ts/utils/arrays.ts
  frontend/src/ts/utils/misc.ts
  packages/contracts/src/configuration.ts
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/funbox/src/validation.ts
  pnpm-lock.yaml
Labels: backend, frontend, packages

#6914 feat(layout): add ergo_split46 layout (@viviengarcia)
  frontend/static/layouts/ergo_split46.json
  packages/schemas/src/layouts.ts
Labels: frontend, assets, packages

#6917 fix(testSettings): link with custom limit not applied correctly (@fehmer)
  frontend/src/ts/utils/url-handler.ts
Labels: frontend, waiting for review
