Repository monkeytypegame/monkeytype, pull requests merged in 2025-03, with the labels that each got.

#6330 feat(vim): Add new Vim commands for typing practice (@soycarlo99)
  frontend/static/languages/code_vim.json
Labels: frontend, assets

#6329 fix(account page): tidy up highest wpm description (@cosmatevs)
  frontend/src/ts/pages/account.ts
Labels: frontend

#6324 feat(language): add Thai 20k (@jnx03)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/thai_20k.json
Labels: frontend, assets

#6319 fix: Slow and Steady Challenge Authentication (@AnnaBuchholz)
  frontend/static/challenges/_list.json
Labels: frontend, assets

#6323 fix: fix errors not being logged into the database (@fehmer)
  backend/src/middlewares/error.ts
Labels: backend

#6245 impr(quotes): Add Chinese Quotes (@YuxOfficial)
  frontend/static/quotes/chinese_simplified.json
Labels: frontend, assets

#6300 fix: Remove invalid words from Greek lang (@sledgehammer999)
  frontend/static/languages/greek_10k.json
  frontend/static/languages/greek_1k.json
  frontend/static/languages/greek_25k.json
  frontend/static/languages/greek_5k.json
Labels: frontend, assets

#6318 refactor: use bearer auth instead of uid auth for tests (@fehmer)
  backend/__tests__/__testData__/auth.ts
  backend/__tests__/api/controllers/admin.spec.ts
  backend/__tests__/api/controllers/ape-key.spec.ts
  backend/__tests__/api/controllers/config.spec.ts
  backend/__tests__/api/controllers/configuration.spec.ts
  backend/__tests__/api/controllers/leaderboard.spec.ts
  backend/__tests__/api/controllers/preset.spec.ts
  backend/__tests__/api/controllers/psa.spec.ts
  backend/__tests__/api/controllers/quotes.spec.ts
  backend/__tests__/api/controllers/result.spec.ts
  backend/__tests__/api/controllers/user.spec.ts
Labels: backend

#6314 fix: handle legacy test settings urls (@fehmer)
  frontend/src/ts/utils/url-handler.ts
Labels: frontend, waiting for review

#6309 build: use tsup instead of esbuild for packages (@fehmer)
  packages/contracts/package.json
  packages/contracts/tsup.config.js
  packages/esbuild-config/index.js
  packages/esbuild-config/package.json
  packages/funbox/package.json
  packages/funbox/tsup.config.js
  packages/tsup-config/.eslintrc.cjs
  packages/tsup-config/package.json
  packages/tsup-config/src/index.ts
  packages/tsup-config/tsconfig.json
  packages/tsup-config/tsup.config.js
  packages/util/package.json
  packages/util/tsup.config.js
  pnpm-lock.yaml
Labels: waiting for review, packages

#6325 feat(languages): Add Kabyle language 200, 1k, 2k, 5k, 10k (@BoFFire)
  frontend/static/languages/_groups.json
  frontend/static/languages/kabyle.json
  frontend/static/languages/kabyle_10k.json
  frontend/static/languages/kabyle_1k.json
  frontend/static/languages/kabyle_2k.json
  frontend/static/languages/kabyle_5k.json
Labels: frontend, assets

#6305 impr: use zod schema for url parameters on leaderboard (@fehmer)
  frontend/package.json
  frontend/src/ts/pages/leaderboards.ts
  pnpm-lock.yaml
Labels: frontend, waiting for review

#6331 impr(quotes): add English quotes from Undertale and Deltarune (@HotDog640)
  frontend/static/quotes/english.json
Labels: frontend, assets

#6332 impr: leaderboard showing times in utc and local time (@fehmer)
  frontend/src/html/pages/leaderboards.html
  frontend/src/styles/media-queries-purple.scss
  frontend/src/ts/pages/leaderboards.ts
Labels: frontend

#6328 impr(leaderboard): show typing speed in selected unit (@fehmer)
  frontend/src/html/pages/leaderboards.html
  frontend/src/ts/pages/leaderboards.ts
Labels: frontend

#6338 chore: Improve branch check in release script (@fehmer)
  packages/release/src/index.js
Labels: waiting for review, packages

#6364 chore: update mongodb version to 5.0.13 (@fehmer)
  backend/docker/compose.db-only.yml
  backend/docker/compose.yml
  docker/docker-compose.yml
Labels: backend

#6339 chore: fix version in docker publish workflow (@fehmer)
  .github/workflows/publish-docker-images.yml
Labels: waiting for review, force-ci

#6343 build: fix openapi spec path for docs & stats endpoints on dev (@NadAlaba)
  backend/__tests__/tsconfig.json
  backend/scripts/tsconfig.json
  backend/src/api/routes/docs.ts
  backend/src/api/routes/swagger.ts
  backend/tsconfig.json
  frontend/__tests__/tsconfig.json
  packages/contracts/__test__/tsconfig.json
  packages/funbox/__test__/tsconfig.json
  packages/funbox/package.json
  packages/util/__test__/tsconfig.json
Labels: backend, frontend, packages

#6344 chore(workflows): update deprecated action and remove duplicate workflow message (@NadAlaba)
  .github/workflows/ci-failure-comment.yml
  .github/workflows/monkey-ci.yml
  .github/workflows/semantic-pr-title.yml
  .github/workflows/write-labels.yml
  packages/release/src/buildChangelog.js
Labels: waiting for review, packages, force-ci

#6352 feat(layout): Add Ergopti keyboard layout (@adrienm7)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6355 fix: protect against stored xss in custom background url (@fehmer)
  frontend/src/ts/controllers/theme-controller.ts
  packages/contracts/__test__/schema/config.spec.ts
  packages/contracts/src/schemas/configs.ts
Labels: frontend, packages

#6341 impr(language): add more keywords and chars to code_pascal (@fau)
  frontend/static/languages/code_pascal.json
Labels: waiting for update, frontend, assets

#6366 feat(layout): add Sword (@5quiwyrm)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6378 chore(workflows): use correct name of action input (@NadAlaba)
  .github/workflows/ci-failure-comment.yml
Labels: waiting for review, force-ci

#6379 feat(font): add Geist and Geist Mono (@extoci)
  frontend/src/styles/fonts.scss
  frontend/static/fonts/_list.json
  frontend/static/webfonts/Geist-Medium.woff2
  frontend/static/webfonts/GeistMono-Medium.woff2
Labels: frontend, assets

#6365 impr(quotes): add docker_file quotes (@SoulPancake)
  frontend/static/quotes/docker_file.json
Labels: frontend, assets

#6380 impr(result page): clicking on daily leaderboard rank opens the leaderboards page the user is on (@fehmer)
  frontend/src/ts/event-handlers/test.ts
  frontend/src/ts/pages/leaderboards.ts
  packages/contracts/src/leaderboards.ts
Labels: frontend, waiting for review, packages

#6348 feat(theme): add Phantom (@Cybertaco360)
  frontend/static/themes/_list.json
  frontend/static/themes/phantom.css
Labels: frontend, assets

#6337 feat: add Arabic_Egypt language and new Arabic quotes (@byseif21)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/arabic_egypt.json
  frontend/static/languages/arabic_egypt_1k.json
  frontend/static/quotes/arabic.json
  frontend/static/quotes/arabic_egypt.json
Labels: frontend, assets

#6350 feat(language): add bosnian (@aitchz)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/bosnian.json
Labels: frontend, assets

#6369 feat(language): add crimean tatar latin and cyrillic 200, 1k, 5k, 10k, 15k (@WhiteSun13)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/tatar_crimean.json
  frontend/static/languages/tatar_crimean_10k.json
  frontend/static/languages/tatar_crimean_15k.json
  frontend/static/languages/tatar_crimean_1k.json
  frontend/static/languages/tatar_crimean_5k.json
  frontend/static/languages/tatar_crimean_cyrillic.json
  frontend/static/languages/tatar_crimean_cyrillic_10k.json
  frontend/static/languages/tatar_crimean_cyrillic_15k.json
  frontend/static/languages/tatar_crimean_cyrillic_1k.json
  frontend/static/languages/tatar_crimean_cyrillic_5k.json
Labels: frontend, assets

#6385 feat(account page): start test activity graph on the users first day of the week (@fehmer)
  frontend/__tests__/elements/test-activity-calendar.spec.ts
  frontend/__tests__/utils/date-and-time.spec.ts
  frontend/__tests__/vitest.d.ts
  frontend/src/html/pages/account.html
  frontend/src/styles/account.scss
  frontend/src/ts/db.ts
  frontend/src/ts/elements/test-activity-calendar.ts
  frontend/src/ts/elements/test-activity.ts
  frontend/src/ts/utils/date-and-time.ts
Labels: frontend, force-ci

#6395 fix(language): fixed Marathi so that it shows up in the list of languages (@agokule)
  frontend/static/languages/_groups.json
  frontend/static/languages/_list.json
  frontend/static/languages/marathi.json
Labels: frontend, assets

#6397 fix(language): remove rustlang "box" keyword (@Huterenok)
  frontend/static/languages/code_rust.json
Labels: frontend, assets

#6401 fix: local development using docker not working with pnpm (@fehmer)
  backend/docker/compose.yml
  frontend/docker/compose.dev.yml
Labels: backend, frontend

#6404 chore: minify json files (@fehmer)
  frontend/vite.config.prod.js
Labels: frontend

#6384 feat(layout): update Bepo and optimot, add bepo afnor (@GuckicheLorraine)
  frontend/static/layouts/_list.json
Labels: frontend, assets

#6413 chore: minify html for production build (@fehmer)
  frontend/package.json
  frontend/vite.config.prod.js
  pnpm-lock.yaml
Labels: frontend

#5920 refactor: split updateWordsHeight() and move some style changes to .scss files (@NadAlaba)
  frontend/src/styles/test.scss
  frontend/src/ts/controllers/input-controller.ts
  frontend/src/ts/test/test-ui.ts
Labels: frontend, Stale, waiting for review
